<span class="action-title">Remove targeting</span>
<span class="change-summary"></span>
<div class="action-buttons"><button type="button" class="Button Button--primary Button--small" onclick="showModal('targeting');">Remove</button></div>