<script>
  var checked_count = $(".Table.line-items tbody td:nth-child(1) input:checked").length;
  var object_type = checked_count > 1 ? $(".Table.line-items").data("object") +"s" : $(".Table.line-items").data("object");
  $("#bulkedit-checked-count").html(checked_count);
  $("#bulkedit-object-type").html(object_type);
  $(document).on("click", ".Table.line-items tbody td:nth-child(1) input:checkbox", function(event) {
    checked_count = $(".Table.line-items tbody td:nth-child(1) input:checked").length;
    object_type = checked_count > 1 ? $(".Table.line-items").data("object") +"s" : $(".Table.line-items").data("object");
    $("#bulkedit-checked-count").html(checked_count);
    $("#bulkedit-object-type").html(object_type);
  });
  
  $(document).on("click", "#edititem-footer", function(event) { 
	  if (checked_count == 1) {
      switch ($(".Table.line-items").data("object")) {
        case "campaign":
          showPanel('edit-campaign-single');
          break;
        case 'ad group':
          showPanel('edit-adgroup-single');
          break;
      }
	  } else {
      switch ($(".Table.line-items").data("object")) {
        case "campaign":
          showPanel('edit-campaign-multiple');
          break;
        case 'ad group':
          showPanel('edit-adgroup-multiple');
          break;
      }
	  }
  });
  
  function unselectAll() {
	  $(".Table.line-items input:checkbox").prop("checked", false);
  	hideActionFooter();
  }
</script>
<span id="bulkedit-checked-count">1</span> <span id="bulkedit-object-type">campaign</span> selected

<button id="edititem-footer" type="button" class="Button Button--primary" style="margin-left:10px;">
  Edit
</button>

<button type="button" class="Button">
  Copy
</button>
<button type="button" class="Button">
  Delete
</button>
<button type="button" class="Button" onclick="unselectAll();">
  Unselect
</button>

<div class="float-right">
  <button type="button" class="Button">
    <span class="Icon Icon--pause"></span>
    Pause
  </button>
  <button type="button" class="Button">
    <span class="Icon Icon--play"></span>
    Resume
  </button>
</div>

