<script>
  var header_bottom = $("#adsmgr-page-header").offset().top + $("#adsmgr-page-header").outerHeight();
  $(".Table").stickyTableHeaders({fixedOffset: header_bottom});
  for (i = 0; i < 52; i++) {
    if (i == 5 || i == 6 || i == 9 || i == 14) {
      $(".Table.bigdata tbody").append('<tr class="copyme"><td>XXXXXXXX <span class="Label Label--light" style="color:#aab8c2">Removed 11 Nov 2015</span><a href="javascript:void(0);" class="edit-targeting-inline"><span class="Icon Icon--add"></span>Add to targeting</a></td><td class="alignrt">$1,438</td><td class="alignrt">4,298</td><td class="alignrt">$0.33</td><td class="alignrt">1.24%</td></tr>');
    } else {
      $(".Table.bigdata tbody").append('<tr class="copyme"><td>XXXXXXXX<span class="edit-targeting-inline"><span class="Icon Icon--remove">&#215;</span> <a href="javascript:void(0);">Remove from targeting</a></span></td><td class="alignrt">$1,438</td><td class="alignrt">4,298</td><td class="alignrt">$0.33</td><td class="alignrt">1.24%</td></tr>');
    }
  } 
  //$('.Table').checkboxes('range', true);
  $(".Table").resizableColumns();
</script>  
<div class="adsmgr-col col-right-withnav ltborder padleft">
  <h3>Keywords</h3>
  <table class="Table Table--striped bigdata">
    <thead class="">
      <tr class="">
        <th class="talignleft" style="width:100%">
          Keyword
        </th>
        <th class="alignrt Table-sortableHeader is-desc">
          Spend
        </th>
        <th class="alignrt">
          Impressions
        </th>
        <th class="alignrt">
          Cost per result
        </th>
        <th class="alignrt">
          Rate
        </th>
      </tr>
      <tr class="summary-row">
        <td>
          <strong id="table-adgroups-load-summary">Summary for 51 keywords</strong>
        </td>
        <td class="alignrt">
          $482.84
        </td>
        <td class="alignrt">
          19,044
        </td>
        <td class="nodata alignrt">
          -
        </td>
        <td class="nodata alignrt">
          -
        </td>
      </tr>
    </thead>
    <tbody>
      <!-- Append <tr> here -->
    </tbody>
  </table>
</div>