<script>
  var header_bottom = $("#adsmgr-page-header").offset().top + $("#adsmgr-page-header").outerHeight();
  $(".Table").stickyTableHeaders({fixedOffset: header_bottom});
  for (i = 0; i < 31; i++) {
    $(".Table.bigdata tbody").append('<tr class="copyme"><td>XXXXXXXX</td><td class="alignrt">$1,438</td><td class="alignrt">4,298</td><td class="alignrt">$0.33</td><td class="alignrt">1.24%</td></tr>');
  } 
  $('.Table').checkboxes('range', true);
  $(".Table").resizableColumns();
</script>  
<div class="adsmgr-col col-right-withnav ltborder padleft">
  <h3>Handles</h3>
  <table class="Table Table--striped bigdata">
    <thead class="">
      <tr class="">
        <th class="talignleft" style="width:100%">
          Handle
        </th>
        <th class="alignrt Table-sortableHeader is-desc">
          Spend
        </th>
        <th class="alignrt">
          Impressions
        </th>
        <th class="alignrt">
          Cost per result
        </th>
        <th class="alignrt">
          Rate
        </th>
      </tr>
      <tr class="summary-row">
        <td>
          <strong id="table-adgroups-load-summary">Summary for 30 handles</strong>
        </td>
        <td class="alignrt">
          $482.84
        </td>
        <td class="alignrt">
          19,044
        </td>
        <td class="nodata alignrt">
          -
        </td>
        <td class="nodata alignrt">
          -
        </td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          XXXXXXXX
        </td>
        <td class="alignrt">
          $1,438
        </td>
        <td class="alignrt">
          4,298
        </td>
        <td class="alignrt">
          $0.33
        </td>
        <td class="alignrt">  
           1.24%
        </td>
      </tr>
    </tbody>
  </table>
</div>