<div class="adsmgr-col col-mid withnav ltborder padleft">
  <div class="audience-block">
    <h3>Keywords</h3>
    <table class="Table">
      <thead>
        <tr>
          <th class="borderless">Keyword</th>
          <th class="Table-sortableHeader is-desc alignrt" style="width:100px">Spend</th>
        </tr>
      <thead>
      <tbody>
        <tr>
          <td class="borderless">baseball</td>
          <td class="alignrt">
            $1,293.52
            <div class="progress-bar-group">
              <div class="progress-bar-fill" style="width:100%;background:#005091;"></div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="borderless">mlb</td>
          <td class="alignrt">
            $834.93
            <div class="progress-bar-group">
              <div class="progress-bar-fill" style="width:84%;background:#005eab;"></div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="borderless">#playoffs</td>
          <td class="alignrt">
            $823.29
            <div class="progress-bar-group">
              <div class="progress-bar-fill" style="width:74%;background:#006cc4;"></div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="borderless">ballgame</td>
          <td class="alignrt">
            $812.49
            <div class="progress-bar-group">
              <div class="progress-bar-fill" style="width:73%;background:#007ade;"></div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="borderless">yankees</td>
          <td class="alignrt">
            $801.33
            <div class="progress-bar-group">
              <div class="progress-bar-fill" style="width:69%;background:#0088f7;"></div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="borderless">redsox</td>
          <td class="alignrt">
            $712.34
            <div class="progress-bar-group">
              <div class="progress-bar-fill" style="width:64%;background:#1295ff;"></div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="borderless">phillies</td>
          <td class="alignrt">
            $425.23
            <div class="progress-bar-group">
              <div class="progress-bar-fill" style="width:59%;background:#2ba0ff;"></div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="borderless">sfgiants</td>
          <td class="alignrt">
            $401.23
            <div class="progress-bar-group">
              <div class="progress-bar-fill" style="width:54%;background:#45abff;"></div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="borderless">homerun</td>
          <td class="alignrt">
            $311.32
            <div class="progress-bar-group">
              <div class="progress-bar-fill" style="width:49%;background:#5eb7ff;"></div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="borderless">homeplate</td>
          <td class="alignrt">
            $299.39
            <div class="progress-bar-group">
              <div class="progress-bar-fill" style="width:48%;background:#78c2ff;"></div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="borderless">xxxxxxxx</td>
          <td class="alignrt">
            $XXX.XX
            <div class="progress-bar-group">
              <div class="progress-bar-fill" style="width:38%;background:#78c2ff;"></div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="borderless">xxxxxxxx</td>
          <td class="alignrt">
            $XXX.XX
            <div class="progress-bar-group">
              <div class="progress-bar-fill" style="width:38%;background:#78c2ff;"></div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="borderless">xxxxxxxx</td>
          <td class="alignrt">
            $XXX.XX
            <div class="progress-bar-group">
              <div class="progress-bar-fill" style="width:38%;background:#78c2ff;"></div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="borderless">xxxxxxxx</td>
          <td class="alignrt">
            $XXX.XX
            <div class="progress-bar-group">
              <div class="progress-bar-fill" style="width:38%;background:#78c2ff;"></div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="borderless">xxxxxxxx</td>
          <td class="alignrt">
            $XXX.XX
            <div class="progress-bar-group">
              <div class="progress-bar-fill" style="width:38%;background:#78c2ff;"></div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="borderless">xxxxxxxx</td>
          <td class="alignrt">
            $XXX.XX
            <div class="progress-bar-group">
              <div class="progress-bar-fill" style="width:38%;background:#78c2ff;"></div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="borderless">xxxxxxxx</td>
          <td class="alignrt">
            $XXX.XX
            <div class="progress-bar-group">
              <div class="progress-bar-fill" style="width:38%;background:#78c2ff;"></div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="borderless">xxxxxxxx</td>
          <td class="alignrt">
            $XXX.XX
            <div class="progress-bar-group">
              <div class="progress-bar-fill" style="width:38%;background:#78c2ff;"></div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="borderless">xxxxxxxx</td>
          <td class="alignrt">
            $XXX.XX
            <div class="progress-bar-group">
              <div class="progress-bar-fill" style="width:38%;background:#78c2ff;"></div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="borderless">xxxxxxxx</td>
          <td class="alignrt">
            $XXX.XX
            <div class="progress-bar-group">
              <div class="progress-bar-fill" style="width:38%;background:#78c2ff;"></div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="borderless">xxxxxxxx</td>
          <td class="alignrt">
            $XXX.XX
            <div class="progress-bar-group">
              <div class="progress-bar-fill" style="width:38%;background:#78c2ff;"></div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="borderless">xxxxxxxx</td>
          <td class="alignrt">
            $XXX.XX
            <div class="progress-bar-group">
              <div class="progress-bar-fill" style="width:38%;background:#78c2ff;"></div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="borderless">xxxxxxxx</td>
          <td class="alignrt">
            $XXX.XX
            <div class="progress-bar-group">
              <div class="progress-bar-fill" style="width:38%;background:#78c2ff;"></div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="borderless">xxxxxxxx</td>
          <td class="alignrt">
            $XXX.XX
            <div class="progress-bar-group">
              <div class="progress-bar-fill" style="width:38%;background:#78c2ff;"></div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="borderless">xxxxxxxx</td>
          <td class="alignrt">
            $XXX.XX
            <div class="progress-bar-group">
              <div class="progress-bar-fill" style="width:38%;background:#78c2ff;"></div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="borderless">xxxxxxxx</td>
          <td class="alignrt">
            $XXX.XX
            <div class="progress-bar-group">
              <div class="progress-bar-fill" style="width:38%;background:#78c2ff;"></div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="borderless">xxxxxxxx</td>
          <td class="alignrt">
            $XXX.XX
            <div class="progress-bar-group">
              <div class="progress-bar-fill" style="width:38%;background:#78c2ff;"></div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="borderless">xxxxxxxx</td>
          <td class="alignrt">
            $XXX.XX
            <div class="progress-bar-group">
              <div class="progress-bar-fill" style="width:38%;background:#78c2ff;"></div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="borderless">xxxxxxxx</td>
          <td class="alignrt">
            $XXX.XX
            <div class="progress-bar-group">
              <div class="progress-bar-fill" style="width:38%;background:#78c2ff;"></div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="borderless">xxxxxxxx</td>
          <td class="alignrt">
            $XXX.XX
            <div class="progress-bar-group">
              <div class="progress-bar-fill" style="width:38%;background:#78c2ff;"></div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="borderless">xxxxxxxx</td>
          <td class="alignrt">
            $XXX.XX
            <div class="progress-bar-group">
              <div class="progress-bar-fill" style="width:38%;background:#78c2ff;"></div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="borderless">xxxxxxxx</td>
          <td class="alignrt">
            $XXX.XX
            <div class="progress-bar-group">
              <div class="progress-bar-fill" style="width:38%;background:#78c2ff;"></div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="borderless">xxxxxxxx</td>
          <td class="alignrt">
            $XXX.XX
            <div class="progress-bar-group">
              <div class="progress-bar-fill" style="width:38%;background:#78c2ff;"></div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="borderless">xxxxxxxx</td>
          <td class="alignrt">
            $XXX.XX
            <div class="progress-bar-group">
              <div class="progress-bar-fill" style="width:38%;background:#78c2ff;"></div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="borderless">xxxxxxxx</td>
          <td class="alignrt">
            $XXX.XX
            <div class="progress-bar-group">
              <div class="progress-bar-fill" style="width:38%;background:#78c2ff;"></div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="borderless">xxxxxxxx</td>
          <td class="alignrt">
            $XXX.XX
            <div class="progress-bar-group">
              <div class="progress-bar-fill" style="width:38%;background:#78c2ff;"></div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="borderless">xxxxxxxx</td>
          <td class="alignrt">
            $XXX.XX
            <div class="progress-bar-group">
              <div class="progress-bar-fill" style="width:38%;background:#78c2ff;"></div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="borderless">xxxxxxxx</td>
          <td class="alignrt">
            $XXX.XX
            <div class="progress-bar-group">
              <div class="progress-bar-fill" style="width:38%;background:#78c2ff;"></div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="borderless">xxxxxxxx</td>
          <td class="alignrt">
            $XXX.XX
            <div class="progress-bar-group">
              <div class="progress-bar-fill" style="width:38%;background:#78c2ff;"></div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="borderless">xxxxxxxx</td>
          <td class="alignrt">
            $XXX.XX
            <div class="progress-bar-group">
              <div class="progress-bar-fill" style="width:38%;background:#78c2ff;"></div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="borderless">xxxxxxxx</td>
          <td class="alignrt">
            $XXX.XX
            <div class="progress-bar-group">
              <div class="progress-bar-fill" style="width:38%;background:#78c2ff;"></div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="borderless">xxxxxxxx</td>
          <td class="alignrt">
            $XXX.XX
            <div class="progress-bar-group">
              <div class="progress-bar-fill" style="width:38%;background:#78c2ff;"></div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="borderless">xxxxxxxx</td>
          <td class="alignrt">
            $XXX.XX
            <div class="progress-bar-group">
              <div class="progress-bar-fill" style="width:38%;background:#78c2ff;"></div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="borderless">xxxxxxxx</td>
          <td class="alignrt">
            $XXX.XX
            <div class="progress-bar-group">
              <div class="progress-bar-fill" style="width:38%;background:#78c2ff;"></div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="borderless">xxxxxxxx</td>
          <td class="alignrt">
            $XXX.XX
            <div class="progress-bar-group">
              <div class="progress-bar-fill" style="width:38%;background:#78c2ff;"></div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>  
</div>
<div class="adsmgr-col col-right padleft">
  <div class="audience-block">
    <h3>Locations</h3>
    <img src="src/images/worldmap.png">
    <table class="Table" style="margin-top:7px">
      <thead>
        <tr>
          <th class="borderless">Country</th>
          <th class="alignrt">Spend</th>
        </tr>
      <thead>
      <tbody>
        <tr>
          <td class="borderless"><div class="colorchip" style="background:#005091"></div> United States</td>
          <td class="alignrt">
            $5,283.29
          </td>
        </tr>
        <tr>
          <td class="borderless"><div class="colorchip" style="background:#92D2FB"></div> Canada</td>
          <td class="alignrt">
            $984.22
          </td>
        </tr>
      </tbody>
    </table>
  </div>    
  <div class="audience-block">
    <h3>Gender</h3>
    <img src="src/images/gender.png">
    <table class="Table">
      <thead>
        <tr>
          <th class="borderless">Gender</th>
          <th class="alignrt">Spend</th>
        </tr>
      <thead>
      <tbody>
        <tr>
          <td class="borderless"><div class="colorchip" style="background:#005091"></div> Male</td>
          <td class="alignrt">
            $4,523.84
          </td>
        </tr>
        <tr>
          <td class="borderless"><div class="colorchip" style="background:#92D2FB"></div> Female</td>
          <td class="alignrt">
            $1,743.67
        </tr>
      </tbody>
    </table>
  </div>
  <div class="audience-block">
    <h3>Language</h3>
    <img src="src/images/language.png">
    <table class="Table">
      <thead>
        <tr>
          <th class="borderless">Language</th>
          <th class="alignrt">Spend</th>
        </tr>
      <thead>
      <tbody>
        <tr>
          <td class="borderless"><div class="colorchip" style="background:#005091"></div> English</td>
          <td class="alignrt">
            $5,938.34
          </td>
        </tr>
        <tr>
          <td class="borderless"><div class="colorchip" style="background:#92D2FB"></div> French</td>
          <td class="alignrt">
            $329.17
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="audience-block">
    <h3>Platform</h3>
    <img src="src/images/platform.png">
    <table class="Table">
      <thead>
        <tr>
          <th class="borderless">Platform</th>
          <th class="alignrt">Spend</th>
        </tr>
      <thead>
      <tbody>
        <tr>
          <td class="borderless"><div class="colorchip" style="background:#1DA2F3"></div> iOS</td>
          <td class="alignrt">
            $2,581.95
          </td>
        </tr>
        <tr>
          <td class="borderless"><div class="colorchip" style="background:#18CF86"></div> Android</td>
          <td class="alignrt">
            $2,348.39
        </tr>
        <tr>
          <td class="borderless"><div class="colorchip" style="background:#FBB91E"></div> Windows Phone</td>
          <td class="alignrt">
            $471.03
          </td>
        </tr>
        <tr>
          <td class="borderless"><div class="colorchip" style="background:#EA1C4F"></div> Blackberry</td>
          <td class="alignrt">
            $446.85
        </tr>
        <tr>
          <td class="borderless"><div class="colorchip" style="background:#991BED"></div> Other</td>
          <td class="alignrt">
            $419.29
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>  
<div style="clear:both"></div>