<script>
  for (i = 0; i < 101; i++) {
    $(".Table.bigdata tbody").append('<tr class="copyme"><td>XXXXXXXX</td><td class="alignrt">$X,XXX</td><td class="alignrt">X,XXX</td><td class="alignrt">$X.XX</td><td class="alignrt">X.XX%</td></tr>');
  } 
  $(".Table").resizableColumns();
</script>  
<div class="adsmgr-col col-right-withnav ltborder padleft">
  <h3><a href="javascript:$('#adsmgr-audience').load('audience-locations.html');">Locations</a> <span class="Icon Icon--caretRight src-views-NavigationBreadcrumbs-styles-module--separator"></span> United States</h3>
  <div class="audience-subsegment-pillgroup">
    <ul class="PillGroup" role="radiogroup">
      <li class="Pill" role="radio" aria-checked="true"><button type="button" onclick="$('#adsmgr-audience').load('audience-locations-subsegment-1.html');">Regions</button></li>
      <li class="Pill" role="radio" aria-checked="false"><button type="button" onclick="$('#adsmgr-audience').load('audience-locations-subsegment-2.html');">Metros</button></li>
      <li class="Pill is-selected" role="radio" aria-checked="false"><button type="button">Postal codes</button></li>
    </ul>
  </div>
  <table class="Table Table--striped bigdata" style="margin-top:7px">
    <thead class="">
      <tr class="">
        <th class="talignleft" style="width:100%">
          Postal code
        </th>
        <th class="alignrt Table-sortableHeader is-desc">
          Spend
        </th>
        <th class="alignrt">
          Impressions
        </th>
        <th class="alignrt">
          Cost per result
        </th>
        <th class="alignrt">
          Rate
        </th>
      </tr>
      <tr class="summary-row">
        <td>
          <strong id="table-adgroups-load-summary">Summary for 100 postal codes</strong>
        </td>
        <td class="alignrt">
          $XXX.XX
        </td>
        <td class="alignrt">
          XX,XXX
        </td>
        <td class="nodata alignrt">
          -
        </td>
        <td class="nodata alignrt">
          -
        </td>
      </tr>
    </thead>
    <tbody>
       <!-- Append <tr> here -->
    </tbody>
  </table>
</div>