<script>
  var header_bottom = $("#adsmgr-page-header").offset().top + $("#adsmgr-page-header").outerHeight();
  $(".Table").stickyTableHeaders({fixedOffset: header_bottom});
  for (i = 0; i < 51; i++) {
    $(".Table.bigdata tbody").append('<tr class="copyme"><td>XXXXXXXX <a href="javascript:void(0);" class="edit-targeting-inline"><span class="Icon Icon--add"></span>Add to targeting</a></td><td class="alignrt">$1,438</td><td class="alignrt">4,298</td><td class="alignrt">$0.33</td><td class="alignrt">1.24%</td></tr>');
  } 
  //$('.Table').checkboxes('range', true);
  $(".Table").resizableColumns();
</script>  
<div class="adsmgr-col col-right-withnav ltborder padleft">
  <!-- <h3>Interests <span class="text-secondary text-md">(non-targeted data may be delayed up to 24 hours)</span></h3> -->
  <h3>Interests</h3>
  <div class="audience-subsegment-pillgroup">
    <ul class="PillGroup" role="radiogroup">
      <li class="Pill is-selected" role="radio" aria-checked="true"><button type="button">All</button></li>
      <li class="Pill" role="radio" aria-checked="false"><button type="button" onclick="$('#adsmgr-audience').load('audience-interests-targeted.html');">Targeted</button></li>
      <li class="Pill" role="radio" aria-checked="false"><button type="button" onclick="$('#adsmgr-audience').load('audience-interests-alsoreached.html');">Also reached</button></li>
    </ul>
  </div>
  <table class="Table Table--striped bigdata">
    <thead class="">
      <tr class="">
        <th class="talignleft" style="width:100%">
          Interest
        </th>
        <th class="alignrt Table-sortableHeader is-desc">
          Spend
        </th>
        <th class="alignrt">
          Impressions
        </th>
        <th class="alignrt">
          Cost per result
        </th>
        <th class="alignrt">
          Rate
        </th>
      </tr>
      <tr class="summary-row">
        <td>
          <strong id="table-adgroups-load-summary">Summary for 50 interests</strong>
        </td>
        <td class="alignrt">
          $482.84
        </td>
        <td class="alignrt">
          19,044
        </td>
        <td class="nodata alignrt">
          -
        </td>
        <td class="nodata alignrt">
          -
        </td>
      </tr>
    </thead>
    <tbody>
      <!-- Append <tr> here -->
    </tbody>
  </table>
</div>