<script>
  $(".Table").resizableColumns();
</script>  
<div class="adsmgr-col col-right-withnav ltborder padleft">
  <!-- <h3>Platform <span class="text-secondary text-md">(non-targeted data may be delayed up to 24 hours)</span></h3> -->
  <h3>Platform</h3>
  <!-- <img src="src/images/platform.png"> -->
  <table class="Table Table--striped bigdata">
    <thead class="">
      <tr class="">
        <th class="talignleft" style="width:100%">
          Platform
        </th>
        <th class="alignrt Table-sortableHeader is-desc">
          Spend
        </th>
        <th class="alignrt">
          Impressions
        </th>
        <th class="alignrt">
          Cost per result
        </th>
        <th class="alignrt">
          Rate
        </th>
      </tr>
      <tr class="summary-row">
        <td>
          <strong id="table-adgroups-load-summary">Summary for 5 platforms</strong>
        </td>
        <td class="alignrt">
          $482.84
        </td>
        <td class="alignrt">
          19,044
        </td>
        <td class="nodata alignrt">
          -
        </td>
        <td class="nodata alignrt">
          -
        </td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <!-- <div class="colorchip" style="background:#1DA2F3"></div>  -->XXXXXXXX
          <a href="javascript:void(0);" class="edit-targeting-inline"><span class="Icon Icon--add"></span>Add to targeting</a>
        </td>
        <td class="alignrt">
          $1,438
        </td>
        <td class="alignrt">
          4,298
        </td>
        <td class="alignrt">
          $0.33
        </td>
        <td class="alignrt">  
           1.24%
        </td>
      </tr>
      <tr>
        <td>
          <!-- <div class="colorchip" style="background:#18CF86"></div>  -->XXXXXXXX
          <a href="javascript:void(0);" class="edit-targeting-inline"><span class="Icon Icon--add"></span>Add to targeting</a>
        </td>
        <td class="alignrt">
          $1,438
        </td>
        <td class="alignrt">
          4,298
        </td>
        <td class="alignrt">
          $0.33
        </td>
        <td class="alignrt">  
           1.24%
        </td>
      </tr>
      <tr>
        <td>
          <!-- <div class="colorchip" style="background:#FBB91E"></div>  -->XXXXXXXX
          <a href="javascript:void(0);" class="edit-targeting-inline"><span class="Icon Icon--add"></span>Add to targeting</a>
        </td>
        <td class="alignrt">
          $1,438
        </td>
        <td class="alignrt">
          4,298
        </td>
        <td class="alignrt">
          $0.33
        </td>
        <td class="alignrt">  
           1.24%
        </td>
      </tr>
      <tr>
        <td>
          <!-- <div class="colorchip" style="background:#EA1C4F"></div>  -->XXXXXXXX
          <a href="javascript:void(0);" class="edit-targeting-inline"><span class="Icon Icon--add"></span>Add to targeting</a>
        </td>
        <td class="alignrt">
          $1,438
        </td>
        <td class="alignrt">
          4,298
        </td>
        <td class="alignrt">
          $0.33
        </td>
        <td class="alignrt">  
           1.24%
        </td>
      </tr>
      <tr>
        <td>
          <!-- <div class="colorchip" style="background:#991BED"></div>  -->XXXXXXXX
          <a href="javascript:void(0);" class="edit-targeting-inline"><span class="Icon Icon--add"></span>Add to targeting</a>
        </td>
        <td class="alignrt">
          $1,438
        </td>
        <td class="alignrt">
          4,298
        </td>
        <td class="alignrt">
          $0.33
        </td>
        <td class="alignrt">  
           1.24%
        </td>
      </tr>
    </tbody>
  </table>
</div>