<script>
  $(".Table").resizableColumns();
</script>  
<div class="adsmgr-col col-right-withnav ltborder padleft">
  <h3>Location</h3>
  <!-- <img src="src/images/worldmap.png"> -->
  <table class="Table Table--striped bigdata" style="margin-top:7px">
    <thead class="">
      <tr class="">
        <th class="talignleft" style="width:100%">
          Location
        </th>
        <th class="alignrt Table-sortableHeader is-desc">
          Spend
        </th>
        <th class="alignrt">
          Impressions
        </th>
        <th class="alignrt">
          Cost per result
        </th>
        <th class="alignrt">
          Rate
        </th>
      </tr>
      <tr class="summary-row">
        <td>
          <strong id="table-adgroups-load-summary">Summary for 2 locations</strong>
        </td>
        <td class="alignrt">
          $X,XXX.XX
        </td>
        <td class="alignrt">
          XX,XXX
        </td>
        <td class="nodata alignrt">
          -
        </td>
        <td class="nodata alignrt">
          -
        </td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <a href="javascript:$('#adsmgr-audience').load('audience-locations-subsegment-1.html');">United States</a>
          <span class="edit-targeting-inline"><span class="Icon Icon--remove">&#215;</span> <a href="javascript:void(0);">Remove from targeting</a></span>
        </td>
        <td class="alignrt">
          $X,XXX.XX
        </td>
        <td class="alignrt">
          X,XXX
        </td>
        <td class="alignrt">
          $XX.XX
        </td>
        <td class="alignrt">  
           X.XX%
        </td>
      </tr>
      <tr>
        <td>
          <a href="#">Canada</a>
          <span class="edit-targeting-inline"><span class="Icon Icon--remove">&#215;</span> <a href="javascript:void(0);">Remove from targeting</a></span>
        </td>
        <td class="alignrt">
          $X,XXX.XX
        </td>
        <td class="alignrt">
          X,XXX
        </td>
        <td class="alignrt">
          $X.XX
        </td>
        <td class="alignrt">  
           X.XX%
        </td>
      </tr>
    </tbody>
  </table>
</div>