<div class="adsmgr-col col-mid withnav ltborder padleft">
  <div class="audience-block">
    <h3>Keywords</h3>
    <table class="Table targeting" data-targeting="keyword" data-actionfooter="targeting">
      <thead>
        <tr>
          <th>Keyword</th>
          <th class="alignrt" style="width:100px">Cost per result</th>
          <th class="Table-sortableHeader is-desc alignrt" style="width:100px">Spend</th>
        </tr>
      <thead>
      <tbody>
        <tr>
          <td>baseball</td>
          <td class="alignrt">$0.32</td>
          <td class="alignrt">
            $1,293.52
            <div class="progress-bar-group">
              <div class="progress-bar-fill" style="width:100%;background:#005091;"></div>
            </div>
          </td>
        </tr>
        <tr>
          <td>mlb</td>
          <td class="alignrt">$0.32</td>
          <td class="alignrt">
            $834.93
            <div class="progress-bar-group">
              <div class="progress-bar-fill" style="width:84%;background:#005eab;"></div>
            </div>
          </td>
        </tr>
        <tr>
          <td>grandslam</td>
          <td class="alignrt">$1.56</td>
          <td class="alignrt">
            $823.29
            <div class="progress-bar-group">
              <div class="progress-bar-fill" style="width:74%;background:#006cc4;"></div>
            </div>
          </td>
        </tr>
        <tr>
          <td>ballgame</td>
          <td class="alignrt">$0.37</td>
          <td class="alignrt">
            $812.49
            <div class="progress-bar-group">
              <div class="progress-bar-fill" style="width:73%;background:#007ade;"></div>
            </div>
          </td>
        </tr>
        <tr>
          <td>yankees</td>
          <td class="alignrt">$0.40</td>
          <td class="alignrt">
            $801.33
            <div class="progress-bar-group">
              <div class="progress-bar-fill" style="width:69%;background:#0088f7;"></div>
            </div>
          </td>
        </tr>
        <tr>
          <td>redsox</td>
          <td class="alignrt">$0.35</td>
          <td class="alignrt">
            $712.34
            <div class="progress-bar-group">
              <div class="progress-bar-fill" style="width:64%;background:#1295ff;"></div>
            </div>
          </td>
        </tr>
        <tr>
          <td>phillies</td>
          <td class="alignrt">$0.39</td>
          <td class="alignrt">
            $425.23
            <div class="progress-bar-group">
              <div class="progress-bar-fill" style="width:59%;background:#2ba0ff;"></div>
            </div>
          </td>
        </tr>
        <tr>
          <td>sfgiants</td>
          <td class="alignrt">$0.32</td>
          <td class="alignrt">
            $401.23
            <div class="progress-bar-group">
              <div class="progress-bar-fill" style="width:54%;background:#45abff;"></div>
            </div>
          </td>
        </tr>
        <tr>
          <td>homerun</td>
          <td class="alignrt">$0.36</td>
          <td class="alignrt">
            $311.32
            <div class="progress-bar-group">
              <div class="progress-bar-fill" style="width:49%;background:#5eb7ff;"></div>
            </div>
          </td>
        </tr>
        <tr>
          <td>homeplate</td>
          <td class="alignrt">$0.31</td>
          <td class="alignrt">
            $299.39
            <div class="progress-bar-group">
              <div class="progress-bar-fill" style="width:48%;background:#78c2ff;"></div>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="3"><a href="javascript:$('#audience-keywords').trigger('click');">41 more...</a></td>
        </tr>
      </tbody>
    </table>
  </div>  
  <div class="audience-block">
    <h3>Handles</h3>
    <table class="Table targeting handle" data-targeting="handle">
      <thead>
        <tr>
          <th>Handle</th>
          <th class="alignrt" style="width:100px">Cost per result</th>
          <th class="Table-sortableHeader is-desc alignrt" style="width:100px">Spend</th>
        </tr>
      <thead>
      <tbody>
        <tr>
          <td>@mlb</td>
          <td class="alignrt">$0.31</td>
          <td class="alignrt">
            $1,283.28
            <div class="progress-bar-group">
              <div class="progress-bar-fill" style="width:100%;background:#005091;"></div>
            </div>
          </td>
        </tr>
        <tr>
          <td>@espn</td>
          <td class="alignrt">$1.08</td>
          <td class="alignrt">
            $928.19
            <div class="progress-bar-group">
              <div class="progress-bar-fill" style="width:84%;background:#005eab;"></div>
            </div>
          </td>
        </tr>
        <tr>
          <td>@Redsox</td>
          <td class="alignrt">$0.33</td>
          <td class="alignrt">
            $324.29
            <div class="progress-bar-group">
              <div class="progress-bar-fill" style="width:74%;background:#006cc4;"></div>
            </div>
          </td>
        </tr>
        <tr>
          <td>@Phillies</td>
          <td class="alignrt">$0.29</td>
          <td class="alignrt">
            $314.23
            <div class="progress-bar-group">
              <div class="progress-bar-fill" style="width:73%;background:#007ade;"></div>
            </div>
          </td>
        </tr>
        <tr>
          <td>@Mariners</td>
          <td class="alignrt">$0.31</td>
          <td class="alignrt">
            $312.48
            <div class="progress-bar-group">
              <div class="progress-bar-fill" style="width:69%;background:#0088f7;"></div>
            </div>
          </td>
        </tr>
        <tr>
          <td>@Whitesox</td>
          <td class="alignrt">$0.30</td>
          <td class="alignrt">
            $298.39
            <div class="progress-bar-group">
              <div class="progress-bar-fill" style="width:64%;background:#1295ff;"></div>
            </div>
          </td>
        </tr>
        <tr>
          <td>@Rockies</td>
          <td class="alignrt">$0.34</td>
          <td class="alignrt">
            $289.10
            <div class="progress-bar-group">
              <div class="progress-bar-fill" style="width:59%;background:#2ba0ff;"></div>
            </div>
          </td>
        </tr>
        <tr>
          <td>@astros</td>
          <td class="alignrt">$0.36</td>
          <td class="alignrt">
            $274.28
            <div class="progress-bar-group">
              <div class="progress-bar-fill" style="width:54%;background:#45abff;"></div>
            </div>
          </td>
        </tr>
        <tr>
          <td>@SFGiants</td>
          <td class="alignrt">$0.31</td>
          <td class="alignrt">
            $272.29
            <div class="progress-bar-group">
              <div class="progress-bar-fill" style="width:49%;background:#5eb7ff;"></div>
            </div>
          </td>
        </tr>
        <tr>
          <td>@BlueJays</td>
          <td class="alignrt">$0.29</td>
          <td class="alignrt">
            $262.93
            <div class="progress-bar-group">
              <div class="progress-bar-fill" style="width:48%;background:#78c2ff;"></div>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="3"><a href="javascript:$('#audience-handles').trigger('click');">20 more...</a></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="audience-block">
    <h3>Behaviors</h3>
    <table class="Table targeting behavior" data-targeting="behavior">
      <thead>
        <tr>
          <th>Behavior</th>
          <th class="alignrt" style="width:100px">Cost per result</th>
          <th class="Table-sortableHeader is-desc alignrt" style="width:100px">Spend</th>
        </tr>
      <thead>
      <tbody>
        <tr>
          <td>Seasonal:Summer &mdash; MLB baseball fans</td>
          <td class="alignrt">$0.35</td>
          <td class="alignrt">
            $932.13
            <div class="progress-bar-group">
              <div class="progress-bar-fill" style="width:100%;background:#005091;"></div>
            </div>
          </td>
        </tr>
        <tr>
          <td>Sports &mdash; Professional baseball fans</td>
          <td class="alignrt">$0.34</td>
          <td class="alignrt">
            $863.99
            <div class="progress-bar-group">
              <div class="progress-bar-fill" style="width:84%;background:#005eab;"></div>
            </div>
          </td>
        </tr>
        <tr>
          <td>CPG brands:Beverage buyers &mdash; Sports drinks:Gatorade</td>
          <td class="alignrt">$1.20</td>
          <td class="alignrt">
            $719.39
            <div class="progress-bar-group">
              <div class="progress-bar-fill" style="width:74%;background:#006cc4;"></div>
            </div>
          </td>
        </tr>
        <tr>
          <td>Lifestyles &mdash; Sports fans</td>
          <td class="alignrt">$0.30</td>
          <td class="alignrt">
            $700.29
            <div class="progress-bar-group">
              <div class="progress-bar-fill" style="width:73%;background:#007ade;"></div>
            </div>
          </td>
        </tr>
        <tr>
          <td>Lifestyles &mdash; Luxury sports enthusiasts</td>
          <td class="alignrt">$0.35</td>
          <td class="alignrt">
            $681.71
            <div class="progress-bar-group">
              <div class="progress-bar-fill" style="width:69%;background:#0088f7;"></div>
            </div>
          </td>
        </tr>
        <tr>
          <td>Finance:Affluency &mdash; Affluent single women</td>
          <td class="alignrt">$0.34</td>
          <td class="alignrt">
            $647.29
            <div class="progress-bar-group">
              <div class="progress-bar-fill" style="width:64%;background:#1295ff;"></div>
            </div>
          </td>
        </tr>
        <tr>
          <td>Finance:Affluency &mdash; Affluent single men</td>
          <td class="alignrt">$0.35</td>
          <td class="alignrt">
            $638.43
            <div class="progress-bar-group">
              <div class="progress-bar-fill" style="width:59%;background:#2ba0ff;"></div>
            </div>
          </td>
        </tr>
        <tr>
          <td>CPG brands:Sweets &amp; snack buyers &mdash; Salty snacks:Doritos</td>
          <td class="alignrt">$0.35</td>
          <td class="alignrt">
            $631.39
            <div class="progress-bar-group">
              <div class="progress-bar-fill" style="width:54%;background:#45abff;"></div>
            </div>
          </td>
        </tr>
        <tr>
          <td>Lifestyles: Sale shoppers</td>
           <td class="alignrt">$0.32</td>
          <td class="alignrt">
            $611.49
            <div class="progress-bar-group">
              <div class="progress-bar-fill" style="width:49%;background:#5eb7ff;"></div>
            </div>
          </td>
        </tr>
        <tr>
          <td>CPG categories: Alcohol beverage buyers &mdash; Beer</td>
          <td class="alignrt">$0.35</td>
          <td class="alignrt">
            $603.25
            <div class="progress-bar-group">
              <div class="progress-bar-fill" style="width:48%;background:#78c2ff;"></div>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="3"><a href="javascript:$('#audience-behaviors').trigger('click');">10 more...</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="adsmgr-col col-right padleft">
  <div class="audience-block">
    <h3>Locations</h3>
    <img src="src/images/worldmap.png">
    <table class="Table" style="margin-top:7px">
      <thead>
        <tr>
          <th>Country</th>
          <th class="alignrt">Spend</th>
        </tr>
      <thead>
      <tbody>
        <tr>
          <td><div class="colorchip" style="background:#005091"></div> United States</td>
          <td class="alignrt">
            $5,283.29
          </td>
        </tr>
        <tr>
          <td><div class="colorchip" style="background:#92D2FB"></div> Canada</td>
          <td class="alignrt">
            $984.22
          </td>
        </tr>
      </tbody>
    </table>
  </div>    
  <div class="audience-block">
    <h3>Gender</h3>
    <img src="src/images/gender.png">
    <table class="Table">
      <thead>
        <tr>
          <th>Gender</th>
          <th class="alignrt">Spend</th>
        </tr>
      <thead>
      <tbody>
        <tr>
          <td><div class="colorchip" style="background:#005091"></div> Male</td>
          <td class="alignrt">
            $4,523.84
          </td>
        </tr>
        <tr>
          <td><div class="colorchip" style="background:#92D2FB"></div> Female</td>
          <td class="alignrt">
            $1,743.67
        </tr>
      </tbody>
    </table>
  </div>
  <div class="audience-block">
    <h3>Language</h3>
    <img src="src/images/language.png">
    <table class="Table">
      <thead>
        <tr>
          <th>Language</th>
          <th class="alignrt">Spend</th>
        </tr>
      <thead>
      <tbody>
        <tr>
          <td><div class="colorchip" style="background:#005091"></div> English</td>
          <td class="alignrt">
            $5,938.34
          </td>
        </tr>
        <tr>
          <td><div class="colorchip" style="background:#92D2FB"></div> French</td>
          <td class="alignrt">
            $329.17
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="audience-block">
    <h3>Platform</h3>
    <img src="src/images/platform.png">
    <table class="Table">
      <thead>
        <tr>
          <th>Platform</th>
          <th class="alignrt">Spend</th>
        </tr>
      <thead>
      <tbody>
        <tr>
          <td><div class="colorchip" style="background:#1DA2F3"></div> iOS</td>
          <td class="alignrt">
            $2,581.95
          </td>
        </tr>
        <tr>
          <td><div class="colorchip" style="background:#18CF86"></div> Android</td>
          <td class="alignrt">
            $2,348.39
        </tr>
        <tr>
          <td><div class="colorchip" style="background:#FBB91E"></div> Windows Phone</td>
          <td class="alignrt">
            $471.03
          </td>
        </tr>
        <tr>
          <td><div class="colorchip" style="background:#EA1C4F"></div> Blackberry</td>
          <td class="alignrt">
            $446.85
        </tr>
        <tr>
          <td><div class="colorchip" style="background:#991BED"></div> Other</td>
          <td class="alignrt">
            $419.29
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>  
<div style="clear:both"></div>