<div class="chart-flex">
  <div class="chart-content">
    <div class="DataPoint DataPoint--large AdsManager--account charted">
      <div class="DataPoint-label">Impressions last 7 days <span class="Icon Icon--caretDown Icon--smallest" style="margin-left:4px;"></span></div>
      <div class="DataPoint-info">
        19,044
        <!-- <span class="DataPoint-trend DataPoint-trend--positive">36.14%</span> -->
      </div>
      <!-- <p>You earned an extra 245,283 impressions</p> -->
    </div>
    <div class="fakechart">
      <div class="chart-top">
        <div class="bar" style="height:10px;margin-top:75px;"><span class="chart-date">Tue 1</span></div>
        <div class="bar" style="height:20px;margin-top:65px;"></div>
        <div class="bar" style="height:15px;margin-top:70px;"></div>
        <div class="bar" style="height:20px;margin-top:65px;"><span class="chart-date">Fri 4</span></div>
        <div class="bar" style="height:65px;margin-top:20px;"></div>
        <div class="bar" style="height:75px;margin-top:10px;"></div>
        <div class="bar" style="height:85px;margin-top:0;"><span class="chart-date">Today</span></div>
        <span class="chart-val">800K</span>
      </div>
      <div class="clear"></div>
      <div class="chart-bottom"></div>  
    </div>
    <div class="timeline-history">
      <div class="timeline-event four" style="margin-left:58%;">
        <div class="showtooltip-hover"></div>  
        <div class="Tooltip Tooltip--top" style="top:-34px;left:-124px;"> 
          <div class="Tooltip-triangle">    
            <div class="Tooltip-triangleOuter"></div>    
            <div class="Tooltip-triangleInner"></div>  
          </div>  
          <div class="Tooltip-inner">      
            <div class="Tooltip-content">Targeted 83 keywords</div>  
          </div>
        </div>
      </div>
    </div>  
  </div> 
  <div class="chart-content fixed-content object-description">
    <div class="DataPoint DataPoint--large AdsManager--account">
      <div class="DataPoint-label">Ad group details</div>
    </div>
    <div class="object-description-column">
      <dl>
        <dt>Dates</dt>
        <dd>Nov 9, 2015 &ndash; Dec 29, 2015</dd>
        <dt>Bid type</dt>
        <dd>Max bid</dd>
        <dt>Bid amount</dt>
        <dd>$2.00</dd>
      </dl>
    </div>
    <div class="object-description-column">
      <dl>
        <dt>Total budget</dt>
        <dd>$400.00</dd>
        <dt>Targeting</dt>
        <dd>
          51 keywords<br>
          2 locations
        </dd>
      </dl>
    </div>
    <div class="clear"></div>
    <!-- <span class="Label Label--info">Tip</span> &nbsp;&nbsp;2 of your ad groups appear to be underpacing, try updating your audience targeting -->
  </div>
</div>