<div class="chart-flex">
  <div class="chart-content">
    <div class="DataPoint AdsManager--account charted">
      <div class="dropdown-menu">
        <div class="DataPoint-label is-dropdown">
          Impressions last 7 days <span class="Icon Icon--caretDown Icon--smallest" style="font-size:10px;margin-left:4px;"></span>
        </div>
        <ul class="Dropdown">
          <li class="Dropdown-menuItem is-selected"><span class="Dropdown-menuItemContent">Impressions</span></li>
          <li class="Dropdown-menuItem"><span class="Dropdown-menuItemContent">Spend</span></li>
          <li class="Dropdown-menuItem"><span class="Dropdown-menuItemContent">Cost per result</span></li>
          <li class="Dropdown-menuItem"><span class="Dropdown-menuItemContent">Results rate</span></li>
        </ul>
      </div>
      <div class="DataPoint-info">
        4,811,855
        <!-- <span class="DataPoint-trend DataPoint-trend--positive">36.14%</span> -->
      </div>
      <!-- <p>You earned an extra 245,283 impressions</p> -->
    </div>
    <!-- <div class="fakechart">
      <div class="chart-top">
        <div class="bar" style="height:60px;margin-top:25px;"><span class="chart-date">Tue 1</span></div>
        <div class="bar" style="height:60px;margin-top:25px;"></div>
        <div class="bar" style="height:85px;margin-top:0;"></div>
        <div class="bar" style="height:75px;margin-top:10px;"><span class="chart-date">Fri 4</span></div>
        <div class="bar" style="height:65px;margin-top:20px;"></div>
        <div class="bar" style="height:75px;margin-top:10px;"></div>
        <div class="bar" style="height:85px;margin-top:0;"><span class="chart-date">Today</span></div>
        <span class="chart-val">800K</span>
      </div>
      <div class="clear"></div>
      <div class="chart-bottom"></div>
    </div> -->
    <div class="fakechart">
      <div class="chart-top">
        <div class="bar" style="height:60px;margin-top:25px;"><span class="chart-date">Tue 1</span></div>
        <div class="bar" style="height:60px;margin-top:25px;"></div>
        <div class="bar" style="height:85px;margin-top:0;"></div>
        <div class="bar" style="height:75px;margin-top:10px;"><span class="chart-date">Fri 4</span></div>
        <div class="bar" style="height:65px;margin-top:20px;"></div>
        <div class="bar" style="height:75px;margin-top:10px;"></div>
        <div class="bar" style="height:85px;margin-top:0;"><span class="chart-date">Today</span></div>
        <span class="chart-val">800K</span>
      </div>
      <div class="clear"></div>
      <div class="chart-bottom">
      </div>  
    </div>
    <div class="timeline-history">
      <div class="timeline-event one" style="margin-left:26%;">
        <div class="showtooltip-hover"></div>  
        <div class="Tooltip Tooltip--top" style="top:-34px;left:-124px;"> 
          <div class="Tooltip-triangle">    
            <div class="Tooltip-triangleOuter"></div>    
            <div class="Tooltip-triangleInner"></div>  
          </div>  
          <div class="Tooltip-inner">    
            <div class="Tooltip-content"><div class="colorchip"></div> Bid increased from $3.00 to $5.00</div>  
          </div>
        </div>
      </div>
      <div class="timeline-event one" style="margin-left:51%;">
        <div class="showtooltip-hover"></div>  
        <div class="Tooltip Tooltip--top" style="top:-34px;left:-124px;"> 
          <div class="Tooltip-triangle">    
            <div class="Tooltip-triangleOuter"></div>    
            <div class="Tooltip-triangleInner"></div>  
          </div>  
          <div class="Tooltip-inner">    
            <div class="Tooltip-content"><div class="colorchip"></div> Bid decreased from $5.00 to $3.00</div>  
          </div>
        </div>
      </div>
      <div class="timeline-event four" style="margin-left:58%;">
        <div class="showtooltip-hover"></div>  
        <div class="Tooltip Tooltip--top" style="top:-34px;left:-124px;"> 
          <div class="Tooltip-triangle">    
            <div class="Tooltip-triangleOuter"></div>    
            <div class="Tooltip-triangleInner"></div>  
          </div>  
          <div class="Tooltip-inner">      
            <div class="Tooltip-content"><div class="colorchip"></div> Targeted 83 keywords</div>  
          </div>
        </div>
      </div>
      <div class="timeline-event two" style="margin-left:70%;">
        <div class="showtooltip-hover"></div>  
        <div class="Tooltip Tooltip--top" style="top:-34px;left:-124px;"> 
          <div class="Tooltip-triangle">    
            <div class="Tooltip-triangleOuter"></div>    
            <div class="Tooltip-triangleInner"></div>  
          </div>  
          <div class="Tooltip-inner">      
            <div class="Tooltip-content"><div class="colorchip"></div> Campaign end date set to 12/29/2015</div>  
          </div>
        </div>
      </div>
    </div>
  </div> 
  <div class="chart-content fixed-content object-description">
    <div class="DataPoint DataPoint--large AdsManager--account">
      <div class="DataPoint-label">Campaign details</div>
    </div>
    <div class="object-description-column">
      <dl>
        <dt>Objective</dt>
        <dd>Website clicks or conversions</dd>
        <dt>Dates</dt>
        <dd>Nov 9, 2015 &ndash; Dec 29, 2015</dd>
        <dt>Today's pacing</dt>
        <dd>
          <span class="count-to" data-countto="65">0</span>%
          <div class="progress-bar">
            <div class="bar bg"></div>
            <div class="bar top"></div>
            <div class="marker" style="margin-left:60%"></div>
          </div>
        </dd>
      </dl>
    </div>
    <div class="object-description-column">
      <dl>
        <dt>Total budget</dt>
        <dd>$2,000.00</dd>
        <dt>Daily budget</dt>
        <dd>$200.00</dd>
        <dt>Funding source</dt>
        <dd>Barista-Bar-Q3-2016 (T123456)</dd>
      </dl>
    </div>
    <div class="clear"></div>
    <!-- <span class="Label Label--info">Tip</span> &nbsp;&nbsp;2 of your ad groups appear to be underpacing, try updating your audience targeting -->
  </div>
</div>