<div class="Callout Callout--danger">
  <ul>
    <li>
      <p>One or more users associated with your account has violated a policy and is ineligible to use Twitter Ads. <a href="javascript:showModal('violation');">More information.</a></p>
    </li>
    <li>
      <p>Your payment method is invalid. Please update it or add a new <a href="#">payment method</a>.</p>
    </li>  
  </ul>
</div>
<div class="chart-flex">
  <div class="chart-content">
    <div class="DataPoint AdsManager--account charted">
      <div class="DataPoint-label">Spend last 7 days</div>
      <div class="DataPoint-info">
        $17,328.25
        <!-- <span class="DataPoint-trend DataPoint-trend--positive">34.9%</span> -->
      </div>
      <!-- <p>You saved $725.89 from earned impressions</p> -->
    </div>
    <div class="fakechart">
      <div class="chart-top">
        <div class="bar" style="height:60px;margin-top:25px;"><span class="chart-date">Tue 1</span></div>
        <div class="bar" style="height:60px;margin-top:25px;"></div>
        <div class="bar" style="height:85px;margin-top:0;"></div>
        <div class="bar" style="height:75px;margin-top:10px;"><span class="chart-date">Fri 4</span></div>
        <div class="bar" style="height:65px;margin-top:20px;"></div>
        <div class="bar" style="height:75px;margin-top:10px;"></div>
        <div class="bar" style="height:85px;margin-top:0;"><span class="chart-date">Today</span></div>
        <span class="chart-val">$3K</span>
      </div>
      <div class="clear"></div>
      <div class="chart-bottom">
      </div>  
    </div>
  </div>
  <div class="chart-content">
    <div class="DataPoint AdsManager--account charted">
      <div class="DataPoint-label">Impressions last 7 days</div>
      <div class="DataPoint-info">
        4,811,855
        <!-- <span class="DataPoint-trend DataPoint-trend--positive">36.14%</span> -->
      </div>
      <!-- <p>You earned an extra 245,283 impressions</p> -->
    </div>
    <div class="fakechart">
      <div class="chart-top">
        <div class="bar" style="height:60px;margin-top:25px;"><span class="chart-date">Tue 1</span></div>
        <div class="bar" style="height:60px;margin-top:25px;"></div>
        <div class="bar" style="height:85px;margin-top:0;"></div>
        <div class="bar" style="height:75px;margin-top:10px;"><span class="chart-date">Fri 4</span></div>
        <div class="bar" style="height:65px;margin-top:20px;"></div>
        <div class="bar" style="height:75px;margin-top:10px;"></div>
        <div class="bar" style="height:85px;margin-top:0;"><span class="chart-date">Today</span></div>
        <span class="chart-val">800K</span>
      </div>
      <div class="clear"></div>
      <div class="chart-bottom">
      </div>  
    </div>
    <!-- <img src="src/images/landing-chart-only2.png" style="width:100%;height:84px;margin-top:18px;"> -->
  </div>  
  <div class="chart-content fixed-content">
    <div class="DataPoint DataPoint--large AdsManager--account">
      <div class="DataPoint-label dark-text">Notifications</div>
    </div>
    <div class="notifications-container">
      <div class="notify-text">
        <p>
          Welcome to Twitter Ads Manager (BETA)! It's faster to monitor and optimize campaigns with new <a href="javascript:void(0)" onclick="showModal('intro-1');">filtering, metrics customization, and export</a> capabilities.
        </p>  
        <p>   
          <strong>Ads Manager</strong> is your default site for ads.twitter.com | <a href="javascript:showModal('set-default');" >change this</a>
        </p>
        <p>  
          <a href="https://docs.google.com/forms/d/1nSo3zOawvNPrdZCk5GUGKvyOMilTphdkreWmIZwQGuI/viewform" target="_blank"><span class="Icon Icon--conversation"></span>Please share your feedback here</a>
        </p>
        <p>  
          <a href="javascript:void(0);"><span class="Icon Icon--url"></span>Ads Manager help center</a>
        </p>
        <p>  
          <a href="javascript:void(0);"><span class="Icon Icon--download"></span>Go to original version of the dashboard</a>
        </p>
        <!-- <div class="notifications-subsection">
          Love Ads Manager?
          <button type="button" class="Button Button--small Button--secondary">
             Make this my default site
          </button>
          <span class="Icon Icon--featherTooltipCue showtooltip"></span>
          <div class="Tooltip Tooltip--topLeft Tooltip--left" style="top:-28px;left:74px;">
            <div class="Tooltip-triangle">
              <div class="Tooltip-triangleOuter"></div>
              <div class="Tooltip-triangleInner"></div>
            </div>
            <div class="Tooltip-inner">
              <span class="Tooltip-close Icon Icon--close Icon--smallest" aria-hidden="true"></span>
              <div class="Tooltip-content">This will make Ads Manager your default site for ads.twitter.com.</div>
            </div>
          </div>
        </div> -->
      </div>  
    </div>
  </div>
</div>