<div class="chart-flex">
  <div class="chart-content">
    <div class="DataPoint AdsManager--account charted">
      <div class="dropdown-menu">
        <div class="DataPoint-label is-dropdown">
          Impressions last 7 days <span class="Icon Icon--caretDown Icon--smallest" style="font-size:10px;margin-left:4px;"></span>
        </div>
        <ul class="Dropdown">
          <li class="Dropdown-menuItem is-selected"><span class="Dropdown-menuItemContent">Impressions</span></li>
          <li class="Dropdown-menuItem"><span class="Dropdown-menuItemContent">Spend</span></li>
          <li class="Dropdown-menuItem"><span class="Dropdown-menuItemContent">Cost per result</span></li>
          <li class="Dropdown-menuItem"><span class="Dropdown-menuItemContent">Results rate</span></li>
        </ul>
      </div>
      <div class="DataPoint-info">
        273,205
        <!-- <span class="DataPoint-trend DataPoint-trend--positive">36.14%</span> -->
      </div>
      <!-- <p>You earned an extra 245,283 impressions</p> -->
    </div>
    <!-- <div class="fakechart">
      <div class="chart-top">
        <div class="bar" style="height:60px;margin-top:25px;"><span class="chart-date">Tue 1</span></div>
        <div class="bar" style="height:60px;margin-top:25px;"></div>
        <div class="bar" style="height:85px;margin-top:0;"></div>
        <div class="bar" style="height:75px;margin-top:10px;"><span class="chart-date">Fri 4</span></div>
        <div class="bar" style="height:65px;margin-top:20px;"></div>
        <div class="bar" style="height:75px;margin-top:10px;"></div>
        <div class="bar" style="height:85px;margin-top:0;"><span class="chart-date">Today</span></div>
        <span class="chart-val">800K</span>
      </div>
      <div class="clear"></div>
      <div class="chart-bottom"></div>
    </div> -->
    <div class="fakechart">
      <div class="chart-top">
        <div class="bar" style="height:60px;margin-top:25px;"><span class="chart-date">Tue 1</span></div>
        <div class="bar" style="height:60px;margin-top:25px;"></div>
        <div class="bar" style="height:85px;margin-top:0;"></div>
        <div class="bar" style="height:75px;margin-top:10px;"><span class="chart-date">Fri 4</span></div>
        <div class="bar" style="height:65px;margin-top:20px;"></div>
        <div class="bar" style="height:75px;margin-top:10px;"></div>
        <div class="bar" style="height:85px;margin-top:0;"><span class="chart-date">Today</span></div>
        <span class="chart-val">800K</span>
      </div>
      <div class="clear"></div>
      <div class="chart-bottom">
      </div>  
    </div>
  </div> 
  <div class="chart-content fixed-content object-description">
    <div class="DataPoint DataPoint--large AdsManager--account">
      <div class="DataPoint-label">Funding source details</div>
    </div>
    <div class="object-description-column">
      <dl>
        <dt>Budget</dt>
        <dd>$10,000.00</dd>
        <dt>Dates</dt>
        <dd>Nov 9, 2015 &ndash; Dec 29, 2015</dd>
        <dt>Pacing</dt>
        <dd>
          <span class="count-to" data-countto="49">0</span>%
          <div class="progress-bar">
            <div class="bar bg"></div>
            <div class="bar top"></div>
            <div class="marker" style="margin-left:60%"></div>
          </div>
        </dd>
      </dl>
    </div>
    <div class="object-description-column">
      <dl>
        <dt>Spent</dt>
        <dd>$4,892.21</dd>
        <dt>Remaining budget</dt>
        <dd>$5,107.79</dd>
      </dl>
    </div>
    <div class="clear"></div>
    <!-- <span class="Label Label--info">Tip</span> &nbsp;&nbsp;2 of your ad groups appear to be underpacing, try updating your audience targeting -->
  </div>
</div>