<div class="chart-left-content" style="width:900px">
  <img src="src/images/campaign-chart.png" style="width:900px;height:180px;">
</div>  
<div class="chart-right-content object-description">
    <div class="object-description-column">
      <dl>
        <dt>Objective</dt>
        <dd>Website clicks or conversions</dd>
        <dt>Dates</dt>
        <dd>9 Nov 2015 &mdash; 29 Dec 2015</dd>
        <dt>Today's pacing</dt>
        <dd>
          <span class="count-to" data-countto="65">0</span>%
          <div class="progress-bar">
            <div class="bar bg"></div>
            <div class="bar top"></div>
            <div class="marker" style="margin-left:60%"></div>
          </div>
        </dd>
      </dl>
    </div>
    <div class="object-description-column">
      <dl>
        <dt>Total budget</dt>
        <dd>$2,000.00</dd>
        <dt>Daily budget</dt>
        <dd>$200.00</dd>
      </dl>
    </div>
    <div class="object-description-column">
      <dl>
        <dt>Funding source</dt>
        <dd>Barista-Bar-Q3-2016 (T123456)</dd>
      </dl>
    </div>
    <div class="clear"></div>
    <!-- <span class="Label Label--info">Tip</span> &nbsp;&nbsp;2 of your ad groups appear to be underpacing, try updating your audience targeting -->
</div> 