<div class="adsmgr-avatar">
  <img src="src/images/avatar.png">
</div>
<div class="adsmgr-account-header">
  The Barista Bar <span class="Icon Icon--verified" style="font-size:15px;color:#77c7f7"></span>
  <div class="handle">@baristabar</div>
</div>  
<div style="background:redd;position:relative">
  
</div>  
<div class="adsmgr-topbar-controls">
    <label class="funding-source-hide"><input type="checkbox" checked="checked" /> <span class="hadDeliveryText ">Only show items that delivered in this time frame</span></label>
    <div class="ButtonGroup ButtonGroup--small">
      <button type="button" class="Button" onClick="alert('Links to objective picker.');">Create campaign</button>
      <div class="ButtonGroup dropdown-menu">
        <button type="button" class="Button Button--split">
          <span class="Button-adornment">
            <span class="Icon Icon--caretDown"></span>
          </span>
        </button>
        <ul class="Dropdown Dropdown--right no-padding" style="width:194px">
          <li class="Dropdown-menuItem"><span class="Dropdown-menuItemContent">Tweet engagements</span></li>
          <li class="Dropdown-menuItem"><span class="Dropdown-menuItemContent">Video views</span></li>
          <li class="Dropdown-menuItem"><span class="Dropdown-menuItemContent">Website visits</span></li>
          <li class="Dropdown-menuItem"><span class="Dropdown-menuItemContent">Website conversions</span></li>
          <li class="Dropdown-menuItem"><span class="Dropdown-menuItemContent">App installs or re-engagements</span></li>
          <li class="Dropdown-menuItem"><span class="Dropdown-menuItemContent">Followers</span></li>
           <li class="Dropdown-menuItem"><span class="Dropdown-menuItemContent">Leads on Twitter</span></li>
            <li class="Dropdown-menuItem"><span class="Dropdown-menuItemContent">Pre-roll video views</span></li>
             <li class="Dropdown-menuItem"><span class="Dropdown-menuItemContent">Awareness</span></li>
              <li class="Dropdown-menuItem"><span class="Dropdown-menuItemContent">Mid-roll video views</span></li>
        </ul>
      </div>
    </div>
    <button class="DateRangeDropdownTarget Button Button--small Button--primary">  <span class="Icon Icon--featherCalendar"></span>  <span class="DateRangeDropdownTarget-label">Last 7 days</span>  <span class="Icon Icon--caretDown"></span></button>
</div>