<div class="adsmgr-breadcrumb">
  <!-- <div class="object-icon account"></div>  -->
  <a href="javascript:loadLevel('account','up');">The Barista Bar</a> 
  <div class="divider"></div>
  <!-- <div class="object-icon campaign"></div> -->
  <span class="text-secondary">Campaign:</span> <a href="javascript:loadLevel('campaign','up');">Life Stages Coffee Campaign</a> 
  <div class="divider"></div>
</div>  
<div class="adsmgr-subpage-header">
  <!-- <div class="object-icon large adgroup"></div> -->
  <span class="text-secondary">Ad group:</span> Life Stages - Keywords
</div>  
<div class="adsmgr-topbar-controls smallmargin">
  <label><input type="checkbox" /> <span class="hadDeliveryText ">Only show items that delivered in this time frame</span></label>
  <span class="Label Label--statusDot Label--green" style="margin-right:8px;line-height:27px;">Running</span>
  <button type="button" class="Button Button--small Button">
    <span class="Icon Icon--pause"></span>
    Pause
  </button>
  <div class="ButtonGroup ButtonGroup--small">
    <button type="button" class="Button">Edit ad group</button>
    <div class="ButtonGroup dropdown-menu">
      <button type="button" class="Button">
        <span class="Button-adornment">
          <span class="Icon Icon--caretDown"></span>
        </span>
      </button>
      <ul class="Dropdown Dropdown--right no-padding">
        <li class="Dropdown-menuItem"><a class="Dropdown-menuItemContent">Copy ad group</a></li>
        <li class="Dropdown-menuItem"><a class="Dropdown-menuItemContent" onclick="showModal('delete-campaign');">Delete ad group</a></li>
        <li class="Dropdown-menuItem"><a class="Dropdown-menuItemContent">Open in original dashboard &rarr;</a></li>
      </ul>
    </div>
  </div>
  <!-- <button type="button" class="Button Button--small Button--tertiary filter-dropdown">
    Filters
    <span class="Icon Icon--caretDown"></span>
  </button> -->
  <button class="DateRangeDropdownTarget Button Button--small Button--primary">  <span class="Icon Icon--featherCalendar"></span>  <span class="DateRangeDropdownTarget-label">Last 7 days</span>  <span class="Icon Icon--caretDown"></span></button>  
</div>