<div class="adsmgr-breadcrumb">
  <!-- <div class="object-icon account"></div> --> 
  <a href="javascript:loadLevel('account','up');">The Barista Bar</a>
  <div class="divider"></div>
</div>  
<div class="adsmgr-subpage-header">
  <!-- <span class="Icon Icon--creditCard"></span> --> 
  <span class="text-secondary">Funding source:</span> Barista-Bar-Q3-2016 (T123456)
</div>  
<div class="adsmgr-topbar-controls smallmargin">
  <label><input type="checkbox" /> <span class="hadDeliveryText ">Only show items that delivered in this time frame</span></label>
  <span class="Label Label--statusDot Label--green" style="margin-right:8px">Active</span>
  <button type="button" class="Button Button--small Button--tertiary Button">
    Use funding source dates
  </button>
  <button class="DateRangeDropdownTarget Button Button--small Button--primary">  <span class="Icon Icon--featherCalendar"></span>  <span class="DateRangeDropdownTarget-label">Last 7 days</span>  <span class="Icon Icon--caretDown"></span></button>  
</div>