<div class="Sheet" style="display: block;">
  <div class="Sheet-overlay"></div>
  <div class="Sheet-headerWrapper"></div>
  <div class="Sheet-containerWrapper">
    <div class="Sheet-container">
      <div class="Sheet-content">
        <!-- <div class="Sheet-headerContainer">
          <div class="Sheet-header">
            <h3 class="Sheet-title">Twitter Ads Manager</h3>
            <button type="button" class="Sheet-close" aria-hidden="true" onclick="hideModal();">
              <span class="Icon Icon--close Icon--small"></span>
            </button>
          </div>
        </div> -->
        <div class="Sheet-body">
          <div class="introContent">
            <img src="src/images/AdsManagerAdGroups.svg">
            <h2>New campaign elements</h2>
            <p>
              Now you can analyze your account at every level &mdash; campaign, ad groups, and ads. Each campaign contains an ad group, where you can view the targeting and Tweets or custom creative in each of your ads.
            </p>  
          </div>  
        </div>
      </div>
      <div class="Sheet-footerContainer">
        <div class="Sheet-footer">
          <button class="Button Button--primary" onclick="hideModal();">Get started now!</button>
          <button class="Button Button" onclick="showModal('intro-4');">Back</button>
          <div class="Sheet-footerText">5 / 5</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="Sheet-footerWrapper"></div>
</div>