<div class="SheetWrapper Sheet is-bottomAnchored is-withFixedFooter export" style="display: block;">
  <div class="Sheet-overlay"></div>
  <div class="Sheet-headerWrapper"></div>
  <div class="Sheet-containerWrapper is-open">
    <div class="Sheet-container">
      <div class="Sheet-content" style="padding-bottom:0">
        <div class="Sheet-headerContainer">
          <div class="Sheet-header">
            <h3 class="Sheet-title">Export: The Barista Bar</h3>
            <button type="button" class="Sheet-close" aria-hidden="true" onclick="hideModal();">
              <span class="Icon Icon--close Icon--small"></span>
            </button>
          </div>
        </div>
        <div class="Callout Callout--info" style="display:none">
          <p>This export may require up to 24 hours to complete. You'll be alerted when the export is ready for download.</p>
          <!-- <p>You have 1 export ready for download in <a href="javascript:void(0)">data downloads</a>.</p> -->
        </div>
        <div class="Sheet-body" style="padding-bottom:0">
          <!-- Row 1 -->
          <div>
            <div class="Sheet-summaryBlock">
              <p class="text-sm Sheet-summaryTitle">Items to export</p>
              <p class="text-md Sheet-summaryHighlight">Campaigns</p>
              <!-- More options start -->
              <div class="checkmark-input" style="display:none">
                <div class="options-toggle">
                  <div class="options-toggle-switch">
                    <button class="FeatherDocs-expandableToggle" type="button">
                      <span class="Icon Icon--caretRight Icon--smallest"></span>
                    </button>
                    <a href="javascript:void(0);">More options</a>
                  </div>
                  <div class="more-options">
                    <ul>
                      <li><label><input type="checkbox"> Tweets</label></li>
                      <li><label><input type="checkbox"> Creatives</label></li>
                      <li><label><input type="checkbox"> Platforms</label></li>
                      <li><label><input type="checkbox"> Locations</label></li>
                      <li><label><input type="checkbox"> Demographics</label></li>
                      <li><label><input type="checkbox"> Ad groups</label></li>
                    </ul>
                  </div>
                </div> 
              </div>
              <!-- More options end -->
            </div>
            <div class="Sheet-summaryBlock">
              <p class="text-sm Sheet-summaryTitle">Filtered by</p>
              <p class="text-md Sheet-summaryHighlight">3 filters</p>
            </div>
            <div class="Sheet-summaryBlock">
              <p class="text-sm Sheet-summaryTitle">time frame</p>
              <p class="text-md Sheet-summaryHighlight">10/31/2015 &ndash; 12/31/2016</p>
            </div>
          </div>
          <!-- Row 1 end -->
          <div class="clear"></div>
          <!-- Row 2 -->
          <div>
            <div class="Sheet-summaryBlock">
              <p class="text-sm Sheet-summaryTitle">Funding sources</p>
              <p class="text-md Sheet-summaryHighlight">Multiple funding sources</p>
            </div>
            <div class="Sheet-summaryBlock">
              <div class="RadioCheckmarkGroup">
                <p class="text-sm Sheet-summaryTitle">Metrics</p>
                <div class="text-md Sheet-summaryHighlight">
                  8 metrics
                </div>
              </div>
            </div>
            <div class="Sheet-summaryBlock">
              <p class="text-sm Sheet-summaryTitle">Additional metrics</p>
              <div class="text-md Sheet-summaryHighlight">
                <label><input type="checkbox"> Include website conversions by tag</label>
                <div style="display:inline-block;position:relative;">
                  <span class="Icon Icon--featherTooltipCue showtooltip"></span>
                  <div class="Tooltip" style="top:1px;left:14px;">
                    <div class="Tooltip-triangle">
                      <div class="Tooltip-triangleOuter"></div>
                      <div class="Tooltip-triangleInner"></div>
                    </div>
                    <div class="Tooltip-inner">
                      <span class="Tooltip-close Icon Icon--close Icon--smallest" aria-hidden="true"></span>
                      <div class="Tooltip-content">Website conversion metrics require that conversion tracking is set up on your website. Website conversion data is not available for audiences.</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Row 2 end -->
          <div class="clear"></div>
          <!-- Row 3 -->
          <div>
            <div class="Sheet-summaryBlock">
              <p class="text-sm Sheet-summaryTitle">Breakdown</p>
              <div class="RadioCheckmarkGroup">
                <p>
                  <label><input type="radio" name="breakdown" checked="checked"> Totals</label>
                  <br>
                  <label><input type="radio" name="breakdown"> Daily</label>
                  <br>
                  <label><input type="radio" name="breakdown"> Hourly</label>
                  <br>
                  <label><input type="checkbox"> Include placement breakdown</label>
                </p>
              </div>
            </div>
            <div class="Sheet-summaryBlock">
              <p class="text-sm Sheet-summaryTitle">
                Include audiences
              </p>
              <div class="RadioCheckmarkGroup">
                <div class="RadioCheckmarkGroup">
                  <p class="radiocheck-column">
                    <label><input type="checkbox"> Keywords</label>
                    <br>
                    <label><input type="checkbox"> Handles</label>
                    <br>
                    <label><input type="checkbox"> Behaviors</label>
                    <br>
                    <script>
                      $("#export-location-parentlevel").change(function(){
                        $("#export-location-sublevels").toggle();
                      });
                      $("#export-location-sublevels input:checkbox").change(function(){
                        if ($("#export-location-sublevels input:checked").length == 0) {
                          $("#export-location-sublevels").hide();
                          $("#export-location-sublevels input:eq(0)").attr("checked", true);
                          $("#export-location-parentlevel").attr("checked", false);
                        }
                      });
                    </script>
                    <label><input type="checkbox" id="export-location-parentlevel"> Location</label>
                    <span id="export-location-sublevels" style="display:none">
                      <br>
                      <label class="radiocheck-sublevel"><input type="checkbox" checked="checked"> Country</label>
                      <br>
                      <label class="radiocheck-sublevel"><input type="checkbox"> Regions</label>
                      <br>
                      <label class="radiocheck-sublevel"><input type="checkbox"> Metros</label>
                      <br>
                      <label class="radiocheck-sublevel"><input type="checkbox"> Postal codes</label>
                    </span>  
                    <br>
                    <label><input type="checkbox"> Gender</label>
                    <br>
                    <label><input type="checkbox"> Language</label>
                    <br>
                    <label><input type="checkbox"> Platform</label>
                    <br>
                    <label><input type="checkbox"> Interest</label>
                    <br>
                    <label><input type="checkbox"> Event</label>
                    <br>
                    <label><input type="checkbox"> TV shows</label>
                    <br>
                    <label><input type="checkbox"> Audiences</label>
                    <br>
                    <label><input type="checkbox"> Age</label>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-- <div>
            <div class="Sheet-summaryBlock">
              <p class="text-sm Sheet-summaryTitle">Grouping</p>
               Group by:
               <div class="dropdown-menu">
                 <button type="button" class="Button Button--small Button--tertiary">
                   None
                   <span class="Icon Icon--caretDown"></span>
                 </button>
                 <ul class="Dropdown">
                   <li class="Dropdown-menuItem is-selected"><a class="Dropdown-menuItemContent">None</a></li>
                   <li class="Dropdown-menuItem"><a class="Dropdown-menuItemContent">Objective</a></li>
                   <li class="Dropdown-menuItem"><a class="Dropdown-menuItemContent">Funding source</a></li>
                   <li class="Dropdown-menuItem"><a class="Dropdown-menuItemContent">Status</a></li>
                 </ul>
               </div>
              </p>
            </div>
          </div> -->
          <!-- Row 3 end -->  
          <div class="clear"></div>
        </div>
      </div>
      <div class="Sheet-footerContainer">
        <div class="Sheet-footer">
          <button class="Button Button--primary" onclick="showModal('downloads');">Download</button>
          <button class="Button" onclick="hideModal();">Cancel</button>
          <div class="Sheet-footerText footer-message" style="width:720px">
            Download times will vary depending on selections and time range chosen. Billed engagements and spend data reported in this export are accurate for data older than 24 hours. For more recent data, spend is reported as an estimate.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="Sheet-footerWrapper"></div>
</div>