<div class="Sheet" style="display: block;">
  <div class="Sheet-overlay"></div>
  <div class="Sheet-headerWrapper"></div>
  <div class="Sheet-containerWrapper">
    <div class="Sheet-container">
      <div class="Sheet-content">
        <!-- <div class="Sheet-headerContainer">
          <div class="Sheet-header">
            <h3 class="Sheet-title">Twitter Ads Manager</h3>
            <button type="button" class="Sheet-close" aria-hidden="true" onclick="hideModal();">
              <span class="Icon Icon--close Icon--small"></span>
            </button>
          </div>
        </div> -->
        <div class="Sheet-body">
          <div class="introContent">
            <img src="src/images/AdsManagerIntro.svg">
            <h2>Welcome to the new Twitter Ads Manager!</h2>
            <p>
              Check out new ways you can analyze and improve campaign performance.
            </p>  
          </div>  
        </div>
      </div>
      <div class="Sheet-footerContainer">
        <div class="Sheet-footer">
          <button class="Button Button--primary" onclick="showModal('intro-2');">Next</button>
          <div class="Sheet-footerText">1 / 5</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="Sheet-footerWrapper"></div>
</div>