<div class="Sheet" style="display: block;">
  <div class="Sheet-overlay"></div>
  <div class="Sheet-headerWrapper"></div>
  <div class="Sheet-containerWrapper">
    <div class="Sheet-container">
      <div class="Sheet-content">
        <div class="Sheet-headerContainer">
          <div class="Sheet-header">
            <h3 class="Sheet-title">Set default site</h3>
            <button type="button" class="Sheet-close" aria-hidden="true" onclick="hideModal();">
              <span class="Icon Icon--close Icon--small"></span>
            </button>
          </div>
        </div>
        <div class="Sheet-body">
          <p>When I visit ads.twitter.com:</p>
          <div class="RadioCheckmarkGroup">
            <p>
              <label style="font-weight:normal">
                <input type="radio" name="default-setting" checked="checked"> Go to <strong>Ads Manager (BETA)</strong>
              </label>
              <br>
              <label style="font-weight:normal">
                <input type="radio" name="default-setting"> Go to <strong>original version of the dashboard</strong>
              </label>
            </p>
          </div>
        </div>
      </div>
      <div class="Sheet-footerContainer">
        <div class="Sheet-footer">
          <button class="Button Button--primary" onclick="hideModal();">Apply</button>
          <button class="Button" onclick="hideModal();">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="Sheet-footerWrapper"></div>
</div>