<div class="Sheet metrics" style="display: block;">
  <div class="Sheet-overlay"></div>
  <div class="Sheet-headerWrapper"></div>
  <div class="Sheet-containerWrapper">
    <div class="Sheet-container" style="width:824px">
      <div class="Sheet-content" style="padding-bottom:0">
        <div class="Sheet-headerContainer">
          <div class="Sheet-header">
            <h3 class="Sheet-title">Customize Metrics</h3>
            <button type="button" class="Sheet-close" aria-hidden="true" onclick="hideModal();">
              <span class="Icon Icon--close Icon--small"></span>
            </button>
          </div>
        </div>
        <div class="Sheet-body" style="padding-bottom:0">
          <div class="custom-metrics-container">
            <div class="custom-metrics-box">
              <div class="search-container">
                <div class="FormInputWrapper FormInputWrapper--withAbsoluteEndAdornment FormInputWrapper--small" style="width:280px;margin-right:8px;">
                  <input type="text" class="FormInput" placeholder="Search metrics">
                  <span class="FormInputWrapper-absoluteEndAdornment">
                    <span class="Icon Icon--search"></span>
                  </span>
                </div>
                <script>
                  $("#jump-to-metric").change(function(){
                    var elementIndex = $(this).val();
                    var scrollToElement = $("#scrollable-metrics-list .metrics-list:eq("+elementIndex+")").position().top;
                    //alert(scrollToElement );
                    $("#scrollable-metrics-list").animate({ scrollTop: scrollToElement  }, 300, "swing");
                    // $(this).find("option:selected").prop("selected", false);
                  });                  
                </script>
                
                <fieldset class="FormSelect" style="display:inline-block">
                  <select id="jump-to-metric" class="example-basic">
                    <optgroup label="General">
                      <option value="0">Delivery</option>
                      <option value="1">Spend</option>
                      <option value="2">Settings</option>
                    </optgroup>
                    <optgroup label="By objective">
                      <option value="3">Tweet engagements</option>
                      <option value="4">Video views</option>
                      <option value="5">Pre-roll</option>
                      <option value="6">Mid-roll</option>
                      <option value="7">Website clicks or conversions</option>
                      <option value="8">Conversions</option>
                      <option value="9">App installs or re-engagements</option>
                      <option value="10">Followers</option> 
                      <option value="11">Leads on Twitter</option>    
                    </optgroup>
                    <optgroup label="Twitter internal only">
                      <option value="12">Auction insights</option>
                    </optgroup>
                  </select>
                  <button type="button" class="Button Button--small Button--tertiary" tabindex="-1">
                    <span class="Button-adornment Button-adornment--end">
                      <span class="Icon Icon--caretDown"></span>
                    </span>
                    <span class="Button-label">Jump to a category&hellip;</span>
                  </button>
                </fieldset>
              </div>  
              <div id="scrollable-metrics-list" class="custom-metrics-scrollable">
                <h3>General</h3>
                <!-- Metrics section start -->  
                <div class="metrics-list">
                  <div class="options-toggle">
                    <span class="options-toggle-switch">
                      <!-- <button class="FeatherDocs-expandableToggle is-expanded" type="button">
                        <span class="Icon Icon--caretRight Icon--smallest"></span>
                      </button>
                      <a class="section" href="javascript:void(0);">Delivery</a> <span class="count nonzero">3</span> -->
                      <span class="section" href="javascript:void(0);">Delivery</span> <span class="count nonzero">3</span>
                    </span>
                    <a class="select-section" href="javascript:void(0);">select all</a>
                    <div class="more-options" style="display:block">
                      <ul class="tooltips-hover">
                        <li><label><input type="checkbox" checked="checked"> Impressions <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Qualified impressions <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Total audience reach <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Cost per 1k impressions <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Cost per 1k qualified impressions <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Average frequency <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Results <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox" checked="checked"> Results rate <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox" checked="checked"> Cost per result <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Campaign daily pacing <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Billed results <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Billed results rate <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Cost per billed result <span class="Icon Icon--featherTooltipCue"></span></label></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- Metrics section end -->
                <!-- Metrics section start -->  
                <div class="metrics-list">
                  <div class="options-toggle">
                    <span class="options-toggle-switch">
                      <!-- <button class="FeatherDocs-expandableToggle is-expanded" type="button">
                        <span class="Icon Icon--caretRight Icon--smallest"></span>
                      </button>
                      <a class="section" href="javascript:void(0);">Spend</a> <span class="count nonzero">4</span> -->
                      <span class="section" href="javascript:void(0);">Spend</span> <span class="count nonzero">4</span>
                    </span>
                    <a class="select-section" href="javascript:void(0);">select all</a>
                    <div class="more-options" style="display:block">
                      <ul class="tooltips-hover">
                        <li><label><input type="checkbox" checked="checked"> Total budget <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox" checked="checked"> Daily budget <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox" checked="checked"> Ad group total budget <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Bid type <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox" checked="checked"> Bid amount <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Bid optimization <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Spend <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Funding source lifetime budget <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Funding source lifetime spend <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Funding source lifetime pacing <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Funding source lifetime budget remaining <span class="Icon Icon--featherTooltipCue"></span></label></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- Metrics section end -->
                <!-- Metrics section start -->  
                <div class="metrics-list">
                  <div class="options-toggle">
                    <span class="options-toggle-switch disabled">
                      <!-- <button class="FeatherDocs-expandableToggle is-expanded" type="button">
                        <span class="Icon Icon--caretRight Icon--smallest"></span>
                      </button>
                      <a class="section" href="javascript:void(0);">Settings</a> <span class="count nonzero">3</span> -->
                      <span class="section" href="javascript:void(0);">Settings</span> <span class="count nonzero">3</span> 
                    </span>
                    <a class="select-section" href="javascript:void(0);">select all</a>
                    <div class="more-options" style="display:block">
                      <ul class="tooltips-hover">
                        <!-- <li><label><input type="checkbox" checked="checked" disabled="disabled"> Campaign name</label> <span class="Icon Icon--featherTooltipCue"></span></li>
                        <li><label><input type="checkbox" checked="checked"> Status</label> <span class="Icon Icon--featherTooltipCue"></span></li>
                        <li><label><input type="checkbox" checked="checked"> Campaign start</label> <span class="Icon Icon--featherTooltipCue"></span></li>
                        <li><label><input type="checkbox" checked="checked"> Campaign end</label> <span class="Icon Icon--featherTooltipCue"></span></li> -->
                        <li><label><input type="checkbox"> Campaign ID <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox" checked="checked"> Campaign start <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox" checked="checked"> Campaign end <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li>
                          <label>
                            <input type="checkbox"> Ad group ID
                            <span class="Icon Icon--featherTooltipCue"></span>
                            <div class="Tooltip Tooltip--topLeft Tooltip--left" style="right:1px;top:-76px;">  
                              <div class="Tooltip-triangle">    
                                <div class="Tooltip-triangleOuter"></div>    
                                <div class="Tooltip-triangleInner"></div>  
                              </div>  
                              <div class="Tooltip-inner">
                                <div class="Tooltip-content">
                                  <p class="tooltip-title">Ad group ID</p>
                                  ID number for each ad group.
                                  <hr>
                                  Applies to:
                                  <span class="Label Label--light">Ad groups</span> &middot;
                                  <span class="Label Label--light">Ads</span>
                                </div>  
                              </div>
                            </div>
                          </label>
                        </li>
                        <li>
                          <label>
                            <input type="checkbox"> Ad group start
                            <span class="Icon Icon--featherTooltipCue"></span>
                            <div class="Tooltip Tooltip--topLeft Tooltip--left" style="right:1px;top:-94px;">  
                              <div class="Tooltip-triangle">    
                                <div class="Tooltip-triangleOuter"></div>    
                                <div class="Tooltip-triangleInner"></div>  
                              </div>  
                              <div class="Tooltip-inner">
                                <div class="Tooltip-content">
                                  <p class="tooltip-title">Ad group start</p>
                                  The date your ad group is scheduled to start running.
                                  <hr>
                                  Applies to:
                                  <span class="Label Label--light">Ad groups</span>
                                </div>  
                              </div>
                            </div>
                          </label>
                        </li>
                        <li>
                          <label>
                            <input type="checkbox"> Ad group end
                            <span class="Icon Icon--featherTooltipCue"></span>
                            <div class="Tooltip Tooltip--topLeft Tooltip--left" style="right:1px;top:-94px;">  
                              <div class="Tooltip-triangle">    
                                <div class="Tooltip-triangleOuter"></div>    
                                <div class="Tooltip-triangleInner"></div>  
                              </div>  
                              <div class="Tooltip-inner">
                                <div class="Tooltip-content">
                                  <p class="tooltip-title">Ad group end</p>
                                  The date your ad group is scheduled to stop running.
                                  <hr>
                                  Applies to:
                                  <span class="Label Label--light">Ad groups</span>
                                </div>  
                              </div>
                            </div>
                          </label>
                        </li>
                        <li>
                          <label>
                            <input type="checkbox"> Tweet ID
                            <span class="Icon Icon--featherTooltipCue"></span>
                            <div class="Tooltip Tooltip--topLeft Tooltip--left" style="right:1px;top:-76px;">  
                              <div class="Tooltip-triangle">    
                                <div class="Tooltip-triangleOuter"></div>    
                                <div class="Tooltip-triangleInner"></div>  
                              </div>  
                              <div class="Tooltip-inner">
                                <div class="Tooltip-content">
                                  <p class="tooltip-title">Tweet ID</p>
                                  The unique ID for your Tweet.
                                  <hr>
                                  Applies to:
                                  <span class="Label Label--light">Ads</span>
                                </div>  
                              </div>
                            </div>
                          </label>
                        </li>
                        <li>
                          <label>
                            <input type="checkbox"> Account
                            <span class="Icon Icon--featherTooltipCue"></span>
                            <div class="Tooltip Tooltip--topLeft Tooltip--left" style="right:1px;top:-76px;">  
                              <div class="Tooltip-triangle">    
                                <div class="Tooltip-triangleOuter"></div>    
                                <div class="Tooltip-triangleInner"></div>  
                              </div>  
                              <div class="Tooltip-inner">
                                <div class="Tooltip-content">
                                  <p class="tooltip-title">Account</p>
                                  <em>Description coming soon.</em>
                                  <hr>
                                  Applies to:
                                  <span class="Label Label--light">Campaigns</span>
                                </div>  
                              </div>
                            </div>
                          </label>
                        </li>
                        <li>
                          <label>
                            <input type="checkbox" checked="checked"> Objective
                            <span class="Icon Icon--featherTooltipCue"></span>
                            <div class="Tooltip Tooltip--topLeft Tooltip--left" style="right:1px;top:-130px;">  
                              <div class="Tooltip-triangle">    
                                <div class="Tooltip-triangleOuter"></div>    
                                <div class="Tooltip-triangleInner"></div>  
                              </div>  
                              <div class="Tooltip-inner">
                                <div class="Tooltip-content">
                                  <p class="tooltip-title">Objective</p>
                                  The objective you selected for your campaign. Your objective reflects what you want to achieve.
                                  <hr>
                                  Applies to:
                                  <span class="Label Label--light">Funding sources</span> &middot;
                                  <span class="Label Label--light">Campaigns</span> &middot;
                                  <span class="Label Label--light">Ad groups</span> &middot;
                                  <span class="Label Label--light">Ads</span>
                                </div>  
                              </div>
                            </div>
                          </label>
                        </li>
                        <li>
                          <label>
                            <input type="checkbox"> Funding source
                            <span class="Icon Icon--featherTooltipCue"></span>
                            <div class="Tooltip Tooltip--topLeft Tooltip--left" style="right:1px;top:-94px;">  
                              <div class="Tooltip-triangle">    
                                <div class="Tooltip-triangleOuter"></div>    
                                <div class="Tooltip-triangleInner"></div>  
                              </div>  
                              <div class="Tooltip-inner">
                                <div class="Tooltip-content">
                                  <p class="tooltip-title">Funding source</p>
                                  The payment method for your campaign.
                                  <hr>
                                  Applies to:
                                  <span class="Label Label--light">Campaigns</span>
                                </div>  
                              </div>
                            </div>
                          </label>
                        </li>
                        <li><label><input type="checkbox"> Currency <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Funding source start<span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Funding source end<span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Campaign name <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Ad group name <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Media creative name <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Media creative ID <span class="Icon Icon--featherTooltipCue"></span></label></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- Metrics section end -->
                <h3>By objective</h3>
                <!-- Metrics section start -->  
                <div class="metrics-list">
                  <div class="options-toggle">
                    <span class="options-toggle-switch">
                      <!-- <button class="FeatherDocs-expandableToggle is-expanded" type="button">
                        <span class="Icon Icon--caretRight Icon--smallest"></span>
                      </button>
                      <a class="section" href="javascript:void(0);">Tweet engagements</a> <span class="count">0</span> -->
                      <span class="section" href="javascript:void(0);">Tweet engagements</span> <span class="count">0</span>
                    </span>
                    <a class="select-section" href="javascript:void(0);">select all</a>
                    <div class="more-options" style="display:block">
                      <ul class="tooltips-hover">
                        <li><label><input type="checkbox"> Tweet engagements <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Engagement rate <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Cost per engagement <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Clicks <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Media views <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Media view rate <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Media engagements <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Likes <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Retweets <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Replies <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Unfollows <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Card engagements <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Hashtag 1 - conversation card <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Hashtag 2 - conversation card <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Hashtag 3 - conversation card <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Hashtag 4 - conversation card <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Tweets Posted <span class="Icon Icon--featherTooltipCue"></span></label></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- Metrics section end -->
                <!-- Metrics section start -->  
                <div class="metrics-list">
                  <div class="options-toggle">
                    <span class="options-toggle-switch">
                      <!-- <button class="FeatherDocs-expandableToggle is-expanded" type="button">
                        <span class="Icon Icon--caretRight Icon--smallest"></span>
                      </button>
                      <a class="section" href="javascript:void(0);">Video views</a> <span class="count">0</span> -->
                      <span class="section" href="javascript:void(0);">Video views</span> <span class="count">0</span>
                    </span>
                    <a class="select-section" href="javascript:void(0);">select all</a>
                    <div class="more-options" style="display:block">
                      <ul class="tooltips-hover">
                        <li><label><input type="checkbox"> Cost per video view <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Video completions <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Video call to action <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Video played 25% <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Video played 50% <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Video played 75% <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Video starts <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Video view rate <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Video views <span class="Icon Icon--featherTooltipCue"></span></label></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- Metrics section end -->
                <!-- Metrics section start -->  
                <div class="metrics-list">
                  <div class="options-toggle">
                    <span class="options-toggle-switch">
                      <!-- <button class="FeatherDocs-expandableToggle is-expanded" type="button">
                        <span class="Icon Icon--caretRight Icon--smallest"></span>
                      </button>
                      <a class="section" href="javascript:void(0);">Pre-roll</a> <span class="count">0</span> -->
                      <span class="section" href="javascript:void(0);">Pre-roll</span> <span class="count">0</span>
                    </span>
                    <a class="select-section" href="javascript:void(0);">select all</a>
                    <div class="more-options" style="display:block">
                      <ul class="tooltips-hover">
                        <li><label><input type="checkbox"> Cost per pre-roll video view <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Cost per 1k pre-roll video starts <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Pre-roll video completions <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Pre-roll video played 25% <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Pre-roll video played 50% <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Pre-roll video played 75% <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Pre-roll video starts <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Pre-roll video view rate <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Pre-roll video views <span class="Icon Icon--featherTooltipCue"></span></label></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- Metrics section end -->
                <!-- Metrics section start -->  
                <div class="metrics-list">
                  <div class="options-toggle">
                    <span class="options-toggle-switch">
                      <!-- <button class="FeatherDocs-expandableToggle is-expanded" type="button">
                        <span class="Icon Icon--caretRight Icon--smallest"></span>
                      </button>
                      <a class="section" href="javascript:void(0);">Mid-roll</a> <span class="count">0</span> -->
                      <span class="section" href="javascript:void(0);">Mid-roll</span> <span class="count">0</span>
                    </span>
                    <a class="select-section" href="javascript:void(0);">select all</a>
                    <div class="more-options" style="display:block">
                      <ul class="tooltips-hover">
                        <li><label><input type="checkbox"> Mid-roll video starts <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Mid-roll video played 25% <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Mid-roll video played 50% <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Mid-roll video played 75% <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Mid-roll video completions <span class="Icon Icon--featherTooltipCue"></span></label></li>
                    </div>
                  </div>
                </div>
                <!-- Metrics section end -->
                <!-- Metrics section start -->  
                <div class="metrics-list">
                  <div class="options-toggle">
                    <span class="options-toggle-switch">
                      <!-- <button class="FeatherDocs-expandableToggle is-expanded" type="button">
                        <span class="Icon Icon--caretRight Icon--smallest"></span>
                      </button>
                      <a class="section" href="javascript:void(0);">Website clicks or conversions</a> <span class="count">0</span> -->
                      <span class="section" href="javascript:void(0);">Website clicks or conversions</span> <span class="count">0</span>
                    </span>
                    <a class="select-section" href="javascript:void(0);">select all</a>
                    <div class="more-options" style="display:block">
                      <p style="color:#657786">
                        Conversion metrics require that conversion tracking is set up in your <a href="javascript:void(0)">app</a> or <a href="javascript:void(0)">website</a>.
                      </p>  
                      <ul class="tooltips-hover">
                        <li><label><input type="checkbox"> Cost per link click <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Link click rate <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Link clicks <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Return on ad spend <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Key conversions <span class="Icon Icon--featherTooltipCue"></span></label></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- Metrics section end -->
                <!-- Metrics section start -->  
                <div class="metrics-list">
                  <div class="options-toggle">
                    <span class="options-toggle-switch">
                      <!-- <button class="FeatherDocs-expandableToggle is-expanded" type="button">
                        <span class="Icon Icon--caretRight Icon--smallest"></span>
                      </button>
                      <a class="section" href="javascript:void(0);">Conversions</a> <span class="count">0</span> -->
                      <span class="section" href="javascript:void(0);">Conversions</span> <span class="count">0</span>
                    </span>
                    <a class="select-section" href="javascript:void(0);">select all</a>
                    <div class="more-options" style="display:block">
                      <ul class="tooltips-hover">
                        <li><label><input type="checkbox"> App opens - post engagement <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> App opens - assisted <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> App opens - post view <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> App opens <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Cost per app open <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Installs - post engagement <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Installs - assisted <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Installs - post view <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Installs <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Cost per install <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Sign ups - post engagement <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Sign ups - assisted <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Sign ups - post view <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Cost per sign up <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Purchases - post engagement <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Purchases - assisted <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Purchases - post view <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Purchases - estimated <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Purchases <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Purchases - order quantity <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Purchases - sale amount <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Cost per purchase <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Lifetime value - purchases <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Lifetime value - purchase sale amount <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Site visits - post engagement <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Site visits - post view <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Site visits - estimated <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Site visits <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Cost per site visit <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Custom events - engage <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Custom events - view <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Custom events - estimated <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Custom events <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Target CPA <span class="Icon Icon--featherTooltipCue"></span></label></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- Metrics section end -->
                <!-- Metrics section start -->  
                <div class="metrics-list">
                  <div class="options-toggle">
                    <span class="options-toggle-switch">
                      <!-- <button class="FeatherDocs-expandableToggle is-expanded" type="button">
                        <span class="Icon Icon--caretRight Icon--smallest"></span>
                      </button>
                      <a class="section" href="javascript:void(0);">App installs or re-engagements</a> <span class="count">0</span> -->
                      <span class="section" href="javascript:void(0);">App installs or re-engagements</span> <span class="count">0</span>
                    </span>
                    <a class="select-section" href="javascript:void(0);">select all</a>
                    <div class="more-options" style="display:block">
                      <ul class="tooltips-hover">
                        <li><label><input type="checkbox"> App clicks <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> App clicks rate <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Cost per app click <span class="Icon Icon--featherTooltipCue"></span></label></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- Metrics section end -->
                <!-- Metrics section start -->  
                <div class="metrics-list">
                  <div class="options-toggle">
                    <span class="options-toggle-switch">
                      <!-- <button class="FeatherDocs-expandableToggle is-expanded" type="button">
                        <span class="Icon Icon--caretRight Icon--smallest"></span>
                      </button>
                      <a class="section" href="javascript:void(0);">Followers</a> <span class="count">0</span> -->
                      <span class="section" href="javascript:void(0);">Followers</span> <span class="count">0</span>
                    </span>
                    <a class="select-section" href="javascript:void(0);">select all</a>
                    <div class="more-options" style="display:block">
                      <ul class="tooltips-hover">
                        <li><label><input type="checkbox"> Cost per follow <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Follow rate <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Follows <span class="Icon Icon--featherTooltipCue"></span></label></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- Metrics section end -->
                <!-- Metrics section start -->  
                <div class="metrics-list">
                  <div class="options-toggle">
                    <span class="options-toggle-switch">
                      <!-- <button class="FeatherDocs-expandableToggle is-expanded" type="button">
                        <span class="Icon Icon--caretRight Icon--smallest"></span>
                      </button>
                      <a class="section" href="javascript:void(0);">Leads on Twitter</a> <span class="count">0</span> -->
                      <span class="section" href="javascript:void(0);">Leads on Twitter</span> <span class="count">0</span>
                    </span>
                    <a class="select-section" href="javascript:void(0);">select all</a>
                    <div class="more-options" style="display:block">
                      <ul class="tooltips-hover">
                        <li><label><input type="checkbox"> Cost per lead <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Lead rate <span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Leads <span class="Icon Icon--featherTooltipCue"></span></label></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- Metrics section end -->
                <h3>Twitter internal only</h3>
                <!-- Metrics section start -->  
                <div class="metrics-list">
                  <div class="options-toggle">
                    <span class="options-toggle-switch">
                      <!-- <button class="FeatherDocs-expandableToggle is-expanded" type="button">
                        <span class="Icon Icon--caretRight Icon--smallest"></span>
                      </button>
                      <a class="section" href="javascript:void(0);">Auction insights</a> <span class="count">0</span> -->
                      <span class="section" href="javascript:void(0);">Auction insights</span> <span class="count">0</span>
                    </span>
                    <a class="select-section" href="javascript:void(0);">select all</a>
                    <div class="more-options" style="display:block">
                      <ul class="tooltips-hover">
                        <li><label><input type="checkbox"> Predicted Results <span class="Icon Icon--protected"></span><span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Predicted Spend <span class="Icon Icon--protected"></span><span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Average Bid <span class="Icon Icon--protected"></span><span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Average Bid Optimization Factor <span class="Icon Icon--protected"></span><span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Average Throttle Factor <span class="Icon Icon--protected"></span><span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Average Effective Bid <span class="Icon Icon--protected"></span><span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Average Price <span class="Icon Icon--protected"></span><span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Predicted Results Rate <span class="Icon Icon--protected"></span><span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Potential Reach <span class="Icon Icon--protected"></span><span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Rank Score <span class="Icon Icon--protected"></span><span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Targeting Win Rate <span class="Icon Icon--protected"></span><span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Auctions Entered Rate <span class="Icon Icon--protected"></span><span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Auctions Win Rate <span class="Icon Icon--protected"></span><span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Callback Rate <span class="Icon Icon--protected"></span><span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Targeting Recommendation <span class="Icon Icon--protected"></span><span class="Icon Icon--featherTooltipCue"></span></label></li>
                        <li><label><input type="checkbox"> Auction Recommendation <span class="Icon Icon--protected"></span><span class="Icon Icon--featherTooltipCue"></span></label></li>
                    </div>
                  </div>
                </div>
                <!-- Metrics section end -->
              </div>
            </div>  
            <div class="custom-metrics-box">
              <div class="metrics-order title top ">
                Order
              </div>  
              <div class="metrics-objects title top full">
                Metrics <span class="count">13</span>
              </div>
              <div class="clear"></div>
              <div class="custom-metrics-scrollable">
                <div class="metrics-order title">
                  <ul class="metrics-numbers">
                    <li>1</li>  
                    <li>2</li>  
                    <li>3</li>  
                    <li>4</li>
                    <li>5</li>
                    <li>6</li>
                    <li>7</li>
                    <li>8</li>
                    <li>9</li>
                    <li>10</li>
                    <li>11</li>
                    <li>12</li>
                    <li>13</li>
                  </ul>
                </div>
                <div class="metrics-objects">
                  <script>
                    $("ul.metrics-tokens.is-sortable").sortable({
                      appendTo: document.body,
                      axis: "y",
                      containment: "parent",
                      start: function( event, ui ) {
                        ui.item.addClass("active");
                      },
                      stop: function( event, ui ) {
                        ui.item.removeClass("active");
                      }
                    });
                  </script>
                  <ul class="metrics-tokens">
                    <li class="fixed">
                      Name
                    </li>  
                    <li class="fixed">
                      Status
                    </li>
                  </ul>  
                  <ul class="metrics-tokens is-sortable">  
                    <li>
                      Campaign start
                      <span class="Icon Icon--close"></span>
                    </li>
                    <li>
                      Campaign end
                      <span class="Icon Icon--close"></span>
                    </li>
                    <li>
                      Spend
                      <span class="Icon Icon--close"></span>
                    </li>
                    <li>
                      Remaining budget
                      <span class="Icon Icon--close"></span>
                    </li>
                    <li>
                      Daily budget
                      <span class="Icon Icon--close"></span>
                    </li>
                    <li>
                      Total budget
                      <span class="Icon Icon--close"></span>
                    </li>
                    <li>
                      Bid amount
                      <span class="Icon Icon--close"></span>
                    </li>
                    <li>
                      Objective
                      <span class="Icon Icon--close"></span>
                    </li>
                    <li>
                      Impressions
                      <span class="Icon Icon--close"></span>
                    </li>
                    <li>
                      Results rate
                      <span class="Icon Icon--close"></span>
                    </li>
                    <li>
                      Cost per result
                      <span class="Icon Icon--close"></span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>  
        </div>
      </div>
      <div class="Sheet-footerContainer">
        <div class="Sheet-footer" style="width:100%">
          <button id="custom-metrics-preset-button" class="Button Button--primary" onclick="hideModal();">Apply</button>
          <button class="Button" onclick="hideModal();">Cancel</button>
          <div class="Sheet-footerText footer-message">
            <!-- <label><input type="checkbox" onclick="$('.preset-name').toggle();"> Save preset</label> -->
            <label>Save as </label>
            <input id="custom-metrics-preset" type="text" class="FormInput preset-name" placeholder="(Optional)" style="margin-top:-9px;width:240px;">
            <!-- <input id="custom-metrics-preset" type="text" class="FormInput preset-name" placeholder="(Optional)" style="margin-top:-9px;width:240px;" onFocus="$(this).attr('value','My custom preset 1');$('#custom-metrics-preset-button').html('Update');"> -->
            <script>
              $("#custom-metrics-preset").keyup(function() {
                if(!$(this).val()) {
                  $("#custom-metrics-preset-button").html("Apply");
                } else {
                  $("#custom-metrics-preset-button").html("Save");
                }
              });
            </script>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="Sheet-footerWrapper"></div>
</div>