<div class="modal">
  <div class="modal-content">
    <h4>Remove targets</h4>
    <p>Remove targets from 3 ad groups in this campaign?</p>
  </div>
  <div class="modal-actions">
    <button type="button" class="Button Button--tertiary" style="margin-right:3px">Cancel</button>
    <button type="button" class="Button Button--primary" onclick="hideModal();">Yes, remove</button>
  </div>
</div> 