<div class="Sheet" style="display: block;">
  <div class="Sheet-overlay"></div>
  <div class="Sheet-headerWrapper"></div>
  <div class="Sheet-containerWrapper">
    <div class="Sheet-container">
      <div class="Sheet-content">
        <!-- <div class="Sheet-headerContainer">
          <div class="Sheet-header">
            <h3 class="Sheet-title">Twitter Ads Manager</h3>
            <button type="button" class="Sheet-close" aria-hidden="true" onclick="hideModal();">
              <span class="Icon Icon--close Icon--small"></span>
            </button>
          </div>
        </div> -->
        <div class="Sheet-body">
          <div class="introContent">
            <img src="src/images/AdsManagerDownload.svg">
            <h2>Export your data</h2>
            <p>
              Now you can export exactly what you see in your dashboard. Download reports that span a campaign lifetime in addition to hourly or daily breakouts.
            </p>  
          </div>  
        </div>
      </div>
      <div class="Sheet-footerContainer">
        <div class="Sheet-footer">
          <button class="Button Button--primary" onclick="showModal('intro-5');">Next</button>
          <button class="Button Button" onclick="showModal('intro-3');">Back</button>
          <div class="Sheet-footerText">4 / 5</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="Sheet-footerWrapper"></div>
</div>