<div class="SheetWrapper Sheet is-bottomAnchored is-withFixedFooter export" style="display: block;">
  <div class="Sheet-overlay"></div>
  <div class="Sheet-headerWrapper"></div>
  <div class="Sheet-containerWrapper is-open">
    <div class="Sheet-container">
      <div class="Sheet-content">
        <div class="Sheet-headerContainer">
          <div class="Sheet-header">
            <h3 class="Sheet-title">Data downloads</h3>
            <button type="button" class="Sheet-close" aria-hidden="true" onclick="hideModal();">
              <span class="Icon Icon--close Icon--small"></span>
            </button>
          </div>
        </div>
        <!-- <div class="Callout Callout--info">
          <p>Your export has finished processing, and is ready for download.</p>
        </div> -->
        <div class="Sheet-body">
          <table class="Table">
            <thead>
              <tr>
                <th>Export</th>
                <th>Created by</th>
                <th>Created on</th>
                <th>Expires</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  baristabar, Campaigns, 4/1/2016 - 4/30/2016.xls
                </td>
                <td>
                  The Barista Bar
                </td>
                <td>
                  1 Mar 2016
                </td>
                <td>
                  31 Mar 2016
                </td>
                <td>
                  <script>
                    $('.radial-progress').circleProgress({
                      value: 0.24,
                      size: 72,
                      thickness: 12,
                      startAngle: 4.71239,
                      emptyFill: "#ccd6dd",
                      fill: { color: "#1da1f2" },
                      animation: { duration: 0 }
                    }).on('circle-animation-progress', function(event, animationProgress, stepValue) {
                      var percentage_loaded = Math.ceil(animationProgress * 100);
                      $(".processing-download-text").html("Processing (" + percentage_loaded + "%)");
                    }).on('circle-animation-end', function(event) {
                      alert("At this point, the file should automatically download...");
                      $(".processing-download").html("<a href='#'>Download again</a>");
                    });
                  </script>
                  <span class="processing-download">
                    <div class="radial-progress"></div>
                    <span class="processing-download-text">Processing (24%)</span>
                  </span>
                </td>
              </tr>
              <tr class="error">
                <td>
                  &ndash;
                </td>
                <td>
                  The Barista Bar
                </td>
                <td>
                  9 Feb 2016
                </td>
                <td>
                  &ndash;
                </td>
                <td>
                  <span class="error">Download failed</span>
                </td>
              </tr>
              <tr class="error-message">
                <td colspan="5">
                  There was a problem processing this download. <a href="javascript:void(0)">Report this problem</a> <span class="trace">trace: 2568cdec0573f6f8</span>
                </td>
              </tr>
              <tr>
                <td>
                  baristabar, Campaigns, 4/1/2016 - 4/30/2016, daily.xls <span class="Label">NEW</span>
                </td>
                <td>
                  The Barista Bar
                </td>
                <td>
                  9 Feb 2016
                </td>
                <td>
                  10 Mar 2016
                </td>
                <td>
                  <button type="button" class="Button Button--small">
                    <span class="Icon Icon--featherDownload"></span>
                    Download
                  </button>
                </td>
              </tr>
              <tr>
                <td>
                  baristabar, Campaigns, 1/1/2016 - 3/30/2016, daily.xls
                </td>
                <td>
                  The Barista Bar
                </td>
                <td>
                  9 Feb 2016
                </td>
                <td>
                  10 Mar 2016
                </td>
                <td>
                  <button type="button" class="Button Button--small">
                    <span class="Icon Icon--featherDownload"></span>
                    Download
                  </button>
                </td>
              </tr>
              <tr>
                <td>
                  baristabar, Campaigns, 2/1/2016 - 2/28/2016, daily.xls
                </td>
                <td>
                  Twitter Admin
                </td>
                <td>
                  9 Feb 2016
                </td>
                <td>
                  10 Mar 2016
                </td>
                <td>
                  <button type="button" class="Button Button--small">
                    <span class="Icon Icon--featherDownload"></span>
                    Download
                  </button>
                </td>
              </tr>
            </tbody>
          </table>    
        </div>
      </div>
      <div class="Sheet-footerContainer">
        <div class="Sheet-footer">
          <button class="Button" onclick="hideModal();">Close</button>
          <div class="Sheet-footerText footer-message" style="width:850px">
            Download times will vary depending on selections and time range chosen..<br>Billed engagements and spend data reported in this export are accurate for data older than 24 hours.<br>For more recent data, spend is reported as an estimate.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="Sheet-footerWrapper"></div>
</div>