<div class="SheetWrapper Sheet is-bottomAnchored is-withFixedFooter export" style="display: block;">
  <div class="Sheet-overlay"></div>
  <div class="Sheet-headerWrapper"></div>
  <div class="Sheet-containerWrapper is-open">
    <div class="Sheet-container">
      <div class="Sheet-content">
        <div class="Sheet-headerContainer">
          <div class="Sheet-header">
            <h3 class="Sheet-title">Export: Life Stages - Handles</h3>
            <button type="button" class="Sheet-close" aria-hidden="true" onclick="hideModal();">
              <span class="Icon Icon--close Icon--small"></span>
            </button>
          </div>
        </div>
        <div class="Callout Callout--info" style="display:none">
          <p>This export may require up to 24 hours to complete. You'll be alerted when the export is ready for download.</p>
          <!-- <p>You have 1 export ready for download in <a href="javascript:void(0)">data downloads</a>.</p> -->
        </div>
        <div class="Sheet-body">
          <!-- Row 1 -->
          <div>
            <div class="Sheet-summaryBlock">
              <p class="text-sm Sheet-summaryTitle">Items to export</p>
              <p class="text-md Sheet-summaryHighlight">Ads</p>
              <!-- More options start -->
              <div class="checkmark-input" style="display:none">
                <div class="options-toggle">
                  <div class="options-toggle-switch">
                    <button class="FeatherDocs-expandableToggle" type="button">
                      <span class="Icon Icon--caretRight Icon--smallest"></span>
                    </button>
                    <a href="javascript:void(0);">More options</a>
                  </div>
                  <div class="more-options">
                    <ul>
                      <li><label><input type="checkbox"> Tweets</label></li>
                      <li><label><input type="checkbox"> Creatives</label></li>
                      <li><label><input type="checkbox"> Platforms</label></li>
                      <li><label><input type="checkbox"> Locations</label></li>
                      <li><label><input type="checkbox"> Demographics</label></li>
                      <li><label><input type="checkbox"> Ad groups</label></li>
                    </ul>
                  </div>
                </div> 
              </div>
              <!-- More options end -->
            </div>
            <div class="Sheet-summaryBlock">
              <p class="text-sm Sheet-summaryTitle">time frame</p>
              <p class="text-md Sheet-summaryHighlight">10/31/2015 &ndash; 12/31/2016</p>
            </div>
          </div>
          <!-- Row 1 end -->
          <!-- Row 2 -->
          <!-- <div>
            <div class="Sheet-summaryBlock">
              <p class="text-sm Sheet-summaryTitle">Funding sources</p>
              <p class="text-md Sheet-summaryHighlight">Multiple funding sources</p>
            </div>
          </div> -->
          <!-- Row 2 end -->
          <div class="clear"></div>
          <!-- Row 3 -->
          <div>
            <div class="Sheet-summaryBlock">
              <p class="text-sm Sheet-summaryTitle">Advanced features</p>
              <div class="RadioCheckmarkGroup">
                <p>
                  <label><input type="checkbox"> Hourly breakdown</label>
                  <br>
                  <label><input type="checkbox"> Website conversions by tag</label>
                </p>
              </div>
            </div>
            <div class="Sheet-summaryBlock">
              <p class="text-sm Sheet-summaryTitle">Export options</p>
              <div class="RadioCheckmarkGroup">
                <p>
                  <label><input type="checkbox" checked="checked"> Include summary row</label>
                  <!-- <label><input type="radio" name="downloadtype" checked="checked" onclick="$('.file-extension').html(' .xls');"> .xls</label>
                  <br>
                  <label><input type="radio" name="downloadtype" onclick="$('.file-extension').html(' .csv');"> .csv</label>
                  <div class="checkmark-input">
                    <label><input type="checkbox"> Include summary row</label>
                  </div> -->
                </p>
              </div>
            </div>
          </div>
          <!-- <div>
            <div class="Sheet-summaryBlock">
              <p class="text-sm Sheet-summaryTitle">File name</p>
              <input type="text" class="FormInput FormInput--small" size="36" placeholder="312226591-2015-10-31-to-2016-12-31" value="312226591-2015-10-31-to-2016-12-31"><span class="file-extension Sheet-summaryTitle"> .xls</span>
            </div>
          </div>     -->
          <!-- Row 3 end -->  
          <div class="clear"></div>
        </div>
      </div>
      <div class="Sheet-footerContainer">
        <div class="Sheet-footer">
          <button class="Button Button--primary" onclick="showModal('downloads');">Download</button>
          <button class="Button" onclick="hideModal();">Cancel</button>
          <div class="Sheet-footerText footer-message">
            Download times will vary depending on selections and time range chosen. Billed engagements and spend data reported in this export are accurate for data older than 24 hours.<br>For more recent data, spend is reported as an estimate.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="Sheet-footerWrapper"></div>
</div>