<div class="Sheet" style="display: block;">
  <div class="Sheet-overlay"></div>
  <div class="Sheet-headerWrapper"></div>
  <div class="Sheet-containerWrapper">
    <div class="Sheet-container">
      <div class="Sheet-content">
        <!-- <div class="Sheet-headerContainer">
          <div class="Sheet-header">
            <h3 class="Sheet-title">Twitter Ads Manager</h3>
            <button type="button" class="Sheet-close" aria-hidden="true" onclick="hideModal();">
              <span class="Icon Icon--close Icon--small"></span>
            </button>
          </div>
        </div> -->
        <div class="Sheet-body">
          <div class="introContent">
            <img src="src/images/AdsManagerFilters.svg">
            <h2>Customize your view</h2>
            <p>
              New filters let you focus in on the campaigns and ad groups you want to track and compare. Save your favorite filter sets and come back to them later.
            </p>  
          </div>  
        </div>
      </div>
      <div class="Sheet-footerContainer">
        <div class="Sheet-footer">
          <button class="Button Button--primary" onclick="showModal('intro-3');">Next</button>
          <button class="Button Button" onclick="showModal('intro-1');">Back</button>
          <div class="Sheet-footerText">2 / 5</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="Sheet-footerWrapper"></div>
</div>