<div class="edit Sheet" style="display: block;">
  <div class="Sheet-overlay"></div>
  <div class="Sheet-headerWrapper"></div>
  <div class="Sheet-containerWrapper">
    <div class="Sheet-container">
      <div class="Sheet-content">
        <div class="Sheet-headerContainer">
          <div class="Sheet-header">
            <h3 class="Sheet-title">Edit campaign: Life Stages Coffee Campaign</h3>
            <button type="button" class="Sheet-close" aria-hidden="true" onclick="hideModal();">
              <span class="Icon Icon--close Icon--small"></span>
            </button>
          </div>
        </div>
        <div class="Sheet-body">
          <div class="edit-left">
            <h4>General information</h4>
            <div class="edit-item">
              <div class="field-title">Campaign name</div>
              <input type="text" class="FormInput FormInput--small" placeholder="Name your campaign" size="80" value="Life Stages Coffee Campaign">
            </div>
            <div class="edit-item">
              <div class="edit-item-row">
                <div class="field-title">Funding source</div>
                Budget for Life Stages
              </div>  
              <div class="edit-item-row">
                <div class="field-title">Remaining budget</div>
                $7,841.17
              </div>
              <div class="edit-item-row">
                <div class="field-title">Runs</div>
                10 Oct 2015 &mdash; 31 Mar 2016
              </div>
              <div class="clear"></div>
            </div>
            <div class="edit-item">
              <div class="field-title">Campaign dates</div>
              <label><input type="radio" name="campaign-date" checked="checked"> Run until 31 Mar 2016<label>
              <label style="margin-left:110px"><input type="radio" name="campaign-date"> Set start and end dates</label>
            </div>
            <h4>Budget</h4>
            <div class="edit-item">
              <div class="edit-item-row">
                <div class="field-title">Daily maximum <span class="text-secondary">(required)</span></div>
                <input type="text" class="FormInput FormInput--small" placeholder="Required" size="8" value="$50.00">
              </div>
              <div class="edit-item-row">
                <div class="field-title">Total budget</div>
                <input type="text" class="FormInput FormInput--small" placeholder="Optional" size="8" value="$1,000.00">
              </div>
              <div class="clear"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="Sheet-footerContainer">
        <div class="Sheet-footer">
          <button class="Button Button--primary" onclick="hideModal();">Save</button>
          <button class="Button" onclick="hideModal();">Cancel</button>
        </div>
      </div>
    </div>
  </div>
  <div class="Sheet-footerWrapper"></div>
</div>