<div class="Sheet metrics" style="display: block;">
  <div class="Sheet-overlay"></div>
  <div class="Sheet-headerWrapper"></div>
  <div class="Sheet-containerWrapper">
    <div class="Sheet-container">
      <div class="Sheet-content">
        <div class="Sheet-headerContainer">
          <div class="Sheet-header">
            <h3 class="Sheet-title">Ads policy violation</h3>
            <button type="button" class="Sheet-close" aria-hidden="true" onclick="hideModal();">
              <span class="Icon Icon--close Icon--small"></span>
            </button>
          </div>
        </div>
        <div class="Sheet-body">
          <p>
            <strong>
              This account is ineligible to run Twitter Ads due to a policy violation by<br>one or more users. Any active campaigns have been paused.
            </strong>
          </p>
          <p>
            Please contact <a href="https://ads.twitter.com/help" target="_blank">Twitter Ads Support</a> to resolve this issue.
          </p>
          <p>
            Learn more about <a href="https://support.twitter.com/adspolicy" target="_blank">Twitter Ads Policies</a>.
          </p>
        </div>
      </div>
      <div class="Sheet-footerContainer">
        <div class="Sheet-footer">
          <button class="Button Button--primary" onclick="hideModal();">Close</button>
          <div class="Sheet-footerText footer-message">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="Sheet-footerWrapper"></div>
</div>