<div class="page-message">
  <div class="page-message-text">
    <h3>There was a problem loading this page.</h3>
    <p><button type="button" class="Button Button--tertiary Button--xsmall">Report this problem</button></p>
    <p class="trace">trace: 2568cdec0573f6f8</p> 
  </div>
</div>