<div class="edit Sheet" style="display: block;">
  <div class="Sheet-overlay"></div>
  <div class="Sheet-headerWrapper"></div>
  <div class="Sheet-containerWrapper">
    <div class="Sheet-container">
      <div class="Sheet-content">
        <div class="Sheet-headerContainer">
          <div class="Sheet-header">
            <h3 class="Sheet-title">Bulk edit campaigns</h3>
            </button>
          </div>
        </div>
        <div class="Sheet-body">
          <div class="edit-left">
            <div class="edit-item">
              <div class="field-title">Campaign name</div>
              <input type="text" class="FormInput FormInput--small" placeholder="Mixed values: changing this will change all campaigns being edited" size="80">
            </div>
            <h4>Campaign dates</h4>
            <div class="edit-item">
              <div class="field-title">Campaign dates</div>
              <label class="text-secondary"><input type="radio" name="campaign-date" checked="checked"> Mixed values</label>
              <label style="margin-left:110px"><input type="radio" name="campaign-date"> Set start and end dates</label>
            </div>
            <h4>Budget</h4>
            <div class="edit-item">
              <div class="edit-item-row">
                <div class="field-title">Daily maximum <span class="text-secondary">(required)</span></div>
                <input type="text" class="FormInput FormInput--small" placeholder="Mixed values" size="10">
              </div>
              <div class="edit-item-row">
                <div class="field-title">Total budget</div>
                <input type="text" class="FormInput FormInput--small" placeholder="Mixed values" size="10">
              </div>
              <div class="clear"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="Sheet-footerContainer">
        <div class="Sheet-footer">
          <button class="Button Button--primary" onclick="hidePanel();">Save</button>
          <button class="Button" onclick="hidePanel();">Done</button>
        </div>
      </div>
    </div>
  </div>
  <div class="Sheet-footerWrapper"></div>
</div>