<script>
  $(document).on("click", ".objects .Dropdown-menuItem", function(event) {
    if ($(this).hasClass("hide-metrics-dropdown")) {
      $(".dropdown-menu.metrics,.filter-dropdown,.filter-set-wrapper").hide();
      //$(".dropdown-menu.audienceoverview").show();
    } else {
      $(".dropdown-menu.metrics,.filter-dropdown").show();
      //$(".dropdown-menu.audienceoverview").hide();
    }
    // Ew, hacky
    if ($(this).hasClass("is-audience")) {
      $(".export-campaign").hide();
      $(".export-audience").show();
    } else {
      $(".export-campaign").show();
      $(".export-audience").hide();
    }
  });
</script>

<div class="subnav-tabs">
  <nav>
    <ul class="TabGroup" role="tablist">
      <li role="tab" class="Tab is-selected" aria-selected="true" data-loadcontent="table-campaign-adgroups.html">
        <button type="button"><!-- <div class="object-icon adgroup"></div>  -->Ad Groups</button>
      </li>
      <li role="tab" class="Tab" data-loadcontent="table-campaign-ads.html">
        <button type="button"><!-- <div class="object-icon ad"></div>  -->Ads</button>
      </li>
      <li role="tab" class="Tab" data-loadcontent="table-campaign-audience.html">
        <button type="button"><span class="Icon Icon--featherPeople"></span> Audience</button>
      </li>
      <li role="tab" class="Tab" data-loadcontent="table-campaign-history.html">
        <button type="button"><span class="Icon Icon--clock"></span> History</button>
      </li>
      <!-- <li role="tab" class="Tab" data-loadcontent="table-campaign-auction.html">
        <button type="button"><span class="Icon Icon--analytics"></span> Auction details</button>
      </li> -->
    </ul>
  </nav>
</div>  

<!-- <div class="dropdown-menu objects">
  <button type="button" class="Button Button--small Button--tertiary">
    <span class="dropdown-text">Ad groups in this campaign</span>
    <span class="Icon Icon--caretDown"></span>
  </button>
  <ul class="Dropdown ContentLoader" role="menu">
    <li class="Dropdown-menuItem is-selected" data-value="Ad groups in this campaign"><span class="Dropdown-menuItemContent" data-loadcontent="table-campaign-adgroups.html">Ad groups in this campaign</span></li>
    <li class="Dropdown-menuItem" data-value="Ads in this campaign"><span class="Dropdown-menuItemContent" data-loadcontent="table-campaign-ads.html">Ads in this campaign</span></li>
    <li class="divider"></li>
    <li class="Dropdown-menuItem hide-metrics-dropdown" data-value="Campaign history"><span class="Dropdown-menuItemContent" data-loadcontent="table-campaign-history.html">Campaign history</span></li>
    <li class="Dropdown-menuItem hide-metrics-dropdown" data-value="Campaign auction details"><span class="Dropdown-menuItemContent" data-loadcontent="table-campaign-auction.html">Campaign auction details</span></li>
    <li class="divider"></li>
    <li class="Dropdown-menuItem is-audience" data-value="Audience for this campaign"><span class="Dropdown-menuItemContent" data-loadcontent="table-campaign-audience.html">Audience for this campaign</span></li>
  </ul>
</div>   -->
<div class="subnav-controls">
  <div class="dropdown-menu metrics">
    <button type="button" class="Button Button--small Button--tertiary">
      Metrics: <span class="dropdown-text">Summary</span>
      <span class="Icon Icon--caretDown"></span>
    </button>    
    <ul class="Dropdown set-default">
      <li class="Dropdown-menuItem is-selected default-eligible is-default" data-value="Summary"><span class="Dropdown-menuItemContent">Summary<span class="is-default"> (default)</span></span></li>
      <li class="Dropdown-menuItem default-eligible" data-value="Website conversions"><span class="Dropdown-menuItemContent">Website conversions</span></li>
      <li class="Dropdown-menuItem default-eligible" data-value="Mobile app conversions"><span class="Dropdown-menuItemContent">Mobile app conversions</span></li>
      <li class="Dropdown-menuItem default-eligible" data-value="Auction insights"><span class="Dropdown-menuItemContent">Auction insights</span></li>
      <li class="Dropdown-menuItem default-eligible" data-value="My custom preset 1"><span class="Dropdown-menuItemContent">My custom preset 1</span> <span class="Icon Icon--close dropdown-action delete"></span></li>
      <li class="Dropdown-menuItem default-eligible" data-value="My custom preset 2"><span class="Dropdown-menuItemContent">My custom preset 2</span> <span class="Icon Icon--close dropdown-action delete"></span></li>
      <li class="Dropdown-menuItem default-eligible" data-value="My custom preset 3"><span class="Dropdown-menuItemContent">My custom preset 3</span> <span class="Icon Icon--close dropdown-action delete"></span></li>
      <li class="Dropdown-menuItem non-selectable" onclick="showModal('custom-metrics');"><span class="Dropdown-menuItemContent">Customize metrics&hellip;</span></li>
    </ul>
  </div>
  <div class="dropdown-menu">
    <button type="button" class="Button Button--small Button--tertiary">
      Breakdown: <span class="dropdown-text">None</span>
      <span class="Icon Icon--caretDown"></span>
    </button>    
  </div>
  <div class="dropdown-menu">
    <button type="button" class="Button Button--small Button--tertiary">
      <span class="Icon Icon--featherDownload"></span>
      Export
      <span class="button-notification">1</span>
      <span class="Icon Icon--caretDown"></span>
    </button>
    <ul class="Dropdown">
      <li class="Dropdown-menuItem export-campaign"><a class="Dropdown-menuItemContent" onclick="showModal('export-campaign');">Export data</a></li>
      <li class="Dropdown-menuItem export-audience" style="display:none;"><a class="Dropdown-menuItemContent" onclick="showModal('export-audience');">Export data</a></li>
      <li class="Dropdown-menuItem"><a class="Dropdown-menuItemContent" onclick="showModal('downloads-existing');">
        <span class="notification-dot"></span>View downloads</a>
      </li>
    </ul>
  </div>  
  <button type="button" class="Button Button--small Button--tertiary" onclick="showModal('share',selectFormField);">
    <span class="Icon Icon--url"></span>
    Share
  </button>
  <!-- <button type="button" class="Button Button--small Button--primary">
    <span class="Icon Icon--add"></span>
    Create ad group
  </button> -->
</div>  