<script>
  $(document).on("click", ".TabGroup .Tab", function(event) {
    if ($(this).hasClass("filters-inactive")) {
      $(".filter-set-active").hide();
      $(".filter-set-inactive").html("Filters are not available in this view ");
      $(".filter-set-inactive").show();
    } else {
      $(".filter-set-active").show();
      $(".filter-set-inactive").hide();
    }
  });
</script>

<div class="subnav-tabs">
  <nav>
    <ul class="TabGroup" role="tablist">
      <li role="tab" class="Tab filters-inactive" data-inactivetype="funding sources" data-loadcontent="table-account-fundingsources.html">
        <button type="button"><!-- <span class="Icon Icon--creditCard"></span>  -->Funding sources</button>
      </li>
      <li role="tab" class="Tab is-selected" aria-selected="true" data-loadcontent="table-account-campaigns.html">
        <button type="button"><!-- <div class="object-icon campaign"></div>  -->Campaigns</button>
      </li>
      <li role="tab" class="Tab" data-loadcontent="table-account-adgroups.html">
        <button type="button"><!-- <div class="object-icon adgroup"></div>  -->Ad groups</button>
      </li>
      <li role="tab" class="Tab" data-loadcontent="table-account-ads.html">
        <button type="button"><!-- <div class="object-icon ad"></div>  -->Ads</button>
      </li>
      <li role="tab" class="Tab filters-inactive" data-inactivetype="audience" data-loadcontent="table-account-audience.html">
        <button type="button"><span class="Icon Icon--featherPeople"></span> Audience</button>
      </li>
    </ul>
  </nav>
</div>  
<div class="subnav-controls">
  <div class="dropdown-menu">
    <button type="button" class="Button Button--small Button--tertiary">
      Metrics: <span class="dropdown-text">Summary</span>
      <span class="Icon Icon--caretDown"></span>
    </button>    
    <ul class="Dropdown set-default">
      <li class="Dropdown-menuItem is-selected default-eligible is-default" data-value="Summary"><span class="Dropdown-menuItemContent">Summary<span class="is-default"> (default)</span></span></li>
      <li class="Dropdown-menuItem default-eligible" data-value="Auction insights"><span class="Dropdown-menuItemContent">Auction insights</span></li>
      <li class="Dropdown-menuItem default-eligible" data-value="Website conversions"><span class="Dropdown-menuItemContent">Mid-roll views</span></li>
      <li class="Dropdown-menuItem default-eligible" data-value="Mobile app conversions"><span class="Dropdown-menuItemContent">Mobile app conversions</span></li>
      <li class="Dropdown-menuItem default-eligible" data-value="Auction insights"><span class="Dropdown-menuItemContent">Reach and frequency</span></li>
      <li class="Dropdown-menuItem default-eligible" data-value="Auction insights"><span class="Dropdown-menuItemContent">Tweet engagements</span></li>
      <li class="Dropdown-menuItem default-eligible" data-value="Auction insights"><span class="Dropdown-menuItemContent">Video views</span></li>
      <li class="Dropdown-menuItem default-eligible" data-value="Auction insights"><span class="Dropdown-menuItemContent">Website conversions</span></li>
      <li class="Dropdown-menuItem default-eligible" data-value="My custom preset 1"><span class="Dropdown-menuItemContent">My custom preset</span> <span class="Icon Icon--close dropdown-action delete"></span></li>
      <li class="Dropdown-divider"></li>
      <li class="Dropdown-menuItem non-selectable" onclick="showModal('custom-metrics');"><span class="Dropdown-menuItemContent"><a>Customize metrics&hellip;</a></span></li>
    </ul>
  </div>
  <div class="dropdown-menu">
    <button type="button" class="Button Button--small Button--tertiary">
      Breakdown: <span class="dropdown-text">None</span>
      <span class="Icon Icon--caretDown"></span>
    </button>    
    <ul class="Dropdown ContentLoader">
      <li class="Dropdown-menuItem is-selected" data-value="None"><span class="Dropdown-menuItemContent" data-loadcontent="table-account-campaigns.html">None</span></li>
      <li class="Dropdown-menuItem" data-value="Daily">
        <span class="Dropdown-menuItemContent showtooltip-hover" data-loadcontent="table-account-campaigns-daily.html">Daily</span>
        <div class="Tooltip Tooltip--left" style="top:32px;left:-248px;"> 
          <div class="Tooltip-triangle">    
            <div class="Tooltip-triangleOuter"></div>    
            <div class="Tooltip-triangleInner"></div>  
          </div>  
          <div class="Tooltip-inner">    
            <div class="Tooltip-content">
              <p class="tooltip-title">Daily breakdown</p>
              Shows the breakdown of results by day. 
            </div>  
          </div>
        </div>
      </li>
      <li class="Dropdown-menuItem" data-value="Hourly">
        <span class="Dropdown-menuItemContent showtooltip-hover" data-loadcontent="table-account-campaigns-hourly.html">Hourly</span>
        <div class="Tooltip Tooltip--left" style="top:57px;left:-248px;"> 
          <div class="Tooltip-triangle">    
            <div class="Tooltip-triangleOuter"></div>    
            <div class="Tooltip-triangleInner"></div>  
          </div>  
          <div class="Tooltip-inner">    
            <div class="Tooltip-content">
              <p class="tooltip-title">Hourly breakdown</p>
              Shows the breakdown of results by day and hour. 
            </div>  
          </div>
        </div>
      </li>
      <!-- <li class="divider"></li> -->
      <li class="Dropdown-menuItem" data-value="Placement">
        <span class="Dropdown-menuItemContent showtooltip-hover" data-loadcontent="table-account-campaigns-placement.html">Placement</span>
        <div class="Tooltip Tooltip--left" style="top:81px;left:-248px;"> 
          <div class="Tooltip-triangle">    
            <div class="Tooltip-triangleOuter"></div>    
            <div class="Tooltip-triangleInner"></div>  
          </div>  
          <div class="Tooltip-inner">    
            <div class="Tooltip-content">
              <p class="tooltip-title">Placement</p>
              Shows the breakdown of results on Twitter, and on the Twitter Audience Platform. 
            </div>  
          </div>
        </div>
      </li>
      <!-- <li class="Dropdown-menuItem" data-value="Placement + Creative"><span class="Dropdown-menuItemContent" data-loadcontent="table-account-campaigns-creative.html">Placement + Creative</span></li> -->
      <li class="Dropdown-menuItem" data-value="Placement + Daily">
        <span class="Dropdown-menuItemContent showtooltip-hover" data-loadcontent="table-account-campaigns-placement-daily.html">Placement + Daily</span>
        <div class="Tooltip Tooltip--left" style="top:105px;left:-248px;"> 
          <div class="Tooltip-triangle">    
            <div class="Tooltip-triangleOuter"></div>    
            <div class="Tooltip-triangleInner"></div>  
          </div>  
          <div class="Tooltip-inner">    
            <div class="Tooltip-content">
              <p class="tooltip-title">Placement + Daily</p>
              Shows the breakdown of results on Twitter, and on the Twitter Audience Platform, by day. 
            </div>  
          </div>
        </div>
      </li>
      <!-- <li class="Dropdown-menuItem" data-value="Placement + Hourly"><span class="Dropdown-menuItemContent" data-loadcontent="table-account-campaigns-placement-hourly.html">Placement + Hourly</span></li> -->
    </ul>
  </div>
  <div class="dropdown-menu">
    <button type="button" class="Button Button--small Button--tertiary">
      <span class="Icon Icon--featherDownload"></span>
      Export
      <span class="button-notification">1</span>
      <span class="Icon Icon--caretDown"></span>
    </button>
    <ul class="Dropdown">
      <li class="Dropdown-menuItem"><span class="Dropdown-menuItemContent" onclick="showModal('export-account');">Export data</span></li>
      <li class="Dropdown-menuItem"><span class="Dropdown-menuItemContent" onclick="showModal('downloads-existing');">
        <span class="notification-dot"></span>View downloads</span>
      </li>
    </ul>
  </div>  
  <button type="button" class="Button Button--small Button--tertiary" onclick="showModal('share',selectFormField);">
    <span class="Icon Icon--url"></span>
    Share
  </button>
  <!-- <button type="button" class="Button Button--small Button--secondary">
    Create campaign <span class="Icon Icon--caretDown"></span>
  </button> -->
</div>
<div class="clear"></div>