<div class="subnav-tabs">
  <nav>
    <ul class="TabGroup" role="tablist">
      <li role="tab" class="Tab is-selected" aria-selected="true" data-loadcontent="table-fundingsource-campaigns.html">
        <button type="button"><!-- <div class="object-icon campaign"></div>  -->Campaigns</button>
      </li>
      <li role="tab" class="Tab" data-loadcontent="table-fundingsource-adgroups.html">
        <button type="button"><!-- <div class="object-icon adgroup"></div>  -->Ad groups</button>
      </li>
      <li role="tab" class="Tab" data-loadcontent="table-fundingsource-ads.html">
        <button type="button"><!-- <div class="object-icon ad"></div>  -->Ads</button>
      </li>
    </ul>
  </nav>
</div>  
<div class="subnav-controls">
  <div class="dropdown-menu">
    <button type="button" class="Button Button--small Button--tertiary">
      Metrics: <span class="dropdown-text">Summary</span>
      <span class="Icon Icon--caretDown"></span>
    </button>    
    <ul class="Dropdown set-default">
      <li class="Dropdown-menuItem is-selected default-eligible is-default" data-value="Summary"><span class="Dropdown-menuItemContent">Summary<span class="is-default"> (default)</span></span></li>
      <li class="Dropdown-menuItem default-eligible" data-value="Website conversions"><span class="Dropdown-menuItemContent">Website conversions</span></li>
      <li class="Dropdown-menuItem default-eligible" data-value="Mobile app conversions"><span class="Dropdown-menuItemContent">Mobile app conversions</span></li>
      <li class="Dropdown-menuItem default-eligible" data-value="Auction insights"><span class="Dropdown-menuItemContent">Auction insights</span></li>
      <li class="Dropdown-menuItem default-eligible" data-value="My custom preset 1"><span class="Dropdown-menuItemContent">My custom preset 1</span> <span class="Icon Icon--close dropdown-action delete"></span></li>
      <li class="Dropdown-menuItem default-eligible" data-value="My custom preset 2"><span class="Dropdown-menuItemContent">My custom preset 2</span> <span class="Icon Icon--close dropdown-action delete"></span></li>
      <li class="Dropdown-menuItem default-eligible" data-value="My custom preset 3"><span class="Dropdown-menuItemContent">My custom preset 3</span> <span class="Icon Icon--close dropdown-action delete"></span></li>
      <li class="Dropdown-menuItem non-selectable" onclick="showModal('custom-metrics');"><span class="Dropdown-menuItemContent">Customize metrics&hellip;</span></li>
    </ul>
  </div>
  <div class="dropdown-menu">
    <button type="button" class="Button Button--small Button--tertiary">
      Breakdown: <span class="dropdown-text">None</span>
      <span class="Icon Icon--caretDown"></span>
    </button>    
    <ul class="Dropdown ContentLoader">
      <li class="Dropdown-menuItem is-selected" data-value="None"><span class="Dropdown-menuItemContent" data-loadcontent="table-account-campaigns.html">None</span></li>
      <li class="Dropdown-menuItem" data-value="Daily"><span class="Dropdown-menuItemContent" data-loadcontent="table-account-campaigns-daily.html">Daily</span></li>
      <li class="Dropdown-menuItem" data-value="Hourly"><span class="Dropdown-menuItemContent" data-loadcontent="table-account-campaigns-hourly.html">Hourly</span></li>
      <!-- <li class="divider"></li> -->
      <li class="Dropdown-menuItem" data-value="Placement"><span class="Dropdown-menuItemContent" data-loadcontent="table-account-campaigns-placement.html">Placement</span></li>
      <li class="Dropdown-menuItem" data-value="Placement + Creative"><span class="Dropdown-menuItemContent" data-loadcontent="table-account-campaigns-creative.html">Placement + Creative</span></li>
      <li class="Dropdown-menuItem" data-value="Placement + Daily"><span class="Dropdown-menuItemContent" data-loadcontent="table-account-campaigns-placement-daily.html">Placement + Daily</span></li>
      <!-- <li class="Dropdown-menuItem" data-value="Placement + Hourly"><span class="Dropdown-menuItemContent" data-loadcontent="table-account-campaigns-placement-hourly.html">Placement + Hourly</span></li> -->
    </ul>
  </div>
  <div class="dropdown-menu">
    <button type="button" class="Button Button--small Button--tertiary">
      <span class="Icon Icon--featherDownload"></span>
      Export
      <span class="button-notification">1</span>
      <span class="Icon Icon--caretDown"></span>
    </button>
    <ul class="Dropdown">
      <li class="Dropdown-menuItem"><span class="Dropdown-menuItemContent" onclick="showModal('export-account');">Export data</span></li>
      <li class="Dropdown-menuItem"><span class="Dropdown-menuItemContent" onclick="showModal('downloads-existing');">
        <span class="notification-dot"></span>View downloads</span>
      </li>
    </ul>
  </div>  
  <button type="button" class="Button Button--small Button--tertiary" onclick="showModal('share',selectFormField);">
    <span class="Icon Icon--url"></span>
    Share
  </button>
  <!-- <button type="button" class="Button Button--small Button--secondary">
    Create campaign <span class="Icon Icon--caretDown"></span>
  </button> -->
</div>
<div class="clear"></div>