<script>
  setTimeout(
    function() {
      $("#loading-table").hide();
      $("#table-campaigns-load-summary,#table-campaigns-load-spend,#table-campaigns-load-imps").fadeTo(100, 0, function(){
        $("#table-campaigns-load-summary").html("Summary for 100 campaigns <span class='summary-total'></span>");
        $("#table-campaigns-load-spend").html("$17,328.25");
        $("#table-campaigns-load-imps").html("4,811,855");     
        $(this).fadeTo(100, 1);  
      });
    }, 2000);
  var header_bottom = $("#adsmgr-page-header").offset().top + $("#adsmgr-page-header").outerHeight();
  $(".Table").stickyTableHeaders({fixedOffset: header_bottom});
  $(".Table").checkboxes("range", true);
  $(".Table.line-items tr").each(function(){
    var editing_markup = '<div class="edit-lineitem"><div class="edit-lineitem-icon"><span class="Icon Icon--cog"></span></div><ul class="Dropdown"><li class="Dropdown-menuItem"><a class="Dropdown-menuItemContent" href="javascript:showPanel(\'edit-campaign-single\');">Edit campaign</a></li><li class="Dropdown-menuItem"><a class="Dropdown-menuItemContent" href="javascript:void(0);">Copy campaign</a></li><li class="Dropdown-menuItem"><a class="Dropdown-menuItemContent" href="http://ads.twitter.com" target="blank">Open in original dashboard &rarr;</a></li></ul></div>';
    if (!$(this).find("td:eq(0)").hasClass("checkcol-summary")) {
      $(this).find("td:eq(1)").append(editing_markup);
    }
  });
  $(".Table").resizableColumns({
    minWidth: 5
  });
  
  $("#globalSearchBoxWrapper").show();
  $("#globalSearchBox").val("").attr("placeholder", "Search campaigns");
  
</script>

<table class="Table Table--striped stickyheader line-items tooltips-hover Table--resizable" data-actionfooter="lineitem" data-object="campaign">
  <thead class="">
    <tr class="">
      <th class="checkcol">
        <input type="checkbox" />
      </th>
      <th class="Table-sortableHeader Table-headerCell--alignLeft" width="320">
        Name <span class="Icon Icon--featherTooltipCue"></span>
        <div class="Tooltip Tooltip--top Tooltip--hover" style="top:-48px;left:-72px;">  
          <div class="Tooltip-triangle">    
            <div class="Tooltip-triangleOuter"></div>    
            <div class="Tooltip-triangleInner"></div>  
          </div>  
          <div class="Tooltip-inner">
            <span class="Tooltip-close Icon Icon--close Icon--smallest" aria-hidden="true"></span>
            <div class="Tooltip-content">
              <p class="tooltip-title">Name</p>
              The name of the item
            </div>  
          </div>
        </div>
      </th>
      <th class="Table-sortableHeader is-desc Table-headerCell--alignLeft">
        Status <span class="Icon Icon--featherTooltipCue"></span>
        <div class="Tooltip Tooltip--top Tooltip--hover" style="top:-48px;left:-69px;">  
          <div class="Tooltip-triangle">    
            <div class="Tooltip-triangleOuter"></div>    
            <div class="Tooltip-triangleInner"></div>  
          </div>  
          <div class="Tooltip-inner">
            <span class="Tooltip-close Icon Icon--close Icon--smallest" aria-hidden="true"></span>
            <div class="Tooltip-content">
              <p class="tooltip-title">Status</p>
              The status of the item
            </div>  
          </div>
        </div>
      </th>
      <th class="Table-sortableHeader Table-headerCell--alignLeft">
        Start date <span class="Icon Icon--featherTooltipCue"></span>
        <div class="Tooltip Tooltip--top Tooltip--hover" style="top:-48px;left:-50px;">  
          <div class="Tooltip-triangle">    
            <div class="Tooltip-triangleOuter"></div>    
            <div class="Tooltip-triangleInner"></div>  
          </div>  
          <div class="Tooltip-inner">
            <span class="Tooltip-close Icon Icon--close Icon--smallest" aria-hidden="true"></span>
            <div class="Tooltip-content">
              <p class="tooltip-title">Start date</p>
              The date the item starts
            </div>  
          </div>
        </div>
      </th>
      <th class="Table-sortableHeader Table-headerCell--alignLeft">
        End date <span class="Icon Icon--featherTooltipCue"></span>
        <div class="Tooltip Tooltip--top Tooltip--hover" style="top:-48px;left:-55px;">  
          <div class="Tooltip-triangle">    
            <div class="Tooltip-triangleOuter"></div>    
            <div class="Tooltip-triangleInner"></div>  
          </div>  
          <div class="Tooltip-inner">
            <span class="Tooltip-close Icon Icon--close Icon--smallest" aria-hidden="true"></span>
            <div class="Tooltip-content">
              <p class="tooltip-title">End date</p>
              The date the item ends
            </div>  
          </div>
        </div>
      </th>
      <th class="Table-sortableHeader Table-headerCell--alignLeft">
        Spend <span class="Icon Icon--featherTooltipCue"></span>
        <div class="Tooltip Tooltip--top Tooltip--hover" style="top:-48px;left:-69px;">  
          <div class="Tooltip-triangle">    
            <div class="Tooltip-triangleOuter"></div>    
            <div class="Tooltip-triangleInner"></div>  
          </div>  
          <div class="Tooltip-inner">
            <span class="Tooltip-close Icon Icon--close Icon--smallest" aria-hidden="true"></span>
            <div class="Tooltip-content">
              <p class="tooltip-title">Spend</p>
              How much the the item has spent
            </div>  
          </div>
        </div>
      </th>
      <th class="Table-sortableHeader Table-headerCell--alignLeft">
        Today's pacing <span class="Icon Icon--featherTooltipCue"></span>
        <div class="Tooltip Tooltip--top Tooltip--hover" style="top:-65px;left:-21px;">  
          <div class="Tooltip-triangle">    
            <div class="Tooltip-triangleOuter"></div>    
            <div class="Tooltip-triangleInner"></div>  
          </div>  
          <div class="Tooltip-inner">
            <span class="Tooltip-close Icon Icon--close Icon--smallest" aria-hidden="true"></span>
            <div class="Tooltip-content">
              <p class="tooltip-title">Today's pacing</p>
              How much of your daily budget has been spent today
            </div>  
          </div>
        </div>
      </th>
      <th class="Table-sortableHeader Table-headerCell--alignRight alignrt">
        <span class="Icon Icon--featherTooltipCue"></span> Impressions 
        <div class="Tooltip Tooltip--top Tooltip--hover" style="top:-48px;right:-35px;">  
          <div class="Tooltip-triangle">    
            <div class="Tooltip-triangleOuter"></div>    
            <div class="Tooltip-triangleInner"></div>  
          </div>  
          <div class="Tooltip-inner">
            <span class="Tooltip-close Icon Icon--close Icon--smallest" aria-hidden="true"></span>
            <div class="Tooltip-content">
              <p class="tooltip-title">Impressions</p>
              The number of impressions served
            </div>  
          </div>
        </div>
      </th>
      <th class="Table-sortableHeader Table-headerCell--alignRight alignrt">
        <span class="Icon Icon--featherTooltipCue"></span> Cost per result
        <div class="Tooltip Tooltip--top Tooltip--hover" style="top:-48px;right:-21px;">  
          <div class="Tooltip-triangle">    
            <div class="Tooltip-triangleOuter"></div>    
            <div class="Tooltip-triangleInner"></div>  
          </div>  
          <div class="Tooltip-inner">
            <span class="Tooltip-close Icon Icon--close Icon--smallest" aria-hidden="true"></span>
            <div class="Tooltip-content">
              <p class="tooltip-title">Cost per result</p>
              The average cost per result
            </div>  
          </div>
        </div>
      </th>
      <th class="Table-sortableHeader Table-headerCell--alignRight alignrt">
        <span class="Icon Icon--featherTooltipCue"></span> Results rate
        <div class="Tooltip Tooltip--topLeft Tooltip--hover" style="top:-48px;right:64px;">  
          <div class="Tooltip-triangle">    
            <div class="Tooltip-triangleOuter"></div>    
            <div class="Tooltip-triangleInner"></div>  
          </div>  
          <div class="Tooltip-inner">
            <span class="Tooltip-close Icon Icon--close Icon--smallest" aria-hidden="true"></span>
            <div class="Tooltip-content">
              <p class="tooltip-title">Results rate</p>
              Results divided by impressions
            </div>  
          </div>
        </div>
      </th>
    </tr>
    <tr class="summary-row">
      <td class="checkcol-summary">
        <div id="loading-table" class="Icon Icon--loadingSmall"></div>
      </td>  
      <td>
        <strong id="table-campaigns-load-summary">Loading summary for 100 items&hellip;</strong>
      </td>
      <td class="nodata">
        -
      </td>
      <td class="nodata">
        -
      </td>
      <td class="nodata">
        -
      </td>
      <td id="table-campaigns-load-spend">
        <div class="Icon Icon--loadingSmall"></div>
      </td>
      <td class="nodata">
        -
      </td>
      <td id="table-campaigns-load-imps" class="alignrt">
        <div class="Icon Icon--loadingSmall"></div>
      </td>
      <td class="alignrt">
        <a href="javascript:void(0);" class="showtooltip-hover"><span class="Icon Icon--listBadge"></span></a>
        <span style="color:#657786;font-weight:400;vertical-align:top;line-height: 20px;">(3)</span> 
        <div class="Tooltip Tooltip--top" style="top:-114px;right:-92px;"> 
          <div class="Tooltip-triangle">    
            <div class="Tooltip-triangleOuter"></div>    
            <div class="Tooltip-triangleInner"></div>  
          </div>  
          <div class="Tooltip-inner">    
            <div class="Tooltip-content">
              <ul class="summary-blended">
                <li>$1.41 <span class="subtext">Average cost per link click</span></li>
                <li>$1.29 <span class="subtext">Average cost per lead</span></li>
                <li>$5.84 <span class="subtext">Average cost per engagement</span></li>
              </ul>  
            </div>  
          </div>
        </div>
      </td>
      <td class="alignrt">
        <a href="javascript:void(0);"><span class="Icon Icon--listBadge"></span></a>
        <span style="color:#657786;font-weight:400;vertical-align:top;line-height: 20px;">(3)</span>
      </td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <input type="checkbox" />
      </td>  
      <td class="campaign-name">
        <a href="javascript:loadLevel('campaign','down');">Life Stages Coffee Campaign</a>
         <span class="subtext">Website clicks or conversions</span>
      </td>
      <td class="Table-cell--alignLeft">
        <div class="src-views-Table-Cells-CampaignStatus-style--root">
          <span class="src-views-Table-Cells-CampaignStatus-style--statusText src-views-Table-Cells-CampaignStatus-style--running">Running</span>
          <span class="src-views-Table-Cells-CampaignStatus-style--playPauseButton Icon Icon--pause" data-reactid=".0.0.3.1.$6678103.$CampaignDisplayState.0.1"></span>
        </div>
      </td>
      <td>
        9 Nov
      </td>
      <td>
        29 Dec
      </td>
      <td>
        $649.45
        <span class="subtext">of $1,000.00</span>
      </td>
      <td>
        <span class="count-to" data-countto="65">0</span>%
        <div class="progress-bar">
          <div class="bar bg"></div>
          <div class="bar top"></div>
          <div class="marker" style="margin-left:60%"></div>
        </div>  
      </td>
      <td class="alignrt">
        50,289
      </td>
      <td class="alignrt">
        $0.13
        <span class="subtext">Cost per link click</span>
      </td>
      <td class="alignrt">
        1.41%
        <span class="subtext">Link click rate</span>
      </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" />
      </td>  
      <td class="campaign-name">
        <a href="javascript:loadLevel('campaign','down');">Website Card Campaign - page 64</a>
         <span class="subtext">Website clicks or conversions</span>
      </td>
      <td class="Table-cell--alignLeft">
        <div class="src-views-Table-Cells-CampaignStatus-style--root">
          <span class="src-views-Table-Cells-CampaignStatus-style--statusText src-views-Table-Cells-CampaignStatus-style--running">Running</span>
          <span class="src-views-Table-Cells-CampaignStatus-style--playPauseButton Icon Icon--pause" data-reactid=".0.0.3.1.$6678103.$CampaignDisplayState.0.1"></span>
        </div>
      </td>
      <td>
        9 Nov
      </td>
      <td class="nodata">
        -
      </td>
      <td>
        $2,696.99
      </td>
      <td>
        <span class="count-to" data-countto="50">0</span>%
        <div class="progress-bar">
          <div class="bar bg"></div>
          <div class="bar top"></div>
          <div class="marker" style="margin-left:60%"></div>
        </div>  
      </td>
      <td class="alignrt">
        99,421
      </td>
      <td class="alignrt">
        $2.40
        <span class="subtext">Cost per link click</span>
      </td>
      <td class="alignrt">
        3.20%
        <span class="subtext">Link click rate</span>
      </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" />
      </td>  
      <td class="campaign-name">
        <a href="javascript:loadLevel('campaign','down');">Retweet Promotion - Tweet Engagements Campaign 4th Quarter</a>
         <span class="subtext">Tweet engagments</span>
      </td>
      <td class="Table-cell--alignLeft">
        <div class="src-views-Table-Cells-CampaignStatus-style--root">
          <span class="src-views-Table-Cells-CampaignStatus-style--statusText src-views-Table-Cells-CampaignStatus-style--running">Running</span>
          <span class="src-views-Table-Cells-CampaignStatus-style--playPauseButton Icon Icon--pause" data-reactid=".0.0.3.1.$6678103.$CampaignDisplayState.0.1"></span>
        </div>
      </td>
      <td>
        12 Dec
      </td>
      <td>
        8 Jan
      </td>
      <td>
        $0.00
        <span class="subtext">of $500.00</span>
      </td>
      <td class="nodata">
        -
      </td>
      <td class="nodata alignrt">
        -
      </td>
      <td class="nodata alignrt">
        -
      </td>
      <td class="nodata alignrt">
        -
      </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" />
      </td>  
      <td class="campaign-name">
        <a href="javascript:loadLevel('campaign','down');">App promotion to site visitors</a>
         <span class="subtext">App installs or re-engagments</span>
      </td>
      <td class="Table-cell--alignLeft">
        <div class="src-views-Table-Cells-CampaignStatus-style--root">
          <span class="src-views-Table-Cells-CampaignStatus-style--statusText src-views-Table-Cells-CampaignStatus-style--running">Running</span>
          <span class="src-views-Table-Cells-CampaignStatus-style--playPauseButton Icon Icon--pause" data-reactid=".0.0.3.1.$6678103.$CampaignDisplayState.0.1"></span>
        </div>
      </td>
      <td>
        27 Oct
      </td>
      <td>
        1 Dec
      </td>
      <td>
        $545.77
        <span class="subtext">of $800.00</span>
      </td>
      <td>
        <span class="count-to" data-countto="68">0</span>%
        <div class="progress-bar">
          <div class="bar bg"></div>
          <div class="bar top"></div>
          <div class="marker" style="margin-left:60%"></div>
        </div>  
      </td>
      <td class="alignrt">
        43,203
      </td>
      <td class="alignrt">
        $5.84
        <span class="subtext">Cost per engagement</span>
      </td>
      <td class="alignrt">
        1.68%
        <span class="subtext">Engagement rate</span>
      </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" />
      </td>  
      <td class="campaign-name">
        <a href="javascript:loadLevel('campaign','down');">Conversation Targeting Leads Campaign</a>
         <span class="subtext">Leads on Twitter</span>
      </td>
      <td class="Table-cell--alignLeft">
        <div class="src-views-Table-Cells-CampaignStatus-style--root">
          <span class="src-views-Table-Cells-CampaignStatus-style--statusText src-views-Table-Cells-CampaignStatus-style--running">Running</span>
          <span class="src-views-Table-Cells-CampaignStatus-style--playPauseButton Icon Icon--pause" data-reactid=".0.0.3.1.$6678103.$CampaignDisplayState.0.1"></span>
        </div>
      </td>
      <td>
        17 Oct
      </td>
      <td>
        10 Nov
      </td>
      <td>
        $1,000.00
        <span class="subtext">of $1,000.00</span>
      </td>
      <td>
        <span class="count-to" data-countto="100">0</span>%
        <div class="progress-bar">
          <div class="bar bg"></div>
          <div class="bar top"></div>
          <div class="marker" style="margin-left:60%"></div>
        </div>  
      </td>
      <td class="alignrt">
        80,292
      </td>
      <td class="alignrt">
        $1.29
        <span class="subtext">Cost per lead</span>
      </td>
      <td class="alignrt">
        2.41%
        <span class="subtext">Lead rate</span>
      </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" />
      </td>  
      <td class="campaign-name">
        <a href="javascript:loadLevel('campaign','down');">Vine Q3 2015 re-engagement Campaign</a>
         <span class="subtext">App installs or engagements on Twitter</span>
      </td>
      <td class="Table-cell--alignLeft">
        <div class="src-views-Table-Cells-CampaignStatus-style--root">
          <span class="src-views-Table-Cells-CampaignStatus-style--statusText src-views-Table-Cells-CampaignStatus-style--pending">Scheduled</span>
        </div>
        <span class="subtext">No tweets</span>
      </td>
      <td>
        5 Oct
      </td>
      <td>
        7 Nov
      </td>
      <td>
        $900.00
        <span class="subtext">of $900.00</span>
      </td>
      <td>
        <span class="count-to" data-countto="100">0</span>%
        <div class="progress-bar">
          <div class="bar bg"></div>
          <div class="bar top"></div>
          <div class="marker" style="margin-left:60%"></div>
        </div>  
      </td>
      <td class="alignrt">
        77,467
      </td>
      <td class="alignrt">
        $0.98
        <span class="subtext">Cost per app click</span>
      </td>
      <td class="alignrt">
        0.97%
        <span class="subtext">App clicks rate</span>
      </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" />
      </td>  
      <td class="campaign-name">
        <a href="javascript:loadLevel('campaign','down');">MLB Playoff Fan Video</a>
         <span class="subtext">Video Views</span>
      </td>
      <td class="Table-cell--alignLeft">
        <div class="src-views-Table-Cells-CampaignStatus-style--root">
          <span class="src-views-Table-Cells-CampaignStatus-style--statusText src-views-Table-Cells-CampaignStatus-style--pending">Scheduled</span>
        </div>
      </td>
      <td>
        16 Jun
      </td>
      <td class="nodata">
        -
      </td>
      <td>
        $0.00
      </td>
      <td class="nodata">
        - 
      </td>
      <td class="nodata  alignrt">
        - 
      </td>
      <td class="nodata  alignrt">
        - 
      </td>
      <td class="nodata  alignrt">
        - 
      </td>
    </tr>
    <!-- RINSE, REPEAT -->
    <tr>
      <td>
        <input type="checkbox" />
      </td>  
      <td class="campaign-name">
        <a href="javascript:loadLevel('campaign','down');">Life Stages Coffee Campaign</a>
         <span class="subtext">Followers</span>
      </td>
      <td class="Table-cell--alignLeft">
        <div class="src-views-Table-Cells-CampaignStatus-style--root">
          <span class="src-views-Table-Cells-CampaignStatus-style--statusText src-views-Table-Cells-CampaignStatus-style--pending">Scheduled</span>
        </div>
        <span class="subtext">No tweets</span>
      </td>
      <td>
        9 Nov
      </td>
      <td>
        29 Dec
      </td>
      <td>
        $649.45
        <span class="subtext">of $1,000.00</span>
      </td>
      <td class="nodata">
        - 
      </td>
      <td class="alignrt">
        50,289
      </td>
      <td class="alignrt">
        $0.13
        <span class="subtext">Cost per link click</span>
      </td>
      <td class="alignrt">
        1.41%
        <span class="subtext">Link click rate</span>
      </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" />
      </td>  
      <td class="campaign-name">
        <a href="javascript:loadLevel('campaign','down');">Website Card Campaign - page 64</a>
         <span class="subtext">Website clicks or conversions</span>
      </td>
      <td class="Table-cell--alignLeft">
        <div class="src-views-Table-Cells-CampaignStatus-style--root">
          <span class="src-views-Table-Cells-CampaignStatus-style--statusText src-views-Table-Cells-CampaignStatus-style--pending">Scheduled</span>
        </div>
        <span class="subtext">No tweets</span>
      </td>
      <td>
        9 Nov
      </td>
      <td lass="nodata">
        -
      </td>
      <td>
        $2,696.99
      </td>
      <td class="nodata">
        -
      </td>
      <td class="alignrt">
        99,421
      </td>
      <td class="alignrt">
        $2.40
        <span class="subtext">Cost per link click</span>
      </td>
      <td class="alignrt">
        3.20%
        <span class="subtext">Link click rate</span>
      </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" />
      </td>  
      <td class="campaign-name">
        <a href="javascript:loadLevel('campaign','down');">Retweet Promotion - Tweet Engagements Campaign 4th Quarter</a>
         <span class="subtext">Tweet engagments</span>
      </td>
      <td class="Table-cell--alignLeft">
        <div class="src-views-Table-Cells-CampaignStatus-style--root">
          <span class="src-views-Table-Cells-CampaignStatus-style--statusText src-views-Table-Cells-CampaignStatus-style--pending">Scheduled</span>
        </div>
        <span class="subtext">No tweets</span>
      </td>
      <td>
        12 Dec
      </td>
      <td>
        8 Jan
      </td>
      <td>
        $0.00
        <span class="subtext">of $500.00</span>
      </td>
      <td class="nodata">
        -
      </td>
      <td class="nodata alignrt">
        -
      </td>
      <td class="nodata  alignrt">
        -
      </td>
      <td class="nodata  alignrt">
        -
      </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" />
      </td>  
      <td class="campaign-name">
        <a href="javascript:loadLevel('campaign','down');">App promotion to site visitors</a>
         <span class="subtext">App installs or re-engagments</span>
      </td>
      <td class="Table-cell--alignLeft">
        <div class="src-views-Table-Cells-CampaignStatus-style--root">
          <span class="src-views-Table-Cells-CampaignStatus-style--statusText src-views-Table-Cells-CampaignStatus-style--paused">Paused</span>
          <span class="src-views-Table-Cells-CampaignStatus-style--playPauseButton Icon Icon--pause" data-reactid=".0.0.3.1.$6678103.$CampaignDisplayState.0.1"></span>
        </div>
      </td>
      <td>
        27 Oct
      </td>
      <td>
        1 Dec
      </td>
      <td>
        $545.77
        <span class="subtext">of $800.00</span>
      </td>
      <td class="nodata">
        - 
      </td>
      <td class="alignrt">
        43,203
      </td>
      <td class="alignrt">
        $5.84
        <span class="subtext">Cost per engagement</span>
      </td>
      <td class="alignrt">
        1.68%
        <span class="subtext">Engagement rate</span>
      </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" />
      </td>  
      <td class="campaign-name">
        <a href="javascript:loadLevel('campaign','down');">Conversation Targeting Leads Campaign</a>
         <span class="subtext">Leads on Twitter</span>
      </td>
      <td class="Table-cell--alignLeft">
        <div class="src-views-Table-Cells-CampaignStatus-style--root">
          <span class="src-views-Table-Cells-CampaignStatus-style--statusText src-views-Table-Cells-CampaignStatus-style--exhausted">Exhausted</span>
          <span class="src-views-Table-Cells-CampaignStatus-style--playPauseButton Icon Icon--pause" data-reactid=".0.0.3.1.$6678103.$CampaignDisplayState.0.1"></span>
        </div>
      </td>
      <td>
        17 Oct
      </td>
      <td>
        10 Nov
      </td>
      <td>
        $1,000.00
        <span class="subtext">of $1,000.00</span>
      </td>
      <td class="nodata">
        - 
      </td>
      <td class="alignrt">
        80,292
      </td>
      <td class="alignrt">
        $1.29
        <span class="subtext">Cost per lead</span>
      </td>
      <td class="alignrt">
        2.41%
        <span class="subtext">Lead rate</span>
      </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" />
      </td>  
      <td class="campaign-name">
        <a href="javascript:loadLevel('campaign','down');">Vine Q3 2015 re-engagement Campaign</a>
         <span class="subtext">App installs or engagements on Twitter</span>
      </td>
      <td class="Table-cell--alignLeft">
        <div class="src-views-Table-Cells-CampaignStatus-style--root">
          <span class="src-views-Table-Cells-CampaignStatus-style--statusText src-views-Table-Cells-CampaignStatus-style--exhausted">Exhausted</span>
          <span class="src-views-Table-Cells-CampaignStatus-style--playPauseButton Icon Icon--pause" data-reactid=".0.0.3.1.$6678103.$CampaignDisplayState.0.1"></span>
        </div>
      </td>
      <td>
        5 Oct
      </td>
      <td>
        7 Nov
      </td>
      <td>
        $900.00
        <span class="subtext">of $900.00</span>
      </td>
      <td class="nodata">
        - 
      </td>
      <td class="alignrt">
        77,467
      </td>
      <td class="alignrt">
        $0.98
        <span class="subtext">Cost per app click</span>
      </td>
      <td class="alignrt">
        0.97%
        <span class="subtext">App clicks rate</span>
      </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" />
      </td>  
      <td class="campaign-name">
        <a href="javascript:loadLevel('campaign','down');">MLB Playoff Fan Video</a>
         <span class="subtext">Video Views</span>
      </td>
      <td class="Table-cell--alignLeft">
        <div class="src-views-Table-Cells-CampaignStatus-style--root">
          <span class="src-views-Table-Cells-CampaignStatus-style--statusText src-views-Table-Cells-CampaignStatus-style--expired">Expired</span>
          <span class="src-views-Table-Cells-CampaignStatus-style--playPauseButton Icon Icon--pause" data-reactid=".0.0.3.1.$6678103.$CampaignDisplayState.0.1"></span>
        </div>
      </td>
      <td>
        16 Jun
      </td>
      <td class="nodata">
        -
      </td>
      <td>
        $0.00
      </td>
      <td class="nodata">
        - 
      </td>
      <td class="nodata  alignrt">
        - 
      </td>
      <td class="nodata  alignrt">
        - 
      </td>
      <td class="nodata  alignrt">
        - 
      </td>
    </tr>
    <!-- RINSE, REPEAT -->
    <tr>
      <td>
        <input type="checkbox" />
      </td>  
      <td class="campaign-name">
        <a href="javascript:loadLevel('campaign','down');">Life Stages Coffee Campaign</a>
         <span class="subtext">Followers</span>
      </td>
      <td class="Table-cell--alignLeft">
        <div class="src-views-Table-Cells-CampaignStatus-style--root">
          <span class="src-views-Table-Cells-CampaignStatus-style--statusText src-views-Table-Cells-CampaignStatus-style--archived">Archived</span>
        </div>
      </td>
      <td>
        9 Nov
      </td>
      <td>
        29 Dec
      </td>
      <td>
        $649.45
        <span class="subtext">of $1,000.00</span>
      </td>
      <td class="nodata">
        - 
      </td>
      <td class="alignrt">
        50,289
      </td>
      <td class="alignrt">
        $0.13
        <span class="subtext">Cost per link click</span>
      </td>
      <td class="alignrt">
        1.41%
        <span class="subtext">Link click rate</span>
      </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" />
      </td>  
      <td class="campaign-name">
        <a href="javascript:loadLevel('campaign','down');">Website Card Campaign - page 64</a>
         <span class="subtext">Website clicks or conversions</span>
      </td>
      <td class="Table-cell--alignLeft">
        <div class="src-views-Table-Cells-CampaignStatus-style--root">
          <span class="src-views-Table-Cells-CampaignStatus-style--statusText src-views-Table-Cells-CampaignStatus-style--archived">Archived</span>
        </div>
      </td>
      <td>
        9 Nov
      </td>
      <td lass="nodata">
        -
      </td>
      <td>
        $2,696.99
      </td>
      <td class="nodata">
        -
      </td>
      <td class="alignrt">
        99,421
      </td>
      <td class="alignrt">
        $2.40
        <span class="subtext">Cost per link click</span>
      </td>
      <td class="alignrt">
        3.20%
        <span class="subtext">Link click rate</span>
      </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" />
      </td>  
      <td class="campaign-name">
        <a href="javascript:loadLevel('campaign','down');">Retweet Promotion - Tweet Engagements Campaign 4th Quarter</a>
         <span class="subtext">Tweet engagments</span>
      </td>
      <td class="Table-cell--alignLeft">
        <div class="src-views-Table-Cells-CampaignStatus-style--root">
          <span class="src-views-Table-Cells-CampaignStatus-style--statusText src-views-Table-Cells-CampaignStatus-style--archived">Archived</span>
        </div>
      </td>
      <td>
        12 Dec
      </td>
      <td>
        8 Jan
      </td>
      <td>
        $0.00
        <span class="subtext">of $500.00</span>
      </td>
      <td class="nodata">
        -
      </td>
      <td class="nodata alignrt">
        -
      </td>
      <td class="nodata alignrt">
        -
      </td>
      <td class="nodata alignrt">
        -
      </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" />
      </td>  
      <td class="campaign-name">
        <a href="javascript:loadLevel('campaign','down');">App promotion to site visitors</a>
         <span class="subtext">App installs or re-engagments</span>
      </td>
      <td class="Table-cell--alignLeft">
        <div class="src-views-Table-Cells-CampaignStatus-style--root">
          <span class="src-views-Table-Cells-CampaignStatus-style--statusText src-views-Table-Cells-CampaignStatus-style--archived">Archived</span>
        </div>
      </td>
      <td>
        27 Oct
      </td>
      <td>
        1 Dec
      </td>
      <td>
        $545.77
        <span class="subtext">of $800.00</span>
      </td>
      <td class="nodata">
        - 
      </td>
      <td class="alignrt">
        43,203
      </td>
      <td class="alignrt">
        $5.84
        <span class="subtext">Cost per engagement</span>
      </td>
      <td class="alignrt">
        1.68%
        <span class="subtext">Engagement rate</span>
      </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" />
      </td>  
      <td class="campaign-name">
        <a href="javascript:loadLevel('campaign','down');">Conversation Targeting Leads Campaign</a>
         <span class="subtext">Leads on Twitter</span>
      </td>
      <td class="Table-cell--alignLeft">
        <div class="src-views-Table-Cells-CampaignStatus-style--root">
          <span class="src-views-Table-Cells-CampaignStatus-style--statusText src-views-Table-Cells-CampaignStatus-style--archived">Archived</span>
        </div>
      </td>
      <td>
        17 Oct
      </td>
      <td>
        10 Nov
      </td>
      <td>
        $1,000.00
        <span class="subtext">of $1,000.00</span>
      </td>
      <td class="nodata">
        - 
      </td>
      <td class="alignrt">
        80,292
      </td>
      <td class="alignrt">
        $1.29
        <span class="subtext">Cost per lead</span>
      </td>
      <td class="alignrt">
        2.41%
        <span class="subtext">Lead rate</span>
      </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" />
      </td>  
      <td class="campaign-name">
        <a href="javascript:loadLevel('campaign','down');">Vine Q3 2015 re-engagement Campaign</a>
         <span class="subtext">App installs or engagements on Twitter</span>
      </td>
      <td class="Table-cell--alignLeft">
        <div class="src-views-Table-Cells-CampaignStatus-style--root">
          <span class="src-views-Table-Cells-CampaignStatus-style--statusText src-views-Table-Cells-CampaignStatus-style--archived">Archived</span>
        </div>
      </td>
      <td>
        5 Oct
      </td>
      <td>
        7 Nov
      </td>
      <td>
        $900.00
        <span class="subtext">of $900.00</span>
      </td>
      <td class="nodata">
        - 
      </td>
      <td class="alignrt">
        77,467
      </td>
      <td class="alignrt">
        $0.98
        <span class="subtext">Cost per app click</span>
      </td>
      <td class="alignrt">
        0.97%
        <span class="subtext">App clicks rate</span>
      </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" />
      </td>  
      <td class="campaign-name">
        <a href="javascript:loadLevel('campaign','down');">MLB Playoff Fan Video</a>
         <span class="subtext">Video Views</span>
      </td>
      <td class="Table-cell--alignLeft">
        <div class="src-views-Table-Cells-CampaignStatus-style--root">
          <span class="src-views-Table-Cells-CampaignStatus-style--statusText src-views-Table-Cells-CampaignStatus-style--archived">Archived</span>
        </div>
      </td>
      <td>
        16 Jun
      </td>
      <td class="nodata">
        -
      </td>
      <td>
        $0.00
      </td>
      <td class="nodata">
        - 
      </td>
      <td class="nodata alignrt">
        - 
      </td>
      <td class="nodata alignrt">
        - 
      </td>
      <td class="nodata alignrt">
        - 
      </td>
    </tr>
  </tbody>
</table>