<script>
  setTimeout(
    function() {
      $("#loading-table").hide();
      $("#table-ads-creative-load-summary,#table-ads-creative-load-spend,#table-ads-creative-load-imps").fadeTo(100, 0, function(){
        $("#table-ads-creative-load-summary").html("Summary for 2 items");
        $("#table-ads-creative-load-spend").html("$17,328.25");
        $("#table-ads-creative-load-imps").html("4,811,855");     
        $(this).fadeTo(100, 1);  
      });
    }, 2000);
  var header_bottom = $("#adsmgr-page-header").offset().top + $("#adsmgr-page-header").outerHeight();
  //$(".Table").stickyTableHeaders({fixedOffset: header_bottom});
  $('.Table').checkboxes('range', true);
  $(".Table").resizableColumns();
  
  $(document).on("click", "#adsAggregateSwitch", function(event) { 
    if ($(this).is(':checked')) {
      $("#table-content").load("table-account-ads-individual.html", function(){
        countUp();
      });
    } else {
      $("#table-content").load("table-account-ads.html", function(){
        countUp();
      });
    }
  });
  
  function loadAdsTable() {
    $("#table-content").load("table-account-ads.html", function(){
      countUp();
    });
  }
  
  function loadVideosTable() {
    $("#table-content").load("table-account-ads-videos.html", function(){
      countUp();
    });
  }
  
  function loadCreativesTable() {
    $("#table-content").load("table-account-ads-creatives.html", function(){
      countUp();
    });
  }
</script>
  
<div class="tableSubsection">
  <div class="entityTablePillGroup">
    <ul class="PillGroup" role="radiogroup">
      <li class="Pill" role="radio" aria-checked="true"><button type="button" onClick="loadAdsTable();">Tweets</button></li>
      <li class="Pill is-selected" role="radio" aria-checked="false" data-adtable="individual"><button type="button">Display creatives</button></li>
      <li class="Pill" role="radio" aria-checked="false" data-adtable="individual"><button type="button" onClick="loadVideosTable();">Videos</button></li>
    </ul>
  </div>
  
  <div class="dropdown-menu">
    <button type="button" class="Button Button--small Button--tertiary">
      Size: All sizes
      <span class="Icon Icon--caretDown"></span>
    </button>
    <ul class="Dropdown" style="margin-left: -76px;">
      <li class="Dropdown-menuItem is-selected"><span class="Dropdown-menuItemContent">All sizes</span></li>
      <li class="Dropdown-menuItem"><span class="Dropdown-menuItemContent">Banner tablet (728 &#215; 90)</span></li>
      <li class="Dropdown-menuItem"><span class="Dropdown-menuItemContent">Interstitial portrait (320 &#215; 480)</span></li>
    </ul>
  </div>
</div>

<table class="Table Table--striped line-items tooltips-hover" data-actionfooter="lineitem" data-object="ad">
  <thead class="">
    <tr class="">
      <th class="checkcol">
        <input type="checkbox" />
      </th>
      <th class="Table-sortableHeader Table-headerCell--alignLeft">
        Name <span class="Icon Icon--featherTooltipCue"></span>
        <div class="Tooltip Tooltip--top Tooltip--hover" style="top:-28px;left:-72px;">  
          <div class="Tooltip-triangle">    
            <div class="Tooltip-triangleOuter"></div>    
            <div class="Tooltip-triangleInner"></div>  
          </div>  
          <div class="Tooltip-inner">
            <span class="Tooltip-close Icon Icon--close Icon--smallest" aria-hidden="true"></span>
            <div class="Tooltip-content">The name of the item</div>  
          </div>
        </div>
      </th>
      <th class="Table-sortableHeader is-desc Table-headerCell--alignLeft">
        Status <span class="Icon Icon--featherTooltipCue"></span>
        <div class="Tooltip Tooltip--top Tooltip--hover" style="top:-28px;left:-69px;">  
          <div class="Tooltip-triangle">    
            <div class="Tooltip-triangleOuter"></div>    
            <div class="Tooltip-triangleInner"></div>  
          </div>  
          <div class="Tooltip-inner">
            <span class="Tooltip-close Icon Icon--close Icon--smallest" aria-hidden="true"></span>
            <div class="Tooltip-content">The status of the item</div>  
          </div>
        </div>
      </th>
      <th class="Table-sortableHeader Table-headerCell--alignLeft">
        Start date <span class="Icon Icon--featherTooltipCue"></span>
        <div class="Tooltip Tooltip--top Tooltip--hover" style="top:-28px;left:-50px;">  
          <div class="Tooltip-triangle">    
            <div class="Tooltip-triangleOuter"></div>    
            <div class="Tooltip-triangleInner"></div>  
          </div>  
          <div class="Tooltip-inner">
            <span class="Tooltip-close Icon Icon--close Icon--smallest" aria-hidden="true"></span>
            <div class="Tooltip-content">The date the item starts</div>  
          </div>
        </div>
      </th>
      <th class="Table-sortableHeader Table-headerCell--alignLeft">
        Spend <span class="Icon Icon--featherTooltipCue"></span>
        <div class="Tooltip Tooltip--top Tooltip--hover" style="top:-28px;left:-69px;">  
          <div class="Tooltip-triangle">    
            <div class="Tooltip-triangleOuter"></div>    
            <div class="Tooltip-triangleInner"></div>  
          </div>  
          <div class="Tooltip-inner">
            <span class="Tooltip-close Icon Icon--close Icon--smallest" aria-hidden="true"></span>
            <div class="Tooltip-content">How much the the item has spent</div>  
          </div>
        </div>
      </th>
      <th class="Table-sortableHeader Table-headerCell--alignRight alignrt">
        <span class="Icon Icon--featherTooltipCue"></span> Impressions 
        <div class="Tooltip Tooltip--top Tooltip--hover" style="top:-28px;right:-35px;">  
          <div class="Tooltip-triangle">    
            <div class="Tooltip-triangleOuter"></div>    
            <div class="Tooltip-triangleInner"></div>  
          </div>  
          <div class="Tooltip-inner">
            <span class="Tooltip-close Icon Icon--close Icon--smallest" aria-hidden="true"></span>
            <div class="Tooltip-content">The number of impressions served</div>  
          </div>
        </div>
      </th>
      <th class="Table-sortableHeader Table-headerCell--alignLeft">
        Engagements <span class="Icon Icon--featherTooltipCue"></span>
        <div class="Tooltip Tooltip--top Tooltip--hover" style="top:-45px;left:-21px;">  
          <div class="Tooltip-triangle">    
            <div class="Tooltip-triangleOuter"></div>    
            <div class="Tooltip-triangleInner"></div>  
          </div>  
          <div class="Tooltip-inner">
            <span class="Tooltip-close Icon Icon--close Icon--smallest" aria-hidden="true"></span>
            <div class="Tooltip-content">How many engagements your ad had</div>  
          </div>
        </div>
      </th>
      <th class="Table-sortableHeader Table-headerCell--alignRight alignrt">
        <span class="Icon Icon--featherTooltipCue"></span> Cost per result
        <div class="Tooltip Tooltip--top Tooltip--hover" style="top:-28px;right:-21px;">  
          <div class="Tooltip-triangle">    
            <div class="Tooltip-triangleOuter"></div>    
            <div class="Tooltip-triangleInner"></div>  
          </div>  
          <div class="Tooltip-inner">
            <span class="Tooltip-close Icon Icon--close Icon--smallest" aria-hidden="true"></span>
            <div class="Tooltip-content">The average cost per result</div>  
          </div>
        </div>
      </th>
      <th class="Table-sortableHeader Table-headerCell--alignRight alignrt">
        <span class="Icon Icon--featherTooltipCue"></span> Results rate
        <div class="Tooltip Tooltip--topLeft Tooltip--hover" style="top:-28px;right:64px;">  
          <div class="Tooltip-triangle">    
            <div class="Tooltip-triangleOuter"></div>    
            <div class="Tooltip-triangleInner"></div>  
          </div>  
          <div class="Tooltip-inner">
            <span class="Tooltip-close Icon Icon--close Icon--smallest" aria-hidden="true"></span>
            <div class="Tooltip-content">Results divided by impressions</div>  
          </div>
        </div>
      </th>
    </tr>
    <tr class="summary-row">
      <td class="checkcol-summary">
        <div id="loading-table" class="Icon Icon--loadingSmall"></div>
      </td>  
      <td>
        <strong id="table-ads-creative-load-summary">Loading summary for 2 items&hellip;</strong>
      </td>
      <td class="nodata">
        -
      </td>
      <td class="nodata">
        -
      </td>
      <td id="table-ads-creative-load-spend" class="alignrt">
        <div class="Icon Icon--loadingSmall"></div>
      </td>
      <td id="table-ads-creative-load-imps" class="alignrt">
        <div class="Icon Icon--loadingSmall"></div>
      </td>
      <td class="nodata alignrt">
        -
      </td>
      <td class="nodata alignrt">
        -
      </td>
      <td class="nodata alignrt">
        -
      </td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <input type="checkbox" />
      </td>  
      <td>
        <div class="ad-preview">
          <div class="ad-thumbnail-wrapper">
            <div class="ad-thumbnail showtooltip-hover" style="background-image:url(https://unsplash.it/42/63?image=312);">
              <!-- <div class="ad-preview-icon"></div> -->
            </div>
            <div class="Tooltip" style="top:-420px">  
              <div class="Tooltip-triangle" style="top:460px">    
                <div class="Tooltip-triangleOuter"></div>    
                <div class="Tooltip-triangleInner"></div>  
              </div>  
              <div class="Tooltip-inner">    
                <span class="Tooltip-close Icon Icon--close Icon--smallest" aria-hidden="true"></span>    
                <div class="Tooltip-content">
                  <img src="https://unsplash.it/320/480?image=312">
                </div>  
              </div>
            </div>
          </div>
          <div class="ad-details">
            baristabar_interstitial.png
            <span class="subtext">320 &#215; 480</span>
          </div>
          <div class="cellBreadcrumb">
            <a href="javascript:loadLevel('campaign','down');" title="Campaign: App promotion to site visitors">App promotion to site visitors</a>
            <span class="Icon Icon--caretRight smallBreadcrumb"></span>
            <a href="javascript:loadLevel('adgroup','down');" title="Ad group: App promotion to site visitors">App promotion to site visitors</a>
          </div>
        </div>
      </td>
      <td class="Table-cell--alignLeft">
        <div class="src-views-Table-Cells-CampaignStatus-style--root">
          <span class="src-views-Table-Cells-CampaignStatus-style--statusText src-views-Table-Cells-CampaignStatus-style--running">Running</span>
          <span class="src-views-Table-Cells-CampaignStatus-style--playPauseButton Icon Icon--pause" data-reactid=".0.0.3.1.$6678103.$CampaignDisplayState.0.1"></span>
        </div>
      </td>
      <td>
        9 Nov
      </td>
      <td class="alignrt">
        $649.45
      </td>
      <td class="alignrt">
        18,737
      </td>
      <td class="alignrt">
        264
      </td>
      <td class="alignrt">
        $0.13
        <span class="subtext">Cost per link click</span>
      </td>
      <td class="alignrt">
        1.41%
        <span class="subtext">Link click rate</span>
      </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" />
      </td>  
      <td>
        <div class="ad-preview">
          <div class="ad-thumbnail-wrapper">
            <div class="ad-thumbnail showtooltip-hover" style="background-image:url(https://unsplash.it/42/63?image=63);">
              <!-- <div class="ad-preview-icon"></div> -->
            </div>
            <div class="Tooltip" style="top:-420px">  
              <div class="Tooltip-triangle" style="top:460px">    
                <div class="Tooltip-triangleOuter"></div>    
                <div class="Tooltip-triangleInner"></div>  
              </div>  
              <div class="Tooltip-inner">    
                <span class="Tooltip-close Icon Icon--close Icon--smallest" aria-hidden="true"></span>    
                <div class="Tooltip-content">
                  <img src="https://unsplash.it/320/480?image=63">
                </div>  
              </div>
            </div>
          </div>
          <div class="ad-details">
            baristabar_interstitial.png
            <span class="subtext">320 &#215; 480</span>
            <!-- <span class="subtext"><a href="#">Used in 1 campaign</a></span> -->
          </div>
          <div class="cellBreadcrumb">
            <a href="javascript:loadLevel('campaign','down');" title="Campaign: App promotion to site visitors">App promotion to site visitors</a>
            <span class="Icon Icon--caretRight smallBreadcrumb"></span>
            <a href="javascript:loadLevel('adgroup','down');" title="Ad group: App promotion to site visitors">App promotion to site visitors</a>
          </div>
        </div>
      </td>
      <td class="Table-cell--alignLeft">
        <div class="src-views-Table-Cells-CampaignStatus-style--root">
          <span class="src-views-Table-Cells-CampaignStatus-style--statusText src-views-Table-Cells-CampaignStatus-style--running">Running</span>
          <span class="src-views-Table-Cells-CampaignStatus-style--playPauseButton Icon Icon--pause" data-reactid=".0.0.3.1.$6678103.$CampaignDisplayState.0.1"></span>
        </div>
      </td>
      <td>
        9 Nov
      </td>
      <td class="alignrt">
        $649.45
      </td>
      <td class="alignrt">
        18,737
      </td>
      <td class="alignrt">
        264
      </td>
      <td class="alignrt">
        $0.13
        <span class="subtext">Cost per link click</span>
      </td>
      <td class="alignrt">
        1.41%
        <span class="subtext">Link click rate</span>
      </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" />
      </td>  
      <td>
        <div class="ad-preview">
          <div class="ad-thumbnail-wrapper">
            <div class="ad-thumbnail showtooltip-hover" style="background-image:url(https://unsplash.it/63/8?image=63);">
              <!-- <div class="ad-preview-icon"></div> -->
            </div>
            <div class="Tooltip" style="top:-40px;width:800px;">  
              <div class="Tooltip-triangle" style="top:460px">    
                <div class="Tooltip-triangleOuter"></div>    
                <div class="Tooltip-triangleInner"></div>  
              </div>  
              <div class="Tooltip-inner">    
                <span class="Tooltip-close Icon Icon--close Icon--smallest" aria-hidden="true"></span>    
                <div class="Tooltip-content">
                  <img src="https://unsplash.it/728/90?image=63">
                </div>  
              </div>
            </div>
          </div>
          <div class="ad-details">
            baristabar_banner_tablet.png
            <span class="subtext">728 &#215; 90</span>
            <!-- <span class="subtext"><a href="#">Used in 1 campaign</a></span> -->
          </div>
          <div class="cellBreadcrumb">
            <a href="javascript:loadLevel('campaign','down');" title="Campaign: App promotion to site visitors">App promotion to site visitors</a>
            <span class="Icon Icon--caretRight smallBreadcrumb"></span>
            <a href="javascript:loadLevel('adgroup','down');" title="Ad group: App promotion to site visitors">App promotion to site visitors</a>
          </div>
        </div>
      </td>
      <td class="Table-cell--alignLeft">
        <div class="src-views-Table-Cells-CampaignStatus-style--root">
          <span class="src-views-Table-Cells-CampaignStatus-style--statusText src-views-Table-Cells-CampaignStatus-style--running">Running</span>
          <span class="src-views-Table-Cells-CampaignStatus-style--playPauseButton Icon Icon--pause" data-reactid=".0.0.3.1.$6678103.$CampaignDisplayState.0.1"></span>
        </div>
      </td>
      <td>
        9 Nov
      </td>
      <td class="alignrt">
        $649.45
      </td>
      <td class="alignrt">
        18,737
      </td>
      <td class="alignrt">
        264
      </td>
      <td class="alignrt">
        $0.13
        <span class="subtext">Cost per link click</span>
      </td>
      <td class="alignrt">
        1.41%
        <span class="subtext">Link click rate</span>
      </td>
    </tr>
  </tbody>
</table>