<script>
  $( document ).ready(function() {
    $("#adsmgr-audience").load("audience-overview-adgroup.html");
    //$("#adsmgr-audience").load("audience-keywords.html");
    jQuery(function($) {
      function fixDiv() {
        if ($(window).scrollTop() > 365)
          $(".audience-summary").css({
            "position": "fixed",
            "top": "144px",
            "right": "20px"
          });
        else
          $(".audience-summary").css({
            "position": "absolute",
            "top": "126px",
            "right": "0"
          });
      }
      $(window).scroll(fixDiv);
      fixDiv();
    });
  });
  
  $(document).on("click", ".adsmgr-leftnav li", function(event) {
    if ($(this).hasClass("audience")) {
      $(".audience-summary").hide();
    } else {
      $(".audience-summary").show();
    }
  });
  
  $("#globalSearchBoxWrapper").hide();
</script>
  
<!-- <div class="PageHeader subheader">
  <div class="PageHeader-content">
    <div class="PageHeader-headerContainer">
      <div class="PageHeader-header">
        Audience for this ad group
        <span class="text-secondary text-md" style="margin-left:14px">Hover over rows to add or remove targets</span>
      </div>
    </div>
  </div>
</div> -->
<div class="adsmgr-col col-left">
  <ul class="adsmgr-leftnav">
    <li class="selected audience" data-loadcontent="audience-overview-adgroup.html">Audience Overview</li>
    <li class="section" style="position:relative">
      <span class="small-caps">Targeted</span>
      <span class="Icon Icon--featherTooltipCue showtooltip"></span>
      <div class="Tooltip" style="left:94px;top:9px;">  
        <div class="Tooltip-triangle">    
          <div class="Tooltip-triangleOuter"></div>    
          <div class="Tooltip-triangleInner"></div>  
        </div>  
        <div class="Tooltip-inner">    
          <span class="Tooltip-close Icon Icon--close Icon--smallest" aria-hidden="true"></span>    
          <div class="Tooltip-content">
            The audience that you targeted
          </div>  
        </div>
      </div>
    </li>
    <li id="audience-keywords" data-loadcontent="audience-keywords.html">Keywords <span class="targets">51 targets</span></li>
    <li id="audience-locations" data-loadcontent="audience-locations.html">Locations <span class="targets">2 targets</span></li>
    <!-- <li data-loadcontent="audience-custom.html">Custom</li> -->
    <li class="section" style="position:relative">
      <span class="small-caps">Also reached</span>
      <span class="Icon Icon--featherTooltipCue showtooltip"></span>
      <div class="Tooltip" style="left:128px;top:8px;">  
        <div class="Tooltip-triangle">    
          <div class="Tooltip-triangleOuter"></div>    
          <div class="Tooltip-triangleInner"></div>  
        </div>  
        <div class="Tooltip-inner">    
          <span class="Tooltip-close Icon Icon--close Icon--smallest" aria-hidden="true"></span>    
          <div class="Tooltip-content">
            Additional information about audiences that you also reached, but did not specifically target
          </div>  
        </div>
      </div>
    </li>
    <li id="audience-gender" data-loadcontent="audience-gender.html">Gender</li>
    <li id="audience-language" data-loadcontent="audience-language.html">Language</li>
    <li id="audience-platform" data-loadcontent="audience-platform.html">Platform</li>
    <li id="audience-interests" data-loadcontent="audience-interests.html">Interests</li>
  </ul>  
</div>
<div id="adsmgr-audience" class="adgroup-audience">
<!-- Load audience -->
</div>
<!-- <div class="audience-summary" style="display:none;">
  <img src="src/images/audience-summary.png" style="width:276px;height:522px;">
</div>   -->