<script>
  setTimeout(
    function() {
      $("#loading-table").hide();
      $("#table-ads-load-summary,#table-ads-load-spend,#table-ads-load-imps").fadeTo(100, 0, function(){
        $("#table-ads-load-summary").html("Summary for 2 ads");
        $("#table-ads-load-spend").html("$482.84");
        $("#table-ads-load-imps").html("19,044");     
        $(this).fadeTo(100, 1);  
      });
    }, 100);
  var header_bottom = $("#adsmgr-page-header").offset().top + $("#adsmgr-page-header").outerHeight();
  $(".Table").stickyTableHeaders({fixedOffset: header_bottom});
  $('.Table').checkboxes('range', true);
  $(".Table").resizableColumns();
  
  $("#globalSearchBoxWrapper").show();
  $("#globalSearchBox").val("").attr("placeholder", "Search ad IDs");
</script>

<table class="Table Table--striped">
  <thead class="">
    <tr class="">
      <th class="checkcol">
        <input type="checkbox" />
      </th>
      <th class="talignleft">
        Name
      </th>
      <th class="Table-sortableHeader is-desc Table-headerCell--alignLeft">
        Status
      </th>
      <th>
        Start date
      </th>
      <th>
        Ad type
      </th>
      <th>
        Spend
      </th>
      <th class="alignrt">
        Impressions
      </th>
      <th class="alignrt">
        Engagements
      </th>
      <th class="alignrt">
        Cost per result
      </th>
      <th class="alignrt">
        Results rate
      </th>
    </tr>
    <tr class="summary-row">
      <td class="checkcol-summary">
        <div id="loading-table" class="Icon Icon--loadingSmall"></div>
      </td>  
      <td>
        <strong id="table-ads-load-summary">Loading summary for 2 items&hellip;</strong>
      </td>
      <td class="nodata">
        -
      </td>
      <td class="nodata">
        -
      </td>
      <td class="nodata">
        -
      </td>
      <td id="table-ads-load-spend" class="alignrt">
        <div class="Icon Icon--loadingSmall"></div>
      </td>
      <td id="table-ads-load-imps" class="alignrt">
        <div class="Icon Icon--loadingSmall"></div>
      </td>
      <td class="nodata alignrt">
        -
      </td>
      <td class="nodata alignrt">
        -
      </td>
      <td class="nodata alignrt">
        -
      </td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <input type="checkbox" />
      </td>  
      <td>
        <div class="ad-preview">
          <div class="ad-thumbnail showtooltip" style="background-image:url(https://unsplash.it/96/54?image=42)">
            <div class="ad-preview-icon"></div>
          </div>
          <div class="ad-details">
            <div class="ad-avatar" style="background-image: url(src/images/avatar.png);"></div> 
            <span class="tweet-account-name">Barista Bar</span>
            <span class="tweet-account-details">@baristabar &middot; <a href="https://twitter.com/baristabar/status/564180410385457152" target="_blank">Nov 8</a></span>
            <div class="tweet-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore. pic.twitter.com/isug27</div>  
            <!-- <span class="subtext"><a href="#">Used in 2 ad groups</a></span> -->
          </div>
          <div class="Tooltip">  
            <div class="Tooltip-triangle">    
              <div class="Tooltip-triangleOuter"></div>    
              <div class="Tooltip-triangleInner"></div>  
            </div>  
            <div class="Tooltip-inner">    
              <span class="Tooltip-close Icon Icon--close Icon--smallest" aria-hidden="true"></span>    
              <div class="Tooltip-content">
                <img src="https://pbs.twimg.com/profile_images/659058425255456768/vaTsXQPC_bigger.png" class="tw-avatar">
                <div class="ad-details">
                  <span class="tweet-account-name">Barista Bar</span>
                  <span class="tweet-account-details">@baristabar &middot; <a href="https://twitter.com/baristabar/status/564180410385457152" target="_blank">Nov 8</a></span>
                  <div class="tweet-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore. pic.twitter.com/isug27<br><img src="https://unsplash.it/280/140?image=42"></div>
                </div>  
              </div>  
            </div>
          </div>
        </div>
      </td>
      <td class="Table-cell--alignLeft">
        <div class="src-views-Table-Cells-CampaignStatus-style--root">
          <span class="src-views-Table-Cells-CampaignStatus-style--statusText src-views-Table-Cells-CampaignStatus-style--running">Running</span>
          <span class="src-views-Table-Cells-CampaignStatus-style--playPauseButton Icon Icon--pause" data-reactid=".0.0.3.1.$6678103.$CampaignDisplayState.0.1"></span>
        </div>
      </td>
      <td>
        9 Nov
      </td>
      <td>
        Tweet
      </td>
      <td class="alignrt">
        $649.45
      </td>
      <td class="alignrt">
        18,737
      </td>
      <td class="alignrt">
        264
      </td>
      <td class="alignrt">
        $0.13
        <span class="subtext">Cost per link click</span>
      </td>
      <td class="alignrt">
        1.41%
        <span class="subtext">Link click rate</span>
      </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" />
      </td>  
      <td>
        <div class="ad-preview">
          <div class="ad-thumbnail showtooltip" style="background-image:url(https://unsplash.it/96/54?image=113)">
            <div class="ad-preview-icon"></div>
          </div>
          <div class="ad-details">
            <div class="ad-avatar" style="background-image: url(src/images/avatar.png);"></div> 
            <span class="tweet-account-name">Barista Bar</span>
            <span class="tweet-account-details">@baristabar &middot; <a href="https://twitter.com/baristabar/status/564180410385457152" target="_blank">Nov 8</a></span>
            <div class="tweet-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore. pic.twitter.com/dgdk28</div>  
            <!-- <span class="subtext"><a href="#">Used in 2 ad groups</a></span> -->
          </div>
          <div class="Tooltip">  
            <div class="Tooltip-triangle">    
              <div class="Tooltip-triangleOuter"></div>    
              <div class="Tooltip-triangleInner"></div>  
            </div>  
            <div class="Tooltip-inner">    
              <span class="Tooltip-close Icon Icon--close Icon--smallest" aria-hidden="true"></span>    
              <div class="Tooltip-content">
                <img src="https://pbs.twimg.com/profile_images/659058425255456768/vaTsXQPC_bigger.png" class="tw-avatar">
                <div class="ad-details">
                  <span class="tweet-account-name">Barista Bar</span>
                  <span class="tweet-account-details">@baristabar &middot; <a href="https://twitter.com/baristabar/status/564180410385457152" target="_blank">Nov 8</a></span>
                  <div class="tweet-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore. pic.twitter.com/dgdk28<br><img src="https://unsplash.it/280/140?image=113" style="border-radius:4px;"></div>
                </div>  
              </div>  
            </div>
          </div>
        </div>
      </td>
      <td class="Table-cell--alignLeft">
        <div class="src-views-Table-Cells-CampaignStatus-style--root">
          <span class="src-views-Table-Cells-CampaignStatus-style--statusText src-views-Table-Cells-CampaignStatus-style--running">Running</span>
          <span class="src-views-Table-Cells-CampaignStatus-style--playPauseButton Icon Icon--pause" data-reactid=".0.0.3.1.$6678103.$CampaignDisplayState.0.1"></span>
        </div>
      </td>
      <td>
        9 Nov
      </td>
      <td>
        Tweet
      </td>
      <td class="alignrt">
        $649.45
      </td>
      <td class="alignrt">
        18,737
      </td>
      <td class="alignrt">
        264
      </td>
      <td class="alignrt">
        $0.13
        <span class="subtext">Cost per link click</span>
      </td>
      <td class="alignrt">
        1.41%
        <span class="subtext">Link click rate</span>
      </td>
    </tr>
  </tbody>
</table>