<script>
  $( document ).ready(function() {
    $("#adsmgr-audience").load("audience-interests.html");
    //$("#adsmgr-audience").load("audience-keywords.html");
  });
  
  $("#globalSearchBoxWrapper").hide();
</script>
<!-- <div class="PageHeader subheader">
  <div class="PageHeader-content">
    <div class="PageHeader-headerContainer">
      <div class="PageHeader-header">
        Audience for this campaign
        <span class="text-secondary text-md" style="margin-left:14px">Showing data for 3 ad groups</span>
      </div>
    </div>
  </div>
</div> -->
<div class="adsmgr-col col-left">
  <!-- <ul class="adsmgr-leftnav">
    <li class="selected audience" data-loadcontent="audience-overview-campaign.html">Audience Overview</li>
    <li class="section" style="position:relative">
      <span class="small-caps">Targeted</span>
      <span class="Icon Icon--featherTooltipCue showtooltip"></span>
      <div class="Tooltip" style="left:94px;top:9px;">
        <div class="Tooltip-triangle">
          <div class="Tooltip-triangleOuter"></div>
          <div class="Tooltip-triangleInner"></div>
        </div>
        <div class="Tooltip-inner">
          <span class="Tooltip-close Icon Icon--close Icon--smallest" aria-hidden="true"></span>
          <div class="Tooltip-content">
            The audience that you targeted
          </div>
        </div>
      </div>
    </li>
    <li id="audience-keywords" data-loadcontent="audience-gender-female.html">Gender <span class="targets">1 target</span></li>
    <li id="audience-keywords" data-loadcontent="audience-keywords.html">Keywords <span class="targets">51 targets</span></li>
    <li id="audience-handles" data-loadcontent="audience-handles.html">Handles <span class="targets">30 targets</span></li>
    <li id="audience-behaviors" data-loadcontent="audience-behaviors.html">Behaviors <span class="targets">20 targets</span></li>
    <li id="audience-locations" data-loadcontent="audience-locations.html">Locations <span class="targets">2 targets</span></li>
    <li data-loadcontent="audience-custom.html">Custom</li>
    <li class="section" style="position:relative">
      <span class="small-caps">Also reached</span>
      <span class="Icon Icon--featherTooltipCue showtooltip"></span>
      <div class="Tooltip" style="left:128px;top:8px;">
        <div class="Tooltip-triangle">
          <div class="Tooltip-triangleOuter"></div>
          <div class="Tooltip-triangleInner"></div>
        </div>
        <div class="Tooltip-inner">
          <span class="Tooltip-close Icon Icon--close Icon--smallest" aria-hidden="true"></span>
          <div class="Tooltip-content">
            Additional information about audiences that you also reached, but did not specifically target
          </div>
        </div>
      </div>
    </li>
    <li id="audience-gender" data-loadcontent="audience-gender-male.html">Gender</li>
    <li id="audience-language" data-loadcontent="audience-language.html">Language</li>
    <li id="audience-platform" data-loadcontent="audience-platform.html">Platform</li>
    <li id="audience-interests" data-loadcontent="audience-interests.html">Interests</li>
  </ul> -->
  <ul class="adsmgr-leftnav">
    <li class="selected audience" id="audience-interests" data-loadcontent="audience-interests.html">Interests <span class="targets">5 targets</span></li>
    <li id="audience-keywords" data-loadcontent="audience-keywords.html">Keywords <span class="targets">51 targets</span></li>
    <li id="audience-handles" data-loadcontent="audience-handles.html">Handles <span class="targets">30 targets</span></li>
    <li id="audience-behaviors" data-loadcontent="audience-behaviors.html">Behaviors <span class="targets">20 targets</span></li>
    <li id="audience-locations" data-loadcontent="audience-locations.html">Locations <span class="targets">2 targets</span></li>
    <li id="audience-gender" data-loadcontent="audience-gender-male.html">Gender</li>
    <li id="audience-language" data-loadcontent="audience-language.html">Language</li>
    <li id="audience-platform" data-loadcontent="audience-platform.html">Platform</li>
  </ul>  
</div>
<div id="adsmgr-audience">
<!-- Load audience -->
</div>