<script>
  setTimeout(
    function() {
      $("#loading-table").hide();
      $("#table-ads-load-summary,#table-ads-load-spend,#table-ads-load-imps").fadeTo(100, 0, function(){
        $("#table-ads-load-summary").html("Summary for 227 ads");
        $("#table-ads-load-spend").html("$17,328.25");
        $("#table-ads-load-imps").html("4,811,855");     
        $(this).fadeTo(100, 1);  
      });
    }, 2000);
  var header_bottom = $("#adsmgr-page-header").offset().top + $("#adsmgr-page-header").outerHeight();
  //$(".Table").stickyTableHeaders({fixedOffset: header_bottom});
  $('.Table').checkboxes('range', true);
  $(".Table").resizableColumns();
  
  function loadAdsTable() {
    $("#table-content").load("table-account-ads.html", function(){
      countUp();
    });
  }
</script>

<div class="tableSubsection">
  <div class="entityTablePillGroup">
    <ul class="PillGroup" role="radiogroup">
      <li class="Pill is-selected" role="radio" aria-checked="true"><button type="button">Tweets</button></li>
      <li class="Pill" role="radio" aria-checked="false" data-adtable="individual"><button type="button" onClick="loadCreativesTable();">Display creatives</button></li>
      <li class="Pill" role="radio" aria-checked="false" data-adtable="individual"><button type="button" onClick="loadVideosTable();">Videos</button></li>
    </ul>
  </div>
  
  <div class="adsAggregateSwitch">
    <label><input id="adsAggregateSwitch" type="checkbox" checked="checked"></input> View aggregate Tweet results</label>
    <span class="Icon Icon--featherTooltipCue showtooltip-hover"></span>
    <div class="Tooltip Tooltip--topLeft" style="right:-10px;top:-70px;">   
      <div class="Tooltip-triangle">    
        <div class="Tooltip-triangleOuter"></div>    
        <div class="Tooltip-triangleInner"></div>  
      </div>  
      <div class="Tooltip-inner">
        <span class="Tooltip-close Icon Icon--close Icon--smallest" aria-hidden="true"></span>
        <div class="Tooltip-content">
          The same Tweet, pre-roll, or display creatives can be used in multiple campaigns and ad groups.
        </div>  
      </div>
    </div>
  </div>
</div>

<table class="Table Table--breakdown Table--striped line-items tooltips-hover" data-actionfooter="lineitem" data-object="ad">
  <thead class="">
    <tr class="">
      <th class="checkcol">
        <input type="checkbox" />
      </th>
      <th class="Table-sortableHeader Table-headerCell--alignLeft">
        Name <span class="Icon Icon--featherTooltipCue"></span>
        <div class="Tooltip Tooltip--top Tooltip--hover" style="top:-28px;left:-72px;">  
          <div class="Tooltip-triangle">    
            <div class="Tooltip-triangleOuter"></div>    
            <div class="Tooltip-triangleInner"></div>  
          </div>  
          <div class="Tooltip-inner">
            <span class="Tooltip-close Icon Icon--close Icon--smallest" aria-hidden="true"></span>
            <div class="Tooltip-content">The name of the item</div>  
          </div>
        </div>
      </th>
      <th class="Table-sortableHeader Table-headerCell--alignLeft">
        Spend <span class="Icon Icon--featherTooltipCue"></span>
        <div class="Tooltip Tooltip--top Tooltip--hover" style="top:-28px;left:-69px;">  
          <div class="Tooltip-triangle">    
            <div class="Tooltip-triangleOuter"></div>    
            <div class="Tooltip-triangleInner"></div>  
          </div>  
          <div class="Tooltip-inner">
            <span class="Tooltip-close Icon Icon--close Icon--smallest" aria-hidden="true"></span>
            <div class="Tooltip-content">How much the the item has spent</div>  
          </div>
        </div>
      </th>
      <th class="Table-sortableHeader Table-headerCell--alignRight alignrt">
        <span class="Icon Icon--featherTooltipCue"></span> Impressions 
        <div class="Tooltip Tooltip--top Tooltip--hover" style="top:-28px;right:-35px;">  
          <div class="Tooltip-triangle">    
            <div class="Tooltip-triangleOuter"></div>    
            <div class="Tooltip-triangleInner"></div>  
          </div>  
          <div class="Tooltip-inner">
            <span class="Tooltip-close Icon Icon--close Icon--smallest" aria-hidden="true"></span>
            <div class="Tooltip-content">The number of impressions served</div>  
          </div>
        </div>
      </th>
      <th class="Table-sortableHeader Table-headerCell--alignLeft">
        Engagements <span class="Icon Icon--featherTooltipCue"></span>
        <div class="Tooltip Tooltip--top Tooltip--hover" style="top:-45px;left:-21px;">  
          <div class="Tooltip-triangle">    
            <div class="Tooltip-triangleOuter"></div>    
            <div class="Tooltip-triangleInner"></div>  
          </div>  
          <div class="Tooltip-inner">
            <span class="Tooltip-close Icon Icon--close Icon--smallest" aria-hidden="true"></span>
            <div class="Tooltip-content">How many engagements your ad had</div>  
          </div>
        </div>
      </th>
      <th class="Table-sortableHeader Table-headerCell--alignRight alignrt">
        <span class="Icon Icon--featherTooltipCue"></span> Cost per result
        <div class="Tooltip Tooltip--top Tooltip--hover" style="top:-28px;right:-21px;">  
          <div class="Tooltip-triangle">    
            <div class="Tooltip-triangleOuter"></div>    
            <div class="Tooltip-triangleInner"></div>  
          </div>  
          <div class="Tooltip-inner">
            <span class="Tooltip-close Icon Icon--close Icon--smallest" aria-hidden="true"></span>
            <div class="Tooltip-content">The average cost per result</div>  
          </div>
        </div>
      </th>
      <th class="Table-sortableHeader Table-headerCell--alignRight alignrt">
        <span class="Icon Icon--featherTooltipCue"></span> Results rate
        <div class="Tooltip Tooltip--topLeft Tooltip--hover" style="top:-28px;right:64px;">  
          <div class="Tooltip-triangle">    
            <div class="Tooltip-triangleOuter"></div>    
            <div class="Tooltip-triangleInner"></div>  
          </div>  
          <div class="Tooltip-inner">
            <span class="Tooltip-close Icon Icon--close Icon--smallest" aria-hidden="true"></span>
            <div class="Tooltip-content">Results divided by impressions</div>  
          </div>
        </div>
      </th>
    </tr>
    <tr class="summary-row">
      <td class="checkcol-summary">
        <div id="loading-table" class="Icon Icon--loadingSmall"></div>
      </td>  
      <td>
        <strong id="table-ads-load-summary">Loading summary for 227 items&hellip;</strong>
      </td>
      <td id="table-ads-load-spend" class="alignrt">
        <div class="Icon Icon--loadingSmall"></div>
      </td>
      <td id="table-ads-load-imps" class="alignrt">
        <div class="Icon Icon--loadingSmall"></div>
      </td>
      <td class="nodata alignrt">
        -
      </td>
      <td class="nodata alignrt">
        -
      </td>
      <td class="nodata alignrt">
        -
      </td>
    </tr>
  </thead>
  <tbody>
    <tr class="parent-row">
      <td>
        <input type="checkbox" />
      </td>  
      <td>
        <div class="ad-preview">
          <div class="ad-thumbnail-wrapper">
            <div class="ad-thumbnail clickable showtooltip-hover" style="background-image:url(https://unsplash.it/96/54?image=42)" onClick="window.open('https://twitter.com/baristabar/status/564180410385457152');">
              <div class="ad-preview-icon"><span class="Icon Icon--url"></span></div>
            </div>
            <div class="Tooltip">  
              <div class="Tooltip-triangle">    
                <div class="Tooltip-triangleOuter"></div>    
                <div class="Tooltip-triangleInner"></div>  
              </div>  
              <div class="Tooltip-inner">    
                <span class="Tooltip-close Icon Icon--close Icon--smallest" aria-hidden="true"></span>    
                <div class="Tooltip-content">
                  <img src="https://pbs.twimg.com/profile_images/659058425255456768/vaTsXQPC_bigger.png" class="tw-avatar">
                  <div class="ad-details">
                    <span class="tweet-account-name">Barista Bar</span>
                    <span class="tweet-account-details">@baristabar &middot; <a href="https://twitter.com/baristabar/status/564180410385457152" target="_blank">Nov 8</a></span>
                    <div class="tweet-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore. pic.twitter.com/isug27<br><img src="https://unsplash.it/280/140?image=42"></div>
                  </div>  
                </div>  
              </div>
            </div>
          </div>
          <div class="ad-details">
            <div class="ad-title-bar">
              <div class="ad-avatar" style="background-image: url(src/images/avatar.png);"></div>
              <span class="tweet-account-name">Barista Bar</span>
              <span class="tweet-account-details">@baristabar &middot; <a href="https://twitter.com/baristabar/status/564180410385457152" target="_blank">Nov 8</a></span>
              <!-- <span class="Icon Icon--url tweet-preview-control"></span> -->
            </div>
            <div class="tweet-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore. pic.twitter.com/isug27</div>
          </div>
        </div>
      </td>
      <td class="alignrt">
        $649.45
      </td>
      <td class="alignrt">
        18,737
      </td>
      <td class="alignrt">
        264
      </td>
      <td class="alignrt">
        $0.13
        <span class="subtext">Cost per link click</span>
      </td>
      <td class="alignrt">
        1.41%
        <span class="subtext">Link click rate</span>
      </td>
    </tr>
    <tr class="child-row">
      <td><input type="checkbox" /></td>  
      <td>
        <div class="cellBreadcrumb">
          <a href="javascript:loadLevel('campaign','down');" title="Campaign: Retweet Promotion - Tweet Engagements Campaign 4th Quarter">Retweet Promotion - Tweet Engagements Campaign 4th Quarter</a>
          <span class="Icon Icon--caretRight smallBreadcrumb"></span>
          <a href="javascript:loadLevel('adgroup','down');" title="Ad group: Retweet Promotion - Event">Retweet Promotion - Event</a>
        </div>
      </td>  
      <td class="alignrt">$124.54</td>  
      <td class="alignrt">3,694</td>  
      <td class="alignrt">51</td>  
      <td class="alignrt">$0.13
        <span class="subtext">Cost per link click</span></td>  
      <td class="alignrt">1.41%
        <span class="subtext">Link click rate</span></td>  
    </tr>  
    <tr class="child-row">
      <td><input type="checkbox" /></td>  
      <td>
        <div class="cellBreadcrumb">
          <a href="javascript:loadLevel('campaign','down');" title="Campaign: Retweet Promotion - Tweet Engagements Campaign 4th Quarter">Promotion - Tweet Engagements Campaign 3rd Quarter</a>
          <span class="Icon Icon--caretRight smallBreadcrumb"></span>
          <a href="javascript:loadLevel('adgroup','down');" title="Ad group: Retweet Promotion - Event">Retweet Promotion - Trend</a>
        </div>
      </td>  
      <td class="alignrt">$221.32</td>  
      <td class="alignrt">7,362</td>  
      <td class="alignrt">82</td>  
      <td class="alignrt">$0.13
        <span class="subtext">Cost per link click</span></td>  
      <td class="alignrt">1.41%
        <span class="subtext">Link click rate</span></td>  
    </tr>  
    <tr class="child-row">
      <td><input type="checkbox" /></td>  
      <td>
        <div class="cellBreadcrumb">
          <a href="javascript:loadLevel('campaign','down');" title="Campaign: Retweet Promotion - Tweet Engagements Campaign 4th Quarter">Tweet Promotion - Tweet Engagements Campaign 2nd Quarter</a>
          <span class="Icon Icon--caretRight smallBreadcrumb"></span>
          <a href="javascript:loadLevel('adgroup','down');" title="Ad group: Retweet Promotion - Event">Retweet Promotion - Interest</a>
        </div>
      </td>  
      <td class="alignrt">$303.59</td>  
      <td class="alignrt">7,681</td>  
      <td class="alignrt">131</td>  
      <td class="alignrt">$0.13
        <span class="subtext">Cost per link click</span></td>  
      <td class="alignrt">1.41%
        <span class="subtext">Link click rate</span></td>  
    </tr> 
    <tr class="parent-row">
      <td>
        <input type="checkbox" />
      </td>  
      <td>
        <div class="ad-preview">
          <div class="ad-thumbnail-wrapper">
            <div class="ad-thumbnail clickable showtooltip-hover" style="background-image:url(https://unsplash.it/96/54?image=42)" onClick="window.open('https://twitter.com/baristabar/status/564180410385457152');">
              <div class="ad-preview-icon"><span class="Icon Icon--url"></span></div>
            </div>
            <div class="Tooltip">  
              <div class="Tooltip-triangle">    
                <div class="Tooltip-triangleOuter"></div>    
                <div class="Tooltip-triangleInner"></div>  
              </div>  
              <div class="Tooltip-inner">    
                <span class="Tooltip-close Icon Icon--close Icon--smallest" aria-hidden="true"></span>    
                <div class="Tooltip-content">
                  <img src="https://pbs.twimg.com/profile_images/659058425255456768/vaTsXQPC_bigger.png" class="tw-avatar">
                  <div class="ad-details">
                    <span class="tweet-account-name">Barista Bar</span>
                    <span class="tweet-account-details">@baristabar &middot; <a href="https://twitter.com/baristabar/status/564180410385457152" target="_blank">Nov 8</a></span>
                    <div class="tweet-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore. pic.twitter.com/isug27<br><img src="https://unsplash.it/280/140?image=42"></div>
                  </div>  
                </div>  
              </div>
            </div>
          </div>
          <div class="ad-details">
            <div class="ad-avatar" style="background-image: url(src/images/avatar.png);"></div> 
            <span class="tweet-account-name">Barista Bar</span>
            <span class="tweet-account-details">@baristabar &middot; <a href="https://twitter.com/baristabar/status/564180410385457152" target="_blank">Nov 8</a></span>
            <!-- <span class="Icon Icon--url tweet-preview-control"></span> -->
            <div class="tweet-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore. pic.twitter.com/isug27</div>
          </div>
          <div class="cellBreadcrumb">
            <a href="javascript:loadLevel('campaign','down');" title="Campaign: Retweet Promotion - Tweet Engagements Campaign 4th Quarter">Retweet Promotion - Tweet Engagements Campaign 4th Quarter</a>
            <span class="Icon Icon--caretRight smallBreadcrumb"></span>
            <a href="javascript:loadLevel('adgroup','down');" title="Ad group: Retweet Promotion - Trend">Retweet Promotion - Trend</a>
          </div>
        </div>
      </td>
      <td class="alignrt">
        $649.45
      </td>
      <td class="alignrt">
        18,737
      </td>
      <td class="alignrt">
        264
      </td>
      <td class="alignrt">
        $0.13
        <span class="subtext">Cost per link click</span>
      </td>
      <td class="alignrt">
        1.41%
        <span class="subtext">Link click rate</span>
      </td>
    </tr>
    <tr class="child-row">
      <td><input type="checkbox" /></td>  
      <td>
        <div class="cellBreadcrumb">
          <a href="javascript:loadLevel('campaign','down');" title="Campaign: Retweet Promotion - Tweet Engagements Campaign 4th Quarter">Tweet Promotion - Tweet Engagements Campaign 4th Quarter</a>
          <span class="Icon Icon--caretRight smallBreadcrumb"></span>
          <a href="javascript:loadLevel('adgroup','down');" title="Ad group: Retweet Promotion - Event">Retweet Promotion - Event</a>
        </div>
      </td>  
      <td class="alignrt">$649.45</td>  
      <td class="alignrt">18,737</td>  
      <td class="alignrt">264</td>  
      <td class="alignrt">$0.13
        <span class="subtext">Cost per link click</span></td>  
      <td class="alignrt">1.41%
        <span class="subtext">Link click rate</span></td>  
    </tr>
    <tr class="parent-row">
      <td>
        <input type="checkbox" />
      </td>  
      <td>
        <div class="ad-preview">
          <div class="ad-thumbnail-wrapper">
            <div class="ad-thumbnail clickable showtooltip-hover" style="background-image:url(https://unsplash.it/96/54?image=113)" onClick="window.open('https://twitter.com/baristabar/status/564180410385457152');">
              <div class="ad-preview-icon"><span class="Icon Icon--url"></span></div>
            </div>
            <div class="Tooltip">  
              <div class="Tooltip-triangle">    
                <div class="Tooltip-triangleOuter"></div>    
                <div class="Tooltip-triangleInner"></div>  
              </div>  
              <div class="Tooltip-inner">    
                <span class="Tooltip-close Icon Icon--close Icon--smallest" aria-hidden="true"></span>    
                <div class="Tooltip-content">
                  <img src="https://pbs.twimg.com/profile_images/659058425255456768/vaTsXQPC_bigger.png" class="tw-avatar">
                  <div class="ad-details">
                    <span class="tweet-account-name">Barista Bar</span>
                    <span class="tweet-account-details">@baristabar &middot; <a href="https://twitter.com/baristabar/status/564180410385457152" target="_blank">Nov 8</a></span>
                    <div class="tweet-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore. pic.twitter.com/dgdk28<br><img src="https://unsplash.it/280/140?image=113" style="border-radius:4px;"></div>
                  </div>  
                </div>  
              </div>
            </div>
          </div>  
          <div class="ad-details">
            <div class="ad-avatar" style="background-image: url(src/images/avatar.png);"></div> 
            <span class="tweet-account-name">Barista Bar</span>
            <span class="tweet-account-details">@baristabar &middot; <a href="https://twitter.com/baristabar/status/564180410385457152" target="_blank">Nov 8</a></span>
            <!-- <span class="Icon Icon--url tweet-preview-control"></span> -->
            <div class="tweet-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore. pic.twitter.com/dgdk28</div>
            <!-- <span class="subtext"><a href="#">Used in 2 ad groups</a></span> -->
          </div>
          <div class="cellBreadcrumb">
            <a href="javascript:loadLevel('campaign','down');" title="Campaign: Life Stages Coffee Campaign">Life Stages Coffee Campaign</a>
            <span class="Icon Icon--caretRight smallBreadcrumb"></span>
            <a href="javascript:loadLevel('adgroup','down');" title="Ad group: Life Stages - Handles">Life Stages - Handles</a>
          </div>
        </div>
      </td>
      <td class="alignrt">
        $649.45
      </td>
      <td class="alignrt">
        18,737
      </td>
      <td class="alignrt">
        264
      </td>
      <td class="alignrt">
        $0.13
        <span class="subtext">Cost per link click</span>
      </td>
      <td class="alignrt">
        1.41%
        <span class="subtext">Link click rate</span>
      </td>
    </tr>
    <tr class="child-row">
      <td><input type="checkbox" /></td>  
      <td>
        <div class="cellBreadcrumb">
          <a href="javascript:loadLevel('campaign','down');" title="Campaign: Retweet Promotion - Tweet Engagements Campaign 4th Quarter">Retweet Promotion - Tweet Engagements Campaign 4th Quarter</a>
          <span class="Icon Icon--caretRight smallBreadcrumb"></span>
          <a href="javascript:loadLevel('adgroup','down');" title="Ad group: Retweet Promotion - Event">Retweet Promotion - Event</a>
        </div>
      </td>  
      <td class="alignrt">$124.54</td>  
      <td class="alignrt">3,694</td>  
      <td class="alignrt">51</td>  
      <td class="alignrt">$0.13
        <span class="subtext">Cost per link click</span></td>  
      <td class="alignrt">1.41%
        <span class="subtext">Link click rate</span></td>  
    </tr>  
    <tr class="child-row">
      <td><input type="checkbox" /></td>  
      <td>
        <div class="cellBreadcrumb">
          <a href="javascript:loadLevel('campaign','down');" title="Campaign: Retweet Promotion - Tweet Engagements Campaign 4th Quarter">Promotion - Tweet Engagements Campaign 3rd Quarter</a>
          <span class="Icon Icon--caretRight smallBreadcrumb"></span>
          <a href="javascript:loadLevel('adgroup','down');" title="Ad group: Retweet Promotion - Event">Retweet Promotion - Trend</a>
        </div>
      </td>  
      <td class="alignrt">$221.32</td>  
      <td class="alignrt">7,362</td>  
      <td class="alignrt">82</td>  
      <td class="alignrt">$0.13
        <span class="subtext">Cost per link click</span></td>  
      <td class="alignrt">1.41%
        <span class="subtext">Link click rate</span></td>  
    </tr>  
    <tr class="child-row">
      <td><input type="checkbox" /></td>  
      <td>
        <div class="cellBreadcrumb">
          <a href="javascript:loadLevel('campaign','down');" title="Campaign: Retweet Promotion - Tweet Engagements Campaign 4th Quarter">Tweet Promotion - Tweet Engagements Campaign 2nd Quarter</a>
          <span class="Icon Icon--caretRight smallBreadcrumb"></span>
          <a href="javascript:loadLevel('adgroup','down');" title="Ad group: Retweet Promotion - Event">Retweet Promotion - Interest</a>
        </div>
      </td>  
      <td class="alignrt">$303.59</td>  
      <td class="alignrt">7,681</td>  
      <td class="alignrt">131</td>  
      <td class="alignrt">$0.13
        <span class="subtext">Cost per link click</span></td>  
      <td class="alignrt">1.41%
        <span class="subtext">Link click rate</span></td>  
    </tr>
    <tr class="parent-row">
      <td>
        <input type="checkbox" />
      </td>  
      <td>
        <div class="ad-preview">
          <div class="ad-thumbnail-wrapper">
            <div class="ad-thumbnail clickable showtooltip-hover" style="background-image:url(https://unsplash.it/96/54?image=113)" onClick="window.open('https://twitter.com/baristabar/status/564180410385457152');">
              <div class="ad-preview-icon"><span class="Icon Icon--url"></span></div>
            </div>
            <div class="Tooltip">  
              <div class="Tooltip-triangle">    
                <div class="Tooltip-triangleOuter"></div>    
                <div class="Tooltip-triangleInner"></div>  
              </div>  
              <div class="Tooltip-inner">    
                <span class="Tooltip-close Icon Icon--close Icon--smallest" aria-hidden="true"></span>    
                <div class="Tooltip-content">
                  <img src="https://pbs.twimg.com/profile_images/659058425255456768/vaTsXQPC_bigger.png" class="tw-avatar">
                  <div class="ad-details">
                    <span class="tweet-account-name">Barista Bar</span>
                    <span class="tweet-account-details">@baristabar &middot; <a href="https://twitter.com/baristabar/status/564180410385457152" target="_blank">Nov 8</a></span>
                    <div class="tweet-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore. pic.twitter.com/dgdk28<br><img src="https://unsplash.it/280/140?image=113" style="border-radius:4px;"></div>
                  </div>  
                </div>  
              </div>
            </div>
          </div>  
          <div class="ad-details">
            <div class="ad-avatar" style="background-image: url(src/images/avatar.png);"></div> 
            <span class="tweet-account-name">Barista Bar</span>
            <span class="tweet-account-details">@baristabar &middot; <a href="https://twitter.com/baristabar/status/564180410385457152" target="_blank">Nov 8</a></span>
            <!-- <span class="Icon Icon--url tweet-preview-control"></span> -->
            <div class="tweet-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore. pic.twitter.com/dgdk28</div>
            <!-- <span class="subtext"><a href="#">Used in 2 ad groups</a></span> -->
          </div>
          <div class="cellBreadcrumb">
            <a href="javascript:loadLevel('campaign','down');" title="Campaign: Life Stages Coffee Campaign">Life Stages Coffee Campaign</a>
            <span class="Icon Icon--caretRight smallBreadcrumb"></span>
            <a href="javascript:loadLevel('adgroup','down');" title="Ad group: Life Stages - Keywords">Life Stages - Keywords</a>
          </div>
        </div>
      </td>
      <td class="alignrt">
        $649.45
      </td>
      <td class="alignrt">
        18,737
      </td>
      <td class="alignrt">
        264
      </td>
      <td class="alignrt">
        $0.13
        <span class="subtext">Cost per link click</span>
      </td>
      <td class="alignrt">
        1.41%
        <span class="subtext">Link click rate</span>
      </td>
    </tr>
    <tr class="child-row">
      <td><input type="checkbox" /></td>  
      <td>
        <div class="cellBreadcrumb">
          <a href="javascript:loadLevel('campaign','down');" title="Campaign: Retweet Promotion - Tweet Engagements Campaign 4th Quarter">Tweet Promotion - Tweet Engagements Campaign 4th Quarter</a>
          <span class="Icon Icon--caretRight smallBreadcrumb"></span>
          <a href="javascript:loadLevel('adgroup','down');" title="Ad group: Retweet Promotion - Event">Retweet Promotion - Event</a>
        </div>
      </td>  
      <td class="alignrt">$649.45</td>  
      <td class="alignrt">18,737</td>  
      <td class="alignrt">264</td>  
      <td class="alignrt">$0.13
        <span class="subtext">Cost per link click</span></td>  
      <td class="alignrt">1.41%
        <span class="subtext">Link click rate</span></td>  
    </tr>
    <tr class="parent-row">
      <td>
        <input type="checkbox" />
      </td>  
      <td>
        <div class="ad-preview">
          <div class="ad-details">
            <div class="ad-avatar" style="background-image: url(src/images/avatar.png);"></div> 
            <span class="tweet-account-name">Barista Bar</span>
            <span class="tweet-account-details">@baristabar &middot; <a href="https://twitter.com/baristabar/status/564180410385457152" target="_blank">Nov 8</a></span>
            <div class="tweet-preview-nomedia">
              <div class="Tooltip" style="left:12px;top:0;">  
                <div class="Tooltip-triangle">    
                  <div class="Tooltip-triangleOuter"></div>    
                  <div class="Tooltip-triangleInner"></div>  
                </div>  
                <div class="Tooltip-inner">    
                  <span class="Tooltip-close Icon Icon--close Icon--smallest" aria-hidden="true"></span>    
                  <div class="Tooltip-content">
                    <img src="https://pbs.twimg.com/profile_images/659058425255456768/vaTsXQPC_bigger.png" class="tw-avatar">
                    <div class="ad-details">
                      <span class="tweet-account-name">Barista Bar</span>
                      <span class="tweet-account-details">@baristabar &middot; <a href="https://twitter.com/baristabar/status/564180410385457152" target="_blank">Nov 8</a></span>
                      <div class="tweet-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</div>
                    </div>  
                  </div>  
                </div>
              </div>
              <!-- script>
                $(".ad-preview-nomedia-icon").hover(
                  function() {
                    $(this).find(".adsmanager-ad-icon-hover-state").show();
                    $(this).find(".adsmanager-ad-icon-default-state").hide();
                  }, function() {

                  }
                );
              </script-->
              <div class="ad-preview-nomedia-icon showtooltip-hover" onClick="window.open('https://twitter.com/baristabar/status/564180410385457152');">
                <span class="Icon Icon--url adsmanager-ad-icon-hover-state hide"></span>
                <div class="adsmanager-ad-icon adsmanager-ad-icon-default-state"></div>
              </div>  
            </div>
            <div class="tweet-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</div>  
            <div class="cellBreadcrumb">
              <a href="javascript:loadLevel('campaign','down');" title="Campaign: Life Stages Coffee Campaign">Life Stages Coffee Campaign</a>
              <span class="Icon Icon--caretRight smallBreadcrumb"></span>
              <a href="javascript:loadLevel('adgroup','down');" title="Ad group: Life Stages - Keywords">Life Stages - Keywords</a>
            </div>
          </div>
          <div class="Tooltip">  
            <div class="Tooltip-triangle">    
              <div class="Tooltip-triangleOuter"></div>    
              <div class="Tooltip-triangleInner"></div>  
            </div>  
            <div class="Tooltip-inner">    
              <span class="Tooltip-close Icon Icon--close Icon--smallest" aria-hidden="true"></span>    
              <div class="Tooltip-content">
                <img src="https://pbs.twimg.com/profile_images/659058425255456768/vaTsXQPC_bigger.png" class="tw-avatar">
                <div class="ad-details" style="width:290px">
                  <span class="tweet-account-name">Barista Bar</span>
                  <span class="tweet-account-details">@baristabar &middot; <a href="https://twitter.com/baristabar/status/564180410385457152" target="_blank">Nov 8</a></span>
                  <div class="tweet-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</div>
                </div>  
              </div>  
            </div>
          </div>
        </div>
      </td>
      <td class="alignrt">
        $649.45
      </td>
      <td class="alignrt">
        18,737
      </td>
      <td class="alignrt">
        264
      </td>
      <td class="alignrt">
        $0.13
        <span class="subtext">Cost per link click</span>
      </td>
      <td class="alignrt">
        1.41%
        <span class="subtext">Link click rate</span>
      </td>
    </tr>
    <tr class="child-row">
      <td><input type="checkbox" /></td>  
      <td>
        <div class="cellBreadcrumb">
          <a href="javascript:loadLevel('campaign','down');" title="Campaign: Retweet Promotion - Tweet Engagements Campaign 4th Quarter">Tweet Promotion - Tweet Engagements Campaign 4th Quarter</a>
          <span class="Icon Icon--caretRight smallBreadcrumb"></span>
          <a href="javascript:loadLevel('adgroup','down');" title="Ad group: Retweet Promotion - Event">Retweet Promotion - Event</a>
        </div>
      </td>  
      <td class="alignrt">$649.45</td>  
      <td class="alignrt">18,737</td>  
      <td class="alignrt">264</td>  
      <td class="alignrt">$0.13
        <span class="subtext">Cost per link click</span></td>  
      <td class="alignrt">1.41%
        <span class="subtext">Link click rate</span></td>  
    </tr>
  </tbody>
</table>