<div class="table-message">
  <div class="table-message-text">
    <h3>There was a problem loading this content.</h3>
    <p><button type="button" class="Button Button--small"><span class="Icon Icon--featherReload"></span> Retry</button></p>
    <!-- <p><button type="button" class="Button Button--tertiary Button--xsmall">Report this problem</button></p> -->
    <p class="trace"><a href="javascript:void(0);">Report this problem</a><br>trace: 2568cdec0573f6f8</p> 
  </div>
</div>  