<script>
  setTimeout(
    function() {
      $("#loading-table").hide();
      $("#table-ads-load-summary,#table-ads-load-spend,#table-ads-load-imps").fadeTo(100, 0, function(){
        $("#table-ads-load-summary").html("Summary for 227 ads");
        $("#table-ads-load-spend").html("$17,328.25");
        $("#table-ads-load-imps").html("4,811,855");     
        $(this).fadeTo(100, 1);  
      });
    }, 2000);
  var header_bottom = $("#adsmgr-page-header").offset().top + $("#adsmgr-page-header").outerHeight();
  //$(".Table").stickyTableHeaders({fixedOffset: header_bottom});
  $('.Table').checkboxes('range', true);
  $(".Table").resizableColumns();
  
  function loadAdsTable() {
    $("#table-content").load("table-account-ads.html", function(){
      countUp();
    });
  }
</script>
  
<div class="adsAggregateSwitch">
  <label><input id="adsAggregateSwitch" type="checkbox" checked="checked"></input> View aggregate Tweet results</label>
  <span class="Icon Icon--featherTooltipCue showtooltip"></span>
  <div class="Tooltip Tooltip--topLeft" style="right:0;top:-104px;">  
    <div class="Tooltip-triangle">    
      <div class="Tooltip-triangleOuter"></div>    
      <div class="Tooltip-triangleInner"></div>  
    </div>  
    <div class="Tooltip-inner">
      <span class="Tooltip-close Icon Icon--close Icon--smallest" aria-hidden="true"></span>
      <div class="Tooltip-content">
        The same Tweet, pre-roll, or display creatives can be used in multiple campaigns and ad groups.<br>
        To view aggregate results, reset your filters by selecting Filters:Default.
      </div>  
    </div>
  </div>
</div>

<table class="Table Table--striped line-items tooltips-hover" data-actionfooter="lineitem" data-object="ad">
  <thead class="">
    <tr class="">
      <th class="checkcol">
        <input type="checkbox" />
      </th>
      <th class="Table-sortableHeader Table-headerCell--alignLeft">
        Name <span class="Icon Icon--featherTooltipCue"></span>
        <div class="Tooltip Tooltip--top Tooltip--hover" style="top:-28px;left:-72px;">  
          <div class="Tooltip-triangle">    
            <div class="Tooltip-triangleOuter"></div>    
            <div class="Tooltip-triangleInner"></div>  
          </div>  
          <div class="Tooltip-inner">
            <span class="Tooltip-close Icon Icon--close Icon--smallest" aria-hidden="true"></span>
            <div class="Tooltip-content">The name of the item</div>  
          </div>
        </div>
      </th>
      <th class="Table-sortableHeader is-desc Table-headerCell--alignLeft">
        Status <span class="Icon Icon--featherTooltipCue"></span>
        <div class="Tooltip Tooltip--top Tooltip--hover" style="top:-28px;left:-69px;">  
          <div class="Tooltip-triangle">    
            <div class="Tooltip-triangleOuter"></div>    
            <div class="Tooltip-triangleInner"></div>  
          </div>  
          <div class="Tooltip-inner">
            <span class="Tooltip-close Icon Icon--close Icon--smallest" aria-hidden="true"></span>
            <div class="Tooltip-content">The status of the item</div>  
          </div>
        </div>
      </th>
      <th class="Table-sortableHeader Table-headerCell--alignLeft">
        Start date <span class="Icon Icon--featherTooltipCue"></span>
        <div class="Tooltip Tooltip--top Tooltip--hover" style="top:-28px;left:-50px;">  
          <div class="Tooltip-triangle">    
            <div class="Tooltip-triangleOuter"></div>    
            <div class="Tooltip-triangleInner"></div>  
          </div>  
          <div class="Tooltip-inner">
            <span class="Tooltip-close Icon Icon--close Icon--smallest" aria-hidden="true"></span>
            <div class="Tooltip-content">The date the item starts</div>  
          </div>
        </div>
      </th>
      <th class="Table-sortableHeader Table-headerCell--alignLeft">
        Ad type <span class="Icon Icon--featherTooltipCue"></span>
        <div class="Tooltip Tooltip--top Tooltip--hover" style="top:-28px;left:-55px;">  
          <div class="Tooltip-triangle">    
            <div class="Tooltip-triangleOuter"></div>    
            <div class="Tooltip-triangleInner"></div>  
          </div>  
          <div class="Tooltip-inner">
            <span class="Tooltip-close Icon Icon--close Icon--smallest" aria-hidden="true"></span>
            <div class="Tooltip-content">The type of ad</div>  
          </div>
        </div>
      </th>
      <th class="Table-sortableHeader Table-headerCell--alignLeft">
        Spend <span class="Icon Icon--featherTooltipCue"></span>
        <div class="Tooltip Tooltip--top Tooltip--hover" style="top:-28px;left:-69px;">  
          <div class="Tooltip-triangle">    
            <div class="Tooltip-triangleOuter"></div>    
            <div class="Tooltip-triangleInner"></div>  
          </div>  
          <div class="Tooltip-inner">
            <span class="Tooltip-close Icon Icon--close Icon--smallest" aria-hidden="true"></span>
            <div class="Tooltip-content">How much the the item has spent</div>  
          </div>
        </div>
      </th>
      <th class="Table-sortableHeader Table-headerCell--alignRight alignrt">
        <span class="Icon Icon--featherTooltipCue"></span> Impressions 
        <div class="Tooltip Tooltip--top Tooltip--hover" style="top:-28px;right:-35px;">  
          <div class="Tooltip-triangle">    
            <div class="Tooltip-triangleOuter"></div>    
            <div class="Tooltip-triangleInner"></div>  
          </div>  
          <div class="Tooltip-inner">
            <span class="Tooltip-close Icon Icon--close Icon--smallest" aria-hidden="true"></span>
            <div class="Tooltip-content">The number of impressions served</div>  
          </div>
        </div>
      </th>
      <th class="Table-sortableHeader Table-headerCell--alignLeft">
        Engagements <span class="Icon Icon--featherTooltipCue"></span>
        <div class="Tooltip Tooltip--top Tooltip--hover" style="top:-45px;left:-21px;">  
          <div class="Tooltip-triangle">    
            <div class="Tooltip-triangleOuter"></div>    
            <div class="Tooltip-triangleInner"></div>  
          </div>  
          <div class="Tooltip-inner">
            <span class="Tooltip-close Icon Icon--close Icon--smallest" aria-hidden="true"></span>
            <div class="Tooltip-content">How many engagements your ad had</div>  
          </div>
        </div>
      </th>
      <th class="Table-sortableHeader Table-headerCell--alignRight alignrt">
        <span class="Icon Icon--featherTooltipCue"></span> Cost per result
        <div class="Tooltip Tooltip--top Tooltip--hover" style="top:-28px;right:-21px;">  
          <div class="Tooltip-triangle">    
            <div class="Tooltip-triangleOuter"></div>    
            <div class="Tooltip-triangleInner"></div>  
          </div>  
          <div class="Tooltip-inner">
            <span class="Tooltip-close Icon Icon--close Icon--smallest" aria-hidden="true"></span>
            <div class="Tooltip-content">The average cost per result</div>  
          </div>
        </div>
      </th>
      <th class="Table-sortableHeader Table-headerCell--alignRight alignrt">
        <span class="Icon Icon--featherTooltipCue"></span> Results rate
        <div class="Tooltip Tooltip--topLeft Tooltip--hover" style="top:-28px;right:64px;">  
          <div class="Tooltip-triangle">    
            <div class="Tooltip-triangleOuter"></div>    
            <div class="Tooltip-triangleInner"></div>  
          </div>  
          <div class="Tooltip-inner">
            <span class="Tooltip-close Icon Icon--close Icon--smallest" aria-hidden="true"></span>
            <div class="Tooltip-content">Results divided by impressions</div>  
          </div>
        </div>
      </th>
    </tr>
    <tr class="summary-row">
      <td class="checkcol-summary">
        <div id="loading-table" class="Icon Icon--loadingSmall"></div>
      </td>  
      <td>
        <strong id="table-ads-load-summary">Loading summary for 227 items&hellip;</strong>
      </td>
      <td class="nodata">
        -
      </td>
      <td class="nodata">
        -
      </td>
      <td class="nodata">
        -
      </td>
      <td id="table-ads-load-spend" class="alignrt">
        <div class="Icon Icon--loadingSmall"></div>
      </td>
      <td id="table-ads-load-imps" class="alignrt">
        <div class="Icon Icon--loadingSmall"></div>
      </td>
      <td class="nodata alignrt">
        -
      </td>
      <td class="nodata alignrt">
        -
      </td>
      <td class="nodata alignrt">
        -
      </td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <input type="checkbox" />
      </td>  
      <td>
        <div class="ad-preview">
          <div class="ad-thumbnail-wrapper">
            <div class="ad-thumbnail showtooltip" style="background-image:url(https://unsplash.it/96/54?image=42)">
              <div class="ad-preview-icon"></div>
            </div>
            <div class="Tooltip">  
              <div class="Tooltip-triangle">    
                <div class="Tooltip-triangleOuter"></div>    
                <div class="Tooltip-triangleInner"></div>  
              </div>  
              <div class="Tooltip-inner">    
                <span class="Tooltip-close Icon Icon--close Icon--smallest" aria-hidden="true"></span>    
                <div class="Tooltip-content">
                  <img src="https://pbs.twimg.com/profile_images/659058425255456768/vaTsXQPC_bigger.png" class="tw-avatar">
                  <div class="ad-details">
                    <span class="tweet-account-name">Barista Bar</span>
                    <span class="tweet-account-details">@baristabar &middot; <a href="https://twitter.com/baristabar/status/564180410385457152" target="_blank">Nov 8</a></span>
                    <div class="tweet-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore. pic.twitter.com/isug27<br><img src="https://unsplash.it/280/140?image=42"></div>
                  </div>  
                </div>  
              </div>
            </div>
          </div>
          <div class="ad-details">
            <div class="ad-avatar" style="background-image: url(src/images/avatar.png);"></div> 
            <span class="tweet-account-name">Barista Bar</span>
            <span class="tweet-account-details">@baristabar &middot; <a href="https://twitter.com/baristabar/status/564180410385457152" target="_blank">Nov 8</a></span>
            <div class="tweet-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore. pic.twitter.com/isug27</div>
            <!-- <span class="subtext"><a href="#">Used in 2 ad groups</a></span> -->
          </div>
        </div>
      </td>
      <td class="Table-cell--alignLeft">
        <div class="src-views-Table-Cells-CampaignStatus-style--root">
          <span class="src-views-Table-Cells-CampaignStatus-style--statusText src-views-Table-Cells-CampaignStatus-style--running">Running</span>
          <span class="src-views-Table-Cells-CampaignStatus-style--playPauseButton Icon Icon--pause" data-reactid=".0.0.3.1.$6678103.$CampaignDisplayState.0.1"></span>
        </div>
      </td>
      <td>
        9 Nov
      </td>
      <td>
        Tweet
      </td>
      <td class="alignrt">
        $649.45
      </td>
      <td class="alignrt">
        18,737
      </td>
      <td class="alignrt">
        264
      </td>
      <td class="alignrt">
        $0.13
        <span class="subtext">Cost per link click</span>
      </td>
      <td class="alignrt">
        1.41%
        <span class="subtext">Link click rate</span>
      </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" />
      </td>  
      <td>
        <div class="ad-preview">
          <div class="ad-thumbnail-wrapper">
            <div class="ad-thumbnail showtooltip" style="background-image:url(https://unsplash.it/96/54?image=113)">
              <div class="ad-preview-icon"></div>
            </div>
            <div class="Tooltip">  
              <div class="Tooltip-triangle">    
                <div class="Tooltip-triangleOuter"></div>    
                <div class="Tooltip-triangleInner"></div>  
              </div>  
              <div class="Tooltip-inner">    
                <span class="Tooltip-close Icon Icon--close Icon--smallest" aria-hidden="true"></span>    
                <div class="Tooltip-content">
                  <img src="https://pbs.twimg.com/profile_images/659058425255456768/vaTsXQPC_bigger.png" class="tw-avatar">
                  <div class="ad-details">
                    <span class="tweet-account-name">Barista Bar</span>
                    <span class="tweet-account-details">@baristabar &middot; <a href="https://twitter.com/baristabar/status/564180410385457152" target="_blank">Nov 8</a></span>
                    <div class="tweet-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore. pic.twitter.com/dgdk28<br><img src="https://unsplash.it/280/140?image=113" style="border-radius:4px;"></div>
                  </div>  
                </div>  
              </div>
            </div>
          </div>  
          <div class="ad-details">
            <div class="ad-avatar" style="background-image: url(src/images/avatar.png);"></div> 
            <span class="tweet-account-name">Barista Bar</span>
            <span class="tweet-account-details">@baristabar &middot; <a href="https://twitter.com/baristabar/status/564180410385457152" target="_blank">Nov 8</a></span>
            <div class="tweet-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore. pic.twitter.com/dgdk28</div>
            <!-- <span class="subtext"><a href="#">Used in 2 ad groups</a></span> -->
          </div>
        </div>
      </td>
      <td class="Table-cell--alignLeft">
        <div class="src-views-Table-Cells-CampaignStatus-style--root">
          <span class="src-views-Table-Cells-CampaignStatus-style--statusText src-views-Table-Cells-CampaignStatus-style--running">Running</span>
          <span class="src-views-Table-Cells-CampaignStatus-style--playPauseButton Icon Icon--pause" data-reactid=".0.0.3.1.$6678103.$CampaignDisplayState.0.1"></span>
        </div>
      </td>
      <td>
        9 Nov
      </td>
      <td>
        Tweet
      </td>
      <td class="alignrt">
        $649.45
      </td>
      <td class="alignrt">
        18,737
      </td>
      <td class="alignrt">
        264
      </td>
      <td class="alignrt">
        $0.13
        <span class="subtext">Cost per link click</span>
      </td>
      <td class="alignrt">
        1.41%
        <span class="subtext">Link click rate</span>
      </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" />
      </td>  
      <td>
        <div class="ad-preview">
          <!-- <div class="ad-thumbnail showtooltip" style="background:url(https://pbs.twimg.com/profile_images/659058425255456768/vaTsXQPC_bigger.png);background-size:60px;">
            <div class="ad-preview-icon"></div>
          </div> -->
          <div class="ad-details">
            <div class="ad-avatar" style="background-image: url(src/images/avatar.png);"></div> 
            <span class="tweet-account-name">Barista Bar</span>
            <span class="tweet-account-details">@baristabar &middot; <a href="https://twitter.com/baristabar/status/564180410385457152" target="_blank">Nov 8</a></span>
            <div class="tweet-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</div>  
            <!-- <span class="subtext"><a href="#">Used in 1 campaign</a></span> -->
          </div>
          <div class="Tooltip">  
            <div class="Tooltip-triangle">    
              <div class="Tooltip-triangleOuter"></div>    
              <div class="Tooltip-triangleInner"></div>  
            </div>  
            <div class="Tooltip-inner">    
              <span class="Tooltip-close Icon Icon--close Icon--smallest" aria-hidden="true"></span>    
              <div class="Tooltip-content">
                <img src="https://pbs.twimg.com/profile_images/659058425255456768/vaTsXQPC_bigger.png" class="tw-avatar">
                <div class="ad-details" style="width:290px">
                  <span class="tweet-account-name">Barista Bar</span>
                  <span class="tweet-account-details">@baristabar &middot; <a href="https://twitter.com/baristabar/status/564180410385457152" target="_blank">Nov 8</a></span>
                  <div class="tweet-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</div>
                </div>  
              </div>  
            </div>
          </div>
        </div>
      </td>
      <td class="Table-cell--alignLeft">
        <div class="src-views-Table-Cells-CampaignStatus-style--root">
          <span class="src-views-Table-Cells-CampaignStatus-style--statusText src-views-Table-Cells-CampaignStatus-style--running">Running</span>
          <span class="src-views-Table-Cells-CampaignStatus-style--playPauseButton Icon Icon--pause" data-reactid=".0.0.3.1.$6678103.$CampaignDisplayState.0.1"></span>
        </div>
      </td>
      <td>
        9 Nov
      </td>
      <td>
        Tweet
      </td>
      <td class="alignrt">
        $649.45
      </td>
      <td class="alignrt">
        18,737
      </td>
      <td class="alignrt">
        264
      </td>
      <td class="alignrt">
        $0.13
        <span class="subtext">Cost per link click</span>
      </td>
      <td class="alignrt">
        1.41%
        <span class="subtext">Link click rate</span>
      </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" />
      </td>  
      <td>
        <div class="ad-preview">
          <div class="ad-thumbnail-wrapper">
            <div class="ad-thumbnail showtooltip" style="background-image:url(https://unsplash.it/40/60?image=312) no-repeat center;">
              <div class="ad-preview-icon"></div>
            </div>
            <div class="Tooltip" style="top:-420px">  
              <div class="Tooltip-triangle" style="top:460px">    
                <div class="Tooltip-triangleOuter"></div>    
                <div class="Tooltip-triangleInner"></div>  
              </div>  
              <div class="Tooltip-inner">    
                <span class="Tooltip-close Icon Icon--close Icon--smallest" aria-hidden="true"></span>    
                <div class="Tooltip-content">
                  <img src="https://unsplash.it/320/480?image=312">
                </div>  
              </div>
            </div>
          </div>
          <div class="ad-details">
            baristabar_interstitial.png
            <span class="subtext">320 &#215; 480</span>
            <!-- <span class="subtext"><a href="#">Used in 1 campaign</a></span> -->
          </div>
        </div>
      </td>
      <td class="Table-cell--alignLeft">
        <div class="src-views-Table-Cells-CampaignStatus-style--root">
          <span class="src-views-Table-Cells-CampaignStatus-style--statusText src-views-Table-Cells-CampaignStatus-style--running">Running</span>
          <span class="src-views-Table-Cells-CampaignStatus-style--playPauseButton Icon Icon--pause" data-reactid=".0.0.3.1.$6678103.$CampaignDisplayState.0.1"></span>
        </div>
      </td>
      <td>
        9 Nov
      </td>
      <td>
        Banner
      </td>
      <td class="alignrt">
        $649.45
      </td>
      <td class="alignrt">
        18,737
      </td>
      <td class="alignrt">
        264
      </td>
      <td class="alignrt">
        $0.13
        <span class="subtext">Cost per link click</span>
      </td>
      <td class="alignrt">
        1.41%
        <span class="subtext">Link click rate</span>
      </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" />
      </td>  
      <td>
        <div class="ad-preview">
          <div class="ad-thumbnail-wrapper">
            <div class="ad-thumbnail showtooltip" style="background-image:url(https://unsplash.it/40/60?image=63) no-repeat center;">
              <div class="ad-preview-icon"></div>
            </div>
            <div class="Tooltip" style="top:-420px">  
              <div class="Tooltip-triangle" style="top:460px">    
                <div class="Tooltip-triangleOuter"></div>    
                <div class="Tooltip-triangleInner"></div>  
              </div>  
              <div class="Tooltip-inner">    
                <span class="Tooltip-close Icon Icon--close Icon--smallest" aria-hidden="true"></span>    
                <div class="Tooltip-content">
                  <img src="https://unsplash.it/320/480?image=63">
                </div>  
              </div>
            </div>
          </div>
          <div class="ad-details">
            baristabar_interstitial.png
            <span class="subtext">320 &#215; 480</span>
            <!-- <span class="subtext"><a href="#">Used in 1 campaign</a></span> -->
          </div>
        </div>
      </td>
      <td class="Table-cell--alignLeft">
        <div class="src-views-Table-Cells-CampaignStatus-style--root">
          <span class="src-views-Table-Cells-CampaignStatus-style--statusText src-views-Table-Cells-CampaignStatus-style--running">Running</span>
          <span class="src-views-Table-Cells-CampaignStatus-style--playPauseButton Icon Icon--pause" data-reactid=".0.0.3.1.$6678103.$CampaignDisplayState.0.1"></span>
        </div>
      </td>
      <td>
        9 Nov
      </td>
      <td>
        Banner
      </td>
      <td class="alignrt">
        $649.45
      </td>
      <td class="alignrt">
        18,737
      </td>
      <td class="alignrt">
        264
      </td>
      <td class="alignrt">
        $0.13
        <span class="subtext">Cost per link click</span>
      </td>
      <td class="alignrt">
        1.41%
        <span class="subtext">Link click rate</span>
      </td>
    </tr>
  </tbody>
</table>