<script>
  setTimeout(
    function() {
      $("#loading-table").hide();
      $("#table-adgroups-load-summary,#table-adgroups-load-spend,#table-adgroups-load-imps").fadeTo(100, 0, function(){
        $("#table-adgroups-load-summary").html("Summary for 3 ad groups");
        $("#table-adgroups-load-spend").html("$482.84");
        $("#table-adgroups-load-imps").html("19,044");     
        $(this).fadeTo(100, 1);  
      });
    }, 100);
  var header_bottom = $("#adsmgr-page-header").offset().top + $("#adsmgr-page-header").outerHeight();
  $(".Table").stickyTableHeaders({fixedOffset: header_bottom});
  $(".Table").checkboxes("range", true);
  $(".Table.line-items tr").each(function(){
    var editing_markup = '<div class="edit-lineitem"><div class="edit-lineitem-icon"><span class="Icon Icon--cog"></span></div><ul class="Dropdown"><li class="Dropdown-menuItem"><a class="Dropdown-menuItemContent" href="javascript:showPanel(\'edit-adgroup-single\');">Edit ad group</a></li><li class="Dropdown-menuItem"><a class="Dropdown-menuItemContent" href="javascript:void(0);">Copy ad group</a></li><li class="Dropdown-menuItem"><a class="Dropdown-menuItemContent" href="http://ads.twitter.com" target="blank">Open in original dashboard &rarr;</a></li></ul></div>';
    if (!$(this).find("td:eq(0)").hasClass("checkcol-summary")) {
      $(this).find("td:eq(1)").append(editing_markup);
    }
  });
  $(".Table").resizableColumns();
  
  $("#globalSearchBoxWrapper").show();
  $("#globalSearchBox").val("").attr("placeholder", "Search ad groups");
</script>

<table class="Table Table--striped line-items" data-actionfooter="lineitem" data-object="ad group">
  <thead class="">
    <tr class="">
      <th class="checkcol">
        <input type="checkbox" />
      </th>
      <th class="talignleft" style="width:306px">
        Name
      </th>
      <th class="Table-sortableHeader is-desc Table-headerCell--alignLeft">
        Status
      </th>
      <th>
        Start date
      </th>
      <th>
        End Date
      </th>
      <th>
        Spend
      </th>
      <th style="min-width:120px">
        Today's pacing
      </th>
      <th class="alignrt">
        Impressions
      </th>
      <th class="alignrt">
        Cost per result
      </th>
      <th class="alignrt">
        Results rate
      </th>
    </tr>
    <tr class="summary-row">
      <td class="checkcol-summary">
        <div id="loading-table" class="Icon Icon--loadingSmall"></div>
      </td>  
      <td>
        <strong id="table-adgroups-load-summary">Loading summary for 3 items&hellip;</strong>
      </td>
      <td class="nodata">
        -
      </td>
      <td class="nodata">
        -
      </td>
      <td class="nodata">
        -
      </td>
      <td id="table-adgroups-load-spend">
        <div class="Icon Icon--loadingSmall"></div>
      </td>
      <td class="nodata">
        -
      </td>
      <td id="table-adgroups-load-imps" class="alignrt">
        <div class="Icon Icon--loadingSmall"></div>
      </td>
      <td class="nodata alignrt">
        -
      </td>
      <td class="nodata alignrt">
        -
      </td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <input type="checkbox" />
      </td>  
      <td class="campaign-name">
        <a href="javascript:loadLevel('adgroup','down');">Life Stages - Keywords</a>
         <span class="subtext">
           <a href="javascript:loadLevel('campaign','up');">Life Stages Coffee Campaign</a>
           <!-- 2 ads &middot; <span class="showtooltip">2 targeting types</span> -->
           <div class="Tooltip" style="left:116px;top:2px;">  
             <div class="Tooltip-triangle">    
               <div class="Tooltip-triangleOuter"></div>    
               <div class="Tooltip-triangleInner"></div>  
             </div>  
             <div class="Tooltip-inner">    
               <span class="Tooltip-close Icon Icon--close Icon--smallest" aria-hidden="true"></span>    
               <div class="Tooltip-content">
                 Targeting: 40 keywords · 1 location
               </div>  
             </div>
           </div>
         </span>
      </td>
      <td class="Table-cell--alignLeft">
        <div class="src-views-Table-Cells-CampaignStatus-style--root">
          <span class="src-views-Table-Cells-CampaignStatus-style--statusText src-views-Table-Cells-CampaignStatus-style--running">Running</span>
          <span class="src-views-Table-Cells-CampaignStatus-style--playPauseButton Icon Icon--pause" data-reactid=".0.0.3.1.$6678103.$CampaignDisplayState.0.1"></span>
        </div>
      </td>
      <td>
        9 Nov
      </td>
      <td>
        29 Dec
      </td>
      <td>
        $209.45
        <span class="subtext">of $400.00</span>
      </td>
      <td>
        <span class="count-to" data-countto="52">0</span>%
        <div class="progress-bar">
          <div class="bar bg"></div>
          <div class="bar top"></div>
          <div class="marker" style="margin-left:60%"></div>
        </div>  
      </td>
      <td class="alignrt">
        7,283
      </td>
      <td class="alignrt">
        $0.09
        <span class="subtext">Cost per link click</span>
      </td>
      <td class="alignrt">
        1.23%
        <span class="subtext">Link click rate</span>
      </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" />
      </td>  
      <td class="campaign-name">
        <a href="javascript:loadLevel('adgroup','down');">Life Stages - Handles</a>
         <span class="subtext">
           <a href="javascript:loadLevel('campaign','up');">Life Stages Coffee Campaign</a>
           <!-- 2 ads &middot; <span class="showtooltip">2 targeting types</span> -->
           <div class="Tooltip" style="left:116px;top:2px;">  
             <div class="Tooltip-triangle">    
               <div class="Tooltip-triangleOuter"></div>    
               <div class="Tooltip-triangleInner"></div>  
             </div>  
             <div class="Tooltip-inner">    
               <span class="Tooltip-close Icon Icon--close Icon--smallest" aria-hidden="true"></span>    
               <div class="Tooltip-content">
                 Targeting: 30 handles · 1 location
               </div>  
             </div>
           </div>
         </span>
      </td>
      <td class="Table-cell--alignLeft">
        <div class="src-views-Table-Cells-CampaignStatus-style--root">
          <span class="src-views-Table-Cells-CampaignStatus-style--statusText src-views-Table-Cells-CampaignStatus-style--running">Running</span>
          <span class="src-views-Table-Cells-CampaignStatus-style--playPauseButton Icon Icon--pause" data-reactid=".0.0.3.1.$6678103.$CampaignDisplayState.0.1"></span>
        </div>
      </td>
      <td>
        9 Nov
      </td>
      <td>
        29 Dec
      </td>
      <td>
        $149.45
        <span class="subtext">of $400.00</span>
      </td>
      <td>
        <span class="count-to" data-countto="37">0</span>%
        <div class="progress-bar">
          <div class="bar bg"></div>
          <div class="bar top"></div>
          <div class="marker" style="margin-left:60%"></div>
        </div>  
      </td>
      <td class="alignrt">
        5,238
      </td>
      <td class="alignrt">
        $0.49
        <span class="subtext">Cost per link click</span>
      </td>
      <td class="alignrt">
        1.31%
        <span class="subtext">Link click rate</span>
      </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" />
      </td>  
      <td class="campaign-name">
        <a href="javascript:loadLevel('adgroup','down');">Life Stages - Behaviors</a>
         <span class="subtext">
           <a href="javascript:loadLevel('campaign','up');">Life Stages Coffee Campaign</a>
           <!-- 2 ads &middot; <span class="showtooltip">2 targeting types</span> -->
           <div class="Tooltip" style="left:116px;top:2px;">  
             <div class="Tooltip-triangle">    
               <div class="Tooltip-triangleOuter"></div>    
               <div class="Tooltip-triangleInner"></div>  
             </div>  
             <div class="Tooltip-inner">    
               <span class="Tooltip-close Icon Icon--close Icon--smallest" aria-hidden="true"></span>    
               <div class="Tooltip-content">
                 Targeting: 12 behaviors · 1 location
               </div>  
             </div>
           </div>
         </span>
      </td>
      <td class="Table-cell--alignLeft">
        <div class="src-views-Table-Cells-CampaignStatus-style--root">
          <span class="src-views-Table-Cells-CampaignStatus-style--statusText src-views-Table-Cells-CampaignStatus-style--running">Running</span>
          <span class="src-views-Table-Cells-CampaignStatus-style--playPauseButton Icon Icon--pause" data-reactid=".0.0.3.1.$6678103.$CampaignDisplayState.0.1"></span>
        </div>
      </td>
      <td>
        9 Nov
      </td>
      <td>
        29 Dec
      </td>
      <td>
        $123.94
        <span class="subtext">of $400.00</span>
      </td>
      <td>
        <span class="count-to" data-countto="31">0</span>%
        <div class="progress-bar">
          <div class="bar bg"></div>
          <div class="bar top"></div>
          <div class="marker" style="margin-left:60%"></div>
        </div>  
      </td>
      <td class="alignrt">
        6,523
      </td>
      <td class="alignrt">
        $0.21
        <span class="subtext">Cost per link click</span>
      </td>
      <td class="alignrt">
        0.43%
        <span class="subtext">Link click rate</span>
      </td>
    </tr>
  </tbody>
</table>