<script>
  setTimeout(
    function() {
      $("#loading-table").hide();
      $("#table-campaigns-load-summary").fadeTo(100, 0, function(){
        $("#table-campaigns-load-summary").html("Summary for 100 campaigns <span class='summary-total'></span>");
        $(this).fadeTo(100, 1);  
      });
    }, 2000);
  var header_bottom = $("#adsmgr-page-header").offset().top + $("#adsmgr-page-header").outerHeight();
  $(".Table").stickyTableHeaders({fixedOffset: header_bottom});
  $(".Table").checkboxes("range", true);
  $(".Table.line-items tr.parent-row").each(function(){
    var editing_markup = '<div class="edit-lineitem"><div class="edit-lineitem-icon"><span class="Icon Icon--cog"></span></div><ul class="Dropdown"><li class="Dropdown-menuItem"><a class="Dropdown-menuItemContent">Edit campaign</a></li><li class="Dropdown-menuItem"><a class="Dropdown-menuItemContent">Copy campaign</a></li><li class="Dropdown-menuItem"><a class="Dropdown-menuItemContent">Open in original dashboard &rarr;</a></li></ul></div>';
    if (!$(this).find("td:eq(0)").hasClass("checkcol-summary")) {
      $(this).find("td:eq(1)").append(editing_markup);
    }
  });
  $(".Table").resizableColumns();
  
  var parentrownum = 0;
  $(".parent-row").each(function(){
    var childrow = $("#children-rows tbody:eq(0)").html();
    $(this).after(childrow);
    parentrownum++;
  });
</script>
    
    
<!-- CHILDREN OBJECT -->
<table id="children-rows" style="display:none">
  <tbody>
    <!-- Children rows start -->
    <tr class="child-row">
      <td>&nbsp;</td>  
      <td class="facet">On Twitter</td>  
      <td>&nbsp;</td>  
      <td>&nbsp;</td>  
      <td>&nbsp;</td>  
      <td class="alignrt">$XX.XX</td>  
      <td>&nbsp;</td>  
      <td class="alignrt">
        XX,XXX
      </td>
      <td class="alignrt">
        $XX.XX
      </td>
      <td class="alignrt">
        X.XX%
      </td>
    </tr>
    <tr class="child-row">
      <td>&nbsp;</td>  
      <td class="facet">On Twitter Audience Platform</td>  
      <td>&nbsp;</td>  
      <td>&nbsp;</td>  
      <td>&nbsp;</td>  
      <td class="alignrt">$XX.XX</td>  
      <td>&nbsp;</td>  
      <td class="alignrt">
        XX,XXX
      </td>
      <td class="alignrt">
        $XX.XX
      </td>
      <td class="alignrt">
        X.XX%
      </td>
    </tr>
    <!-- Children rows end -->
  </tbody>  
</table>      

<table class="Table Table--breakdown stickyheader line-items" data-actionfooter="lineitem" data-object="campaign">
  <thead class="">
    <tr class="">
      <th class="checkcol">
        <input type="checkbox" />
      </th>
      <th class="talignleft" style="width:400px">
        Name
      </th>
      <th class="Table-sortableHeader is-desc Table-headerCell--alignLeft">
        Status
      </th>
      <th>
        Start date
      </th>
      <th>
        End Date
      </th>
      <th>
        Spend
      </th>
      <th style="min-width:120px">
        Today's pacing
      </th>
      <th class="alignrt">
        Impressions
      </th>
      <th class="alignrt">
        Cost per result
      </th>
      <th class="alignrt">
        Results rate
      </th>
    </tr>
    <tr class="summary-row darker">
      <td class="checkcol-summary">
        <div id="loading-table" class="Icon Icon--loadingSmall"></div>
      </td>  
      <td>
        <strong id="table-campaigns-load-summary">Loading summary for 100 items&hellip;</strong>
      </td>
      <td class="nodata">
        -
      </td>
      <td class="nodata">
        -
      </td>
      <td class="nodata">
        -
      </td>
      <td>
        <div style="min-width:98px;">
          $17,328.25
          <!-- <div class="float-right">
            <a href="javascript:void(0);" class="showtooltip-hover"><span class="Icon Icon--listBadge"></span></a>
            <span style="color:#657786;font-weight:400;vertical-align:top;line-height: 20px;">(2)</span>
            <div class="Tooltip Tooltip--top" style="top:-74px;right:-92px;">
              <div class="Tooltip-triangle">
                <div class="Tooltip-triangleOuter"></div>
                <div class="Tooltip-triangleInner"></div>
              </div>
              <div class="Tooltip-inner">
                <div class="Tooltip-content">
                  <ul class="summary-blended">
                    <li>$10,047.15 <span class="subtext">On Twitter</span></li>
                    <li>$7,281.10 <span class="subtext">On Twitter Audience Platform</span></li>
                  </ul>
                </div>
              </div>
            </div>
          </div> -->
        </div>
      </td>
      <td class="nodata">
        -
      </td>
      <td class="alignrt">
        <div style="min-width:98px;">
          4,811,855
          <!-- <div class="float-right">
            <a href="javascript:void(0);" class="showtooltip-hover"><span class="Icon Icon--listBadge"></span></a>
            <span style="color:#657786;font-weight:400;vertical-align:top;line-height: 20px;">(2)</span>
            <div class="Tooltip Tooltip--top" style="top:-74px;right:-92px;">
              <div class="Tooltip-triangle">
                <div class="Tooltip-triangleOuter"></div>
                <div class="Tooltip-triangleInner"></div>
              </div>
              <div class="Tooltip-inner">
                <div class="Tooltip-content">
                  <ul class="summary-blended">
                    <li>2,790,876 <span class="subtext">On Twitter</span></li>
                    <li>2,020,979 <span class="subtext">On Twitter Audience Platform</span></li>
                  </ul>
                </div>
              </div>
            </div>
          </div> -->
        </div>
      </td>
      <td class="nodata alignrt">
        -
      </td>
      <td class="nodata alignrt">
        -
      </td>
    </tr>
    <tr class="summary-row">
      <td class="checkcol-summary"></td>  
      <td>
        <strong>On Twitter</strong>
      </td>
      <td class="nodata">
        -
      </td>
      <td class="nodata">
        -
      </td>
      <td class="nodata">
        -
      </td>
      <td>
        <div style="min-width:98px;">
          $10,047.15
        </div>
      </td>
      <td class="nodata">
        -
      </td>
      <td class="alignrt">
        <div style="min-width:98px;">
          2,790,876
        </div>
      </td>
      <td class="nodata alignrt">
        -
      </td>
      <td class="nodata alignrt">
        -
      </td>
    </tr>
    <tr class="summary-row">
      <td class="checkcol-summary"></td>  
      <td>
        <strong>On Twitter Audience Platform</strong>
      </td>
      <td class="nodata">
        -
      </td>
      <td class="nodata">
        -
      </td>
      <td class="nodata">
        -
      </td>
      <td>
        <div style="min-width:98px;">
          $7,281.10
        </div>
      </td>
      <td class="nodata">
        -
      </td>
      <td class="alignrt">
        <div style="min-width:98px;">
          2,020,979
        </div>
      </td>
      <td class="nodata alignrt">
        -
      </td>
      <td class="nodata alignrt">
        -
      </td>
    </tr>
  </thead>
  <tbody>
    <tr class="parent-row">
      <td>
        <input type="checkbox" />
      </td>  
      <td class="campaign-name">
        <a href="javascript:loadLevel('campaign','down');">Life Stages Coffee Campaign</a>
         <span class="subtext">Website clicks or conversions</span>
      </td>
      <td class="Table-cell--alignLeft">
        <div class="src-views-Table-Cells-CampaignStatus-style--root">
          <span class="src-views-Table-Cells-CampaignStatus-style--statusText src-views-Table-Cells-CampaignStatus-style--running">Running</span>
          <span class="src-views-Table-Cells-CampaignStatus-style--playPauseButton Icon Icon--pause" data-reactid=".0.0.3.1.$6678103.$CampaignDisplayState.0.1"></span>
        </div>
      </td>
      <td class="startdate" data-startdate="2015-11-09">
        9 Nov
      </td>
      <td class="enddate" data-enddate="2015-12-29">
        29 Dec
      </td>
      <td>
        $649.45
        <span class="subtext">of $1,000.00</span>
      </td>
      <td>
        <span class="count-to" data-countto="65">0</span>%
        <div class="progress-bar">
          <div class="bar bg"></div>
          <div class="bar top"></div>
          <div class="marker" style="margin-left:60%"></div>
        </div>  
      </td>
      <td class="alignrt">
        50,289
      </td>
      <td class="alignrt">
        $0.13
        <span class="subtext">Cost per link click</span>
      </td>
      <td class="alignrt">
        1.41%
        <span class="subtext">Link click rate</span>
      </td>
    </tr>    
    <tr class="parent-row">
      <td>
        <input type="checkbox" />
      </td>  
      <td class="campaign-name">
        <a href="javascript:loadLevel('campaign','down');">Website Card Campaign - page 64</a>
         <span class="subtext">Website clicks or conversions</span>
      </td>
      <td class="Table-cell--alignLeft">
        <div class="src-views-Table-Cells-CampaignStatus-style--root">
          <span class="src-views-Table-Cells-CampaignStatus-style--statusText src-views-Table-Cells-CampaignStatus-style--running">Running</span>
          <span class="src-views-Table-Cells-CampaignStatus-style--playPauseButton Icon Icon--pause" data-reactid=".0.0.3.1.$6678103.$CampaignDisplayState.0.1"></span>
        </div>
      </td>
      <td class="startdate" data-startdate="2015-11-09">
        9 Nov
      </td>
      <td class="enddate nodata" data-enddate="2015-12-31">
        -
      </td>
      <td>
        $2,696.99
      </td>
      <td>
        <span class="count-to" data-countto="50">0</span>%
        <div class="progress-bar">
          <div class="bar bg"></div>
          <div class="bar top"></div>
          <div class="marker" style="margin-left:60%"></div>
        </div>  
      </td>
      <td class="alignrt">
        99,421
      </td>
      <td class="alignrt">
        $2.40
        <span class="subtext">Cost per link click</span>
      </td>
      <td class="alignrt">
        3.20%
        <span class="subtext">Link click rate</span>
      </td>
    </tr>
    <tr class="parent-row">
      <td>
        <input type="checkbox" />
      </td>  
      <td class="campaign-name">
        <a href="javascript:loadLevel('campaign','down');">Retweet Promotion - Tweet Engagements Campaign 4th Quarter</a>
         <span class="subtext">Tweet engagments</span>
      </td>
      <td class="Table-cell--alignLeft">
        <div class="src-views-Table-Cells-CampaignStatus-style--root">
          <span class="src-views-Table-Cells-CampaignStatus-style--statusText src-views-Table-Cells-CampaignStatus-style--running">Running</span>
          <span class="src-views-Table-Cells-CampaignStatus-style--playPauseButton Icon Icon--pause" data-reactid=".0.0.3.1.$6678103.$CampaignDisplayState.0.1"></span>
        </div>
      </td>
      <td class="startdate" data-startdate="2015-12-12">
        12 Dec
      </td>
      <td class="enddate" data-enddate="2015-12-31">
        8 Jan
      </td>
      <td>
        $0.00
        <span class="subtext">of $500.00</span>
      </td>
      <td class="nodata">
        -
      </td>
      <td class="nodata alignrt">
        -
      </td>
      <td class="nodata alignrt">
        -
      </td>
      <td class="nodata alignrt">
        -
      </td>
    </tr>
    <tr class="parent-row">
      <td>
        <input type="checkbox" />
      </td>  
      <td class="campaign-name">
        <a href="javascript:loadLevel('campaign','down');">App promotion to site visitors</a>
         <span class="subtext">App installs or re-engagments</span>
      </td>
      <td class="Table-cell--alignLeft">
        <div class="src-views-Table-Cells-CampaignStatus-style--root">
          <span class="src-views-Table-Cells-CampaignStatus-style--statusText src-views-Table-Cells-CampaignStatus-style--running">Running</span>
          <span class="src-views-Table-Cells-CampaignStatus-style--playPauseButton Icon Icon--pause" data-reactid=".0.0.3.1.$6678103.$CampaignDisplayState.0.1"></span>
        </div>
      </td>
      <td class="startdate" data-startdate="2015-10-31">
        27 Oct
      </td>
      <td class="enddate" data-enddate="2015-12-01">
        1 Dec
      </td>
      <td>
        $545.77
        <span class="subtext">of $800.00</span>
      </td>
      <td>
        <span class="count-to" data-countto="68">0</span>%
        <div class="progress-bar">
          <div class="bar bg"></div>
          <div class="bar top"></div>
          <div class="marker" style="margin-left:60%"></div>
        </div>  
      </td>
      <td class="alignrt">
        43,203
      </td>
      <td class="alignrt">
        $5.84
        <span class="subtext">Cost per engagement</span>
      </td>
      <td class="alignrt">
        1.68%
        <span class="subtext">Engagement rate</span>
      </td>
    </tr>
    <tr class="parent-row">
      <td>
        <input type="checkbox" />
      </td>  
      <td class="campaign-name">
        <a href="javascript:loadLevel('campaign','down');">Conversation Targeting Leads Campaign</a>
         <span class="subtext">Leads on Twitter</span>
      </td>
      <td class="Table-cell--alignLeft">
        <div class="src-views-Table-Cells-CampaignStatus-style--root">
          <span class="src-views-Table-Cells-CampaignStatus-style--statusText src-views-Table-Cells-CampaignStatus-style--running">Running</span>
          <span class="src-views-Table-Cells-CampaignStatus-style--playPauseButton Icon Icon--pause" data-reactid=".0.0.3.1.$6678103.$CampaignDisplayState.0.1"></span>
        </div>
      </td>
      <td class="startdate" data-startdate="2015-10-31">
        17 Oct
      </td>
      <td class="enddate" data-enddate="2015-11-10">
        10 Nov
      </td>
      <td>
        $1,000.00
        <span class="subtext">of $1,000.00</span>
      </td>
      <td>
        <span class="count-to" data-countto="100">0</span>%
        <div class="progress-bar">
          <div class="bar bg"></div>
          <div class="bar top"></div>
          <div class="marker" style="margin-left:60%"></div>
        </div>  
      </td>
      <td class="alignrt">
        80,292
      </td>
      <td class="alignrt">
        $1.29
        <span class="subtext">Cost per lead</span>
      </td>
      <td class="alignrt">
        2.41%
        <span class="subtext">Lead rate</span>
      </td>
    </tr>
    <tr class="parent-row">
      <td>
        <input type="checkbox" />
      </td>  
      <td class="campaign-name">
        <a href="javascript:loadLevel('campaign','down');">Vine Q3 2015 re-engagement Campaign</a>
         <span class="subtext">App installs or engagements on Twitter</span>
      </td>
      <td class="Table-cell--alignLeft">
        <div class="src-views-Table-Cells-CampaignStatus-style--root">
          <span class="src-views-Table-Cells-CampaignStatus-style--statusText src-views-Table-Cells-CampaignStatus-style--pending">Scheduled</span>
        </div>
        <span class="subtext">No tweets</span>
      </td>
      <td class="startdate" data-startdate="2015-10-31">
        5 Oct
      </td>
      <td class="enddate" data-enddate="2015-11-07">
        7 Nov
      </td>
      <td>
        $900.00
        <span class="subtext">of $900.00</span>
      </td>
      <td>
        <span class="count-to" data-countto="100">0</span>%
        <div class="progress-bar">
          <div class="bar bg"></div>
          <div class="bar top"></div>
          <div class="marker" style="margin-left:60%"></div>
        </div>  
      </td>
      <td class="alignrt">
        77,467
      </td>
      <td class="alignrt">
        $0.98
        <span class="subtext">Cost per app click</span>
      </td>
      <td class="alignrt">
        0.97%
        <span class="subtext">App clicks rate</span>
      </td>
    </tr>
    <tr class="parent-row">
      <td>
        <input type="checkbox" />
      </td>  
      <td class="campaign-name">
        <a href="javascript:loadLevel('campaign','down');">MLB Playoff Fan Video</a>
         <span class="subtext">Video Views</span>
      </td>
      <td class="Table-cell--alignLeft">
        <div class="src-views-Table-Cells-CampaignStatus-style--root">
          <span class="src-views-Table-Cells-CampaignStatus-style--statusText src-views-Table-Cells-CampaignStatus-style--pending">Scheduled</span>
        </div>
      </td>
      <td class="startdate" data-startdate="2015-10-31">
        16 Jun
      </td>
      <td class="nodata enddate" data-enddate="2015-12-31">
        -
      </td>
      <td>
        $0.00
      </td>
      <td class="nodata">
        - 
      </td>
      <td class="nodata  alignrt">
        - 
      </td>
      <td class="nodata  alignrt">
        - 
      </td>
      <td class="nodata  alignrt">
        - 
      </td>
    </tr>
    <!-- RINSE, REPEAT -->
    <tr class="parent-row">
      <td>
        <input type="checkbox" />
      </td>  
      <td class="campaign-name">
        <a href="javascript:loadLevel('campaign','down');">Life Stages Coffee Campaign</a>
         <span class="subtext">Followers</span>
      </td>
      <td class="Table-cell--alignLeft">
        <div class="src-views-Table-Cells-CampaignStatus-style--root">
          <span class="src-views-Table-Cells-CampaignStatus-style--statusText src-views-Table-Cells-CampaignStatus-style--pending">Scheduled</span>
        </div>
        <span class="subtext">No tweets</span>
      </td>
      <td class="startdate" data-startdate="2015-11-09">
        9 Nov
      </td>
      <td class="enddate" data-enddate="2015-12-29">
        29 Dec
      </td>
      <td>
        $649.45
        <span class="subtext">of $1,000.00</span>
      </td>
      <td class="nodata">
        - 
      </td>
      <td class="alignrt">
        50,289
      </td>
      <td class="alignrt">
        $0.13
        <span class="subtext">Cost per link click</span>
      </td>
      <td class="alignrt">
        1.41%
        <span class="subtext">Link click rate</span>
      </td>
    </tr>
    <tr class="parent-row">
      <td>
        <input type="checkbox" />
      </td>  
      <td class="campaign-name">
        <a href="javascript:loadLevel('campaign','down');">Website Card Campaign - page 64</a>
         <span class="subtext">Website clicks or conversions</span>
      </td>
      <td class="Table-cell--alignLeft">
        <div class="src-views-Table-Cells-CampaignStatus-style--root">
          <span class="src-views-Table-Cells-CampaignStatus-style--statusText src-views-Table-Cells-CampaignStatus-style--pending">Scheduled</span>
        </div>
        <span class="subtext">No tweets</span>
      </td>
      <td class="startdate" data-startdate="2015-11-09">
        9 Nov
      </td>
      <td class="nodata enddate" data-enddate="2015-12-31">
        -
      </td>
      <td>
        $2,696.99
      </td>
      <td class="nodata">
        -
      </td>
      <td class="alignrt">
        99,421
      </td>
      <td class="alignrt">
        $2.40
        <span class="subtext">Cost per link click</span>
      </td>
      <td class="alignrt">
        3.20%
        <span class="subtext">Link click rate</span>
      </td>
    </tr>
    <tr class="parent-row">
      <td>
        <input type="checkbox" />
      </td>  
      <td class="campaign-name">
        <a href="javascript:loadLevel('campaign','down');">Retweet Promotion - Tweet Engagements Campaign 4th Quarter</a>
         <span class="subtext">Tweet engagments</span>
      </td>
      <td class="Table-cell--alignLeft">
        <div class="src-views-Table-Cells-CampaignStatus-style--root">
          <span class="src-views-Table-Cells-CampaignStatus-style--statusText src-views-Table-Cells-CampaignStatus-style--pending">Scheduled</span>
        </div>
        <span class="subtext">No tweets</span>
      </td>
      <td class="startdate" data-startdate="2015-12-12">
        12 Dec
      </td>
      <td class="enddate" data-enddate="2015-12-31">
        8 Jan
      </td>
      <td>
        $0.00
        <span class="subtext">of $500.00</span>
      </td>
      <td class="nodata">
        -
      </td>
      <td class="nodata alignrt">
        -
      </td>
      <td class="nodata  alignrt">
        -
      </td>
      <td class="nodata  alignrt">
        -
      </td>
    </tr>
    <tr class="parent-row">
      <td>
        <input type="checkbox" />
      </td>  
      <td class="campaign-name">
        <a href="javascript:loadLevel('campaign','down');">App promotion to site visitors</a>
         <span class="subtext">App installs or re-engagments</span>
      </td>
      <td class="Table-cell--alignLeft">
        <div class="src-views-Table-Cells-CampaignStatus-style--root">
          <span class="src-views-Table-Cells-CampaignStatus-style--statusText src-views-Table-Cells-CampaignStatus-style--paused">Paused</span>
          <span class="src-views-Table-Cells-CampaignStatus-style--playPauseButton Icon Icon--pause" data-reactid=".0.0.3.1.$6678103.$CampaignDisplayState.0.1"></span>
        </div>
      </td>
      <td class="startdate" data-startdate="2015-10-27">
        27 Oct
      </td>
      <td class="enddate" data-enddate="2015-12-01">
        1 Dec
      </td>
      <td>
        $545.77
        <span class="subtext">of $800.00</span>
      </td>
      <td class="nodata">
        - 
      </td>
      <td class="alignrt">
        43,203
      </td>
      <td class="alignrt">
        $5.84
        <span class="subtext">Cost per engagement</span>
      </td>
      <td class="alignrt">
        1.68%
        <span class="subtext">Engagement rate</span>
      </td>
    </tr>
    <tr class="parent-row">
      <td>
        <input type="checkbox" />
      </td>  
      <td class="campaign-name">
        <a href="javascript:loadLevel('campaign','down');">Conversation Targeting Leads Campaign</a>
         <span class="subtext">Leads on Twitter</span>
      </td>
      <td class="Table-cell--alignLeft">
        <div class="src-views-Table-Cells-CampaignStatus-style--root">
          <span class="src-views-Table-Cells-CampaignStatus-style--statusText src-views-Table-Cells-CampaignStatus-style--exhausted">Exhausted</span>
          <span class="src-views-Table-Cells-CampaignStatus-style--playPauseButton Icon Icon--pause" data-reactid=".0.0.3.1.$6678103.$CampaignDisplayState.0.1"></span>
        </div>
      </td>
      <td class="startdate" data-startdate="2015-10-31">
        17 Oct
      </td>
      <td class="enddate" data-enddate="2015-11-10">
        10 Nov
      </td>
      <td>
        $1,000.00
        <span class="subtext">of $1,000.00</span>
      </td>
      <td class="nodata">
        - 
      </td>
      <td class="alignrt">
        80,292
      </td>
      <td class="alignrt">
        $1.29
        <span class="subtext">Cost per lead</span>
      </td>
      <td class="alignrt">
        2.41%
        <span class="subtext">Lead rate</span>
      </td>
    </tr>
    <tr class="parent-row">
      <td>
        <input type="checkbox" />
      </td>  
      <td class="campaign-name">
        <a href="javascript:loadLevel('campaign','down');">Vine Q3 2015 re-engagement Campaign</a>
         <span class="subtext">App installs or engagements on Twitter</span>
      </td>
      <td class="Table-cell--alignLeft">
        <div class="src-views-Table-Cells-CampaignStatus-style--root">
          <span class="src-views-Table-Cells-CampaignStatus-style--statusText src-views-Table-Cells-CampaignStatus-style--exhausted">Exhausted</span>
          <span class="src-views-Table-Cells-CampaignStatus-style--playPauseButton Icon Icon--pause" data-reactid=".0.0.3.1.$6678103.$CampaignDisplayState.0.1"></span>
        </div>
      </td>
      <td class="startdate" data-startdate="2015-10-31">
        5 Oct
      </td>
      <td class="enddate" data-enddate="2015-11-07">
        7 Nov
      </td>
      <td>
        $900.00
        <span class="subtext">of $900.00</span>
      </td>
      <td class="nodata">
        - 
      </td>
      <td class="alignrt">
        77,467
      </td>
      <td class="alignrt">
        $0.98
        <span class="subtext">Cost per app click</span>
      </td>
      <td class="alignrt">
        0.97%
        <span class="subtext">App clicks rate</span>
      </td>
    </tr>
    <tr class="parent-row">
      <td>
        <input type="checkbox" />
      </td>  
      <td class="campaign-name">
        <a href="javascript:loadLevel('campaign','down');">MLB Playoff Fan Video</a>
         <span class="subtext">Video Views</span>
      </td>
      <td class="Table-cell--alignLeft">
        <div class="src-views-Table-Cells-CampaignStatus-style--root">
          <span class="src-views-Table-Cells-CampaignStatus-style--statusText src-views-Table-Cells-CampaignStatus-style--expired">Expired</span>
          <span class="src-views-Table-Cells-CampaignStatus-style--playPauseButton Icon Icon--pause" data-reactid=".0.0.3.1.$6678103.$CampaignDisplayState.0.1"></span>
        </div>
      </td>
      <td class="startdate" data-startdate="2015-10-31">
        16 Jun
      </td>
      <td class="nodata enddate" data-enddate="2015-12-31">
        -
      </td>
      <td>
        $0.00
      </td>
      <td class="nodata">
        - 
      </td>
      <td class="nodata  alignrt">
        - 
      </td>
      <td class="nodata  alignrt">
        - 
      </td>
      <td class="nodata  alignrt">
        - 
      </td>
    </tr>
    <!-- RINSE, REPEAT -->
    <tr class="parent-row">
      <td>
        <input type="checkbox" />
      </td>  
      <td class="campaign-name">
        <a href="javascript:loadLevel('campaign','down');">Life Stages Coffee Campaign</a>
         <span class="subtext">Followers</span>
      </td>
      <td class="Table-cell--alignLeft">
        <div class="src-views-Table-Cells-CampaignStatus-style--root">
          <span class="src-views-Table-Cells-CampaignStatus-style--statusText src-views-Table-Cells-CampaignStatus-style--archived">Archived</span>
        </div>
      </td>
      <td class="startdate" data-startdate="2015-11-09">
        9 Nov
      </td>
      <td class="enddate" data-enddate="2015-11-29">
        29 Dec
      </td>
      <td>
        $649.45
        <span class="subtext">of $1,000.00</span>
      </td>
      <td class="nodata">
        - 
      </td>
      <td class="alignrt">
        50,289
      </td>
      <td class="alignrt">
        $0.13
        <span class="subtext">Cost per link click</span>
      </td>
      <td class="alignrt">
        1.41%
        <span class="subtext">Link click rate</span>
      </td>
    </tr>
    <tr class="parent-row">
      <td>
        <input type="checkbox" />
      </td>  
      <td class="campaign-name">
        <a href="javascript:loadLevel('campaign','down');">Website Card Campaign - page 64</a>
         <span class="subtext">Website clicks or conversions</span>
      </td>
      <td class="Table-cell--alignLeft">
        <div class="src-views-Table-Cells-CampaignStatus-style--root">
          <span class="src-views-Table-Cells-CampaignStatus-style--statusText src-views-Table-Cells-CampaignStatus-style--archived">Archived</span>
        </div>
      </td>
      <td class="startdate" data-startdate="2015-10-31">
        9 Nov
      </td>
      <td class="nodata enddate" data-enddate="2015-12-31">
        -
      </td>
      <td>
        $2,696.99
      </td>
      <td class="nodata">
        -
      </td>
      <td class="alignrt">
        99,421
      </td>
      <td class="alignrt">
        $2.40
        <span class="subtext">Cost per link click</span>
      </td>
      <td class="alignrt">
        3.20%
        <span class="subtext">Link click rate</span>
      </td>
    </tr>
    <tr class="parent-row">
      <td>
        <input type="checkbox" />
      </td>  
      <td class="campaign-name">
        <a href="javascript:loadLevel('campaign','down');">Retweet Promotion - Tweet Engagements Campaign 4th Quarter</a>
         <span class="subtext">Tweet engagments</span>
      </td>
      <td class="Table-cell--alignLeft">
        <div class="src-views-Table-Cells-CampaignStatus-style--root">
          <span class="src-views-Table-Cells-CampaignStatus-style--statusText src-views-Table-Cells-CampaignStatus-style--archived">Archived</span>
        </div>
      </td>
      <td class="startdate" data-startdate="2015-12-12">
        12 Dec
      </td>
      <td class="enddate" data-enddate="2015-12-31">
        8 Jan
      </td>
      <td>
        $0.00
        <span class="subtext">of $500.00</span>
      </td>
      <td class="nodata">
        -
      </td>
      <td class="nodata alignrt">
        -
      </td>
      <td class="nodata alignrt">
        -
      </td>
      <td class="nodata alignrt">
        -
      </td>
    </tr>
    <tr class="parent-row">
      <td>
        <input type="checkbox" />
      </td>  
      <td class="campaign-name">
        <a href="javascript:loadLevel('campaign','down');">App promotion to site visitors</a>
         <span class="subtext">App installs or re-engagments</span>
      </td>
      <td class="Table-cell--alignLeft">
        <div class="src-views-Table-Cells-CampaignStatus-style--root">
          <span class="src-views-Table-Cells-CampaignStatus-style--statusText src-views-Table-Cells-CampaignStatus-style--archived">Archived</span>
        </div>
      </td>
      <td class="startdate" data-startdate="2015-10-31">
        27 Oct
      </td>
      <td class="enddate" data-enddate="2015-12-01">
        1 Dec
      </td>
      <td>
        $545.77
        <span class="subtext">of $800.00</span>
      </td>
      <td class="nodata">
        - 
      </td>
      <td class="alignrt">
        43,203
      </td>
      <td class="alignrt">
        $5.84
        <span class="subtext">Cost per engagement</span>
      </td>
      <td class="alignrt">
        1.68%
        <span class="subtext">Engagement rate</span>
      </td>
    </tr>
    <tr class="parent-row">
      <td>
        <input type="checkbox" />
      </td>  
      <td class="campaign-name">
        <a href="javascript:loadLevel('campaign','down');">Conversation Targeting Leads Campaign</a>
         <span class="subtext">Leads on Twitter</span>
      </td>
      <td class="Table-cell--alignLeft">
        <div class="src-views-Table-Cells-CampaignStatus-style--root">
          <span class="src-views-Table-Cells-CampaignStatus-style--statusText src-views-Table-Cells-CampaignStatus-style--archived">Archived</span>
        </div>
      </td>
      <td class="startdate" data-startdate="2015-10-31">
        17 Oct
      </td>
      <td class="enddate" data-enddate="2015-11-10">
        10 Nov
      </td>
      <td>
        $1,000.00
        <span class="subtext">of $1,000.00</span>
      </td>
      <td class="nodata">
        - 
      </td>
      <td class="alignrt">
        80,292
      </td>
      <td class="alignrt">
        $1.29
        <span class="subtext">Cost per lead</span>
      </td>
      <td class="alignrt">
        2.41%
        <span class="subtext">Lead rate</span>
      </td>
    </tr>
    <tr class="parent-row">
      <td>
        <input type="checkbox" />
      </td>  
      <td class="campaign-name">
        <a href="javascript:loadLevel('campaign','down');">Vine Q3 2015 re-engagement Campaign</a>
         <span class="subtext">App installs or engagements on Twitter</span>
      </td>
      <td class="Table-cell--alignLeft">
        <div class="src-views-Table-Cells-CampaignStatus-style--root">
          <span class="src-views-Table-Cells-CampaignStatus-style--statusText src-views-Table-Cells-CampaignStatus-style--archived">Archived</span>
        </div>
      </td>
      <td class="startdate" data-startdate="2015-10-31">
        5 Oct
      </td>
      <td class="enddate" data-enddate="2015-11-07">
        7 Nov
      </td>
      <td>
        $900.00
        <span class="subtext">of $900.00</span>
      </td>
      <td class="nodata">
        - 
      </td>
      <td class="alignrt">
        77,467
      </td>
      <td class="alignrt">
        $0.98
        <span class="subtext">Cost per app click</span>
      </td>
      <td class="alignrt">
        0.97%
        <span class="subtext">App clicks rate</span>
      </td>
    </tr>
    <tr class="parent-row">
      <td>
        <input type="checkbox" />
      </td>  
      <td class="campaign-name">
        <a href="javascript:loadLevel('campaign','down');">MLB Playoff Fan Video</a>
         <span class="subtext">Video Views</span>
      </td>
      <td class="Table-cell--alignLeft">
        <div class="src-views-Table-Cells-CampaignStatus-style--root">
          <span class="src-views-Table-Cells-CampaignStatus-style--statusText src-views-Table-Cells-CampaignStatus-style--archived">Archived</span>
        </div>
      </td>
      <td class="startdate" data-startdate="2015-10-31">
        16 Jun
      </td>
      <td class="nodata enddate" data-enddate="2015-12-31">
        -
      </td>
      <td>
        $0.00
      </td>
      <td class="nodata">
        - 
      </td>
      <td class="nodata alignrt">
        - 
      </td>
      <td class="nodata alignrt">
        - 
      </td>
      <td class="nodata alignrt">
        - 
      </td>
    </tr>
  </tbody>
</table>