<script>
  setTimeout(
    function() {
      $("#loading-table").hide();
      $("#table-adgroups-load-summary,#table-adgroups-load-spend,#table-adgroups-load-imps").fadeTo(100, 0, function(){
        $("#table-adgroups-load-summary").html("Summary for 8 ad groups");
        $("#table-adgroups-load-spend").html("$4,892.21");
        $("#table-adgroups-load-imps").html("273,205");     
        $(this).fadeTo(100, 1);  
      });
    }, 2000);
  var header_bottom = $("#adsmgr-page-header").offset().top + $("#adsmgr-page-header").outerHeight();
  $(".Table").stickyTableHeaders({fixedOffset: header_bottom});
  $(".Table").checkboxes("range", true);
  $(".Table.line-items tr").each(function(){
    var editing_markup = '<div class="edit-lineitem"><div class="edit-lineitem-icon"><span class="Icon Icon--cog"></span></div><ul class="Dropdown"><li class="Dropdown-menuItem"><a class="Dropdown-menuItemContent" href="javascript:showPanel(\'edit-adgroup-single\');">Edit ad group</a></li><li class="Dropdown-menuItem"><a class="Dropdown-menuItemContent">Copy ad group</a></li><li class="Dropdown-menuItem"><a class="Dropdown-menuItemContent">Open in original dashboard &rarr;</a></li></ul></div>';
    if (!$(this).find("td:eq(0)").hasClass("checkcol-summary")) {
      $(this).find("td:eq(1)").append(editing_markup);
    }
  });
  $(".Table").resizableColumns();
  
  $("#globalSearchBoxWrapper").show();
  $("#globalSearchBox").val("").attr("placeholder", "Search ad groups");
</script>

<table class="Table Table--striped line-items tooltips-hover" data-actionfooter="lineitem" data-object="ad group">
  <thead class="">
    <tr class="">
      <th class="checkcol">
        <input type="checkbox" />
      </th>
      <th class="Table-sortableHeader Table-headerCell--alignLeft">
        Name <span class="Icon Icon--featherTooltipCue"></span>
        <div class="Tooltip Tooltip--top Tooltip--hover" style="top:-28px;left:-72px;">  
          <div class="Tooltip-triangle">    
            <div class="Tooltip-triangleOuter"></div>    
            <div class="Tooltip-triangleInner"></div>  
          </div>  
          <div class="Tooltip-inner">
            <span class="Tooltip-close Icon Icon--close Icon--smallest" aria-hidden="true"></span>
            <div class="Tooltip-content">The name of the item</div>  
          </div>
        </div>
      </th>
      <th class="Table-sortableHeader is-desc Table-headerCell--alignLeft">
        Status <span class="Icon Icon--featherTooltipCue"></span>
        <div class="Tooltip Tooltip--top Tooltip--hover" style="top:-28px;left:-69px;">  
          <div class="Tooltip-triangle">    
            <div class="Tooltip-triangleOuter"></div>    
            <div class="Tooltip-triangleInner"></div>  
          </div>  
          <div class="Tooltip-inner">
            <span class="Tooltip-close Icon Icon--close Icon--smallest" aria-hidden="true"></span>
            <div class="Tooltip-content">The status of the item</div>  
          </div>
        </div>
      </th>
      <th class="Table-sortableHeader Table-headerCell--alignLeft">
        Start date <span class="Icon Icon--featherTooltipCue"></span>
        <div class="Tooltip Tooltip--top Tooltip--hover" style="top:-28px;left:-50px;">  
          <div class="Tooltip-triangle">    
            <div class="Tooltip-triangleOuter"></div>    
            <div class="Tooltip-triangleInner"></div>  
          </div>  
          <div class="Tooltip-inner">
            <span class="Tooltip-close Icon Icon--close Icon--smallest" aria-hidden="true"></span>
            <div class="Tooltip-content">The date the item starts</div>  
          </div>
        </div>
      </th>
      <th class="Table-sortableHeader Table-headerCell--alignLeft">
        End date <span class="Icon Icon--featherTooltipCue"></span>
        <div class="Tooltip Tooltip--top Tooltip--hover" style="top:-28px;left:-55px;">  
          <div class="Tooltip-triangle">    
            <div class="Tooltip-triangleOuter"></div>    
            <div class="Tooltip-triangleInner"></div>  
          </div>  
          <div class="Tooltip-inner">
            <span class="Tooltip-close Icon Icon--close Icon--smallest" aria-hidden="true"></span>
            <div class="Tooltip-content">The date the item ends</div>  
          </div>
        </div>
      </th>
      <th class="Table-sortableHeader Table-headerCell--alignLeft">
        Spend <span class="Icon Icon--featherTooltipCue"></span>
        <div class="Tooltip Tooltip--top Tooltip--hover" style="top:-28px;left:-69px;">  
          <div class="Tooltip-triangle">    
            <div class="Tooltip-triangleOuter"></div>    
            <div class="Tooltip-triangleInner"></div>  
          </div>  
          <div class="Tooltip-inner">
            <span class="Tooltip-close Icon Icon--close Icon--smallest" aria-hidden="true"></span>
            <div class="Tooltip-content">How much the the item has spent</div>  
          </div>
        </div>
      </th>
      <th class="Table-sortableHeader Table-headerCell--alignLeft">
        Today's pacing <span class="Icon Icon--featherTooltipCue"></span>
        <div class="Tooltip Tooltip--top Tooltip--hover" style="top:-45px;left:-21px;">  
          <div class="Tooltip-triangle">    
            <div class="Tooltip-triangleOuter"></div>    
            <div class="Tooltip-triangleInner"></div>  
          </div>  
          <div class="Tooltip-inner">
            <span class="Tooltip-close Icon Icon--close Icon--smallest" aria-hidden="true"></span>
            <div class="Tooltip-content">How much of your daily budget has been spent today</div>  
          </div>
        </div>
      </th>
      <th class="Table-sortableHeader Table-headerCell--alignRight alignrt">
        <span class="Icon Icon--featherTooltipCue"></span> Impressions 
        <div class="Tooltip Tooltip--top Tooltip--hover" style="top:-28px;right:-35px;">  
          <div class="Tooltip-triangle">    
            <div class="Tooltip-triangleOuter"></div>    
            <div class="Tooltip-triangleInner"></div>  
          </div>  
          <div class="Tooltip-inner">
            <span class="Tooltip-close Icon Icon--close Icon--smallest" aria-hidden="true"></span>
            <div class="Tooltip-content">The number of impressions served</div>  
          </div>
        </div>
      </th>
      <th class="Table-sortableHeader Table-headerCell--alignRight alignrt">
        <span class="Icon Icon--featherTooltipCue"></span> Cost per result
        <div class="Tooltip Tooltip--top Tooltip--hover" style="top:-28px;right:-21px;">  
          <div class="Tooltip-triangle">    
            <div class="Tooltip-triangleOuter"></div>    
            <div class="Tooltip-triangleInner"></div>  
          </div>  
          <div class="Tooltip-inner">
            <span class="Tooltip-close Icon Icon--close Icon--smallest" aria-hidden="true"></span>
            <div class="Tooltip-content">The average cost per result</div>  
          </div>
        </div>
      </th>
      <th class="Table-sortableHeader Table-headerCell--alignRight alignrt">
        <span class="Icon Icon--featherTooltipCue"></span> Results rate
        <div class="Tooltip Tooltip--topLeft Tooltip--hover" style="top:-28px;right:64px;">  
          <div class="Tooltip-triangle">    
            <div class="Tooltip-triangleOuter"></div>    
            <div class="Tooltip-triangleInner"></div>  
          </div>  
          <div class="Tooltip-inner">
            <span class="Tooltip-close Icon Icon--close Icon--smallest" aria-hidden="true"></span>
            <div class="Tooltip-content">Results divided by impressions</div>  
          </div>
        </div>
      </th>
    </tr>
    <tr class="summary-row">
      <td class="checkcol-summary">
        <div id="loading-table" class="Icon Icon--loadingSmall"></div>
      </td>  
      <td>
        <strong id="table-adgroups-load-summary">Loading summary for 8 items&hellip;</strong>
      </td>
      <td class="nodata">
        -
      </td>
      <td class="nodata">
        -
      </td>
      <td class="nodata">
        -
      </td>
      <td id="table-adgroups-load-spend">
        <div class="Icon Icon--loadingSmall"></div>
      </td>
      <td class="nodata">
        -
      </td>
      <td id="table-adgroups-load-imps" class="alignrt">
        <div class="Icon Icon--loadingSmall"></div>
      </td>
      <td class="nodata alignrt">
        -
      </td>
      <td class="nodata alignrt">
        -
      </td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <input type="checkbox" />
      </td>  
      <td class="campaign-name">
        <a href="javascript:loadLevel('adgroup','down');">Life Stages - Handles</a>
         <span class="subtext">
           Website clicks or conversions<br>
           <a href="javascript:loadLevel('campaign','down');" title="Campaign: Life Stages Coffee Campaign">Life Stages Coffee Campaign</a>
         </span>
         
      </td>
      <td class="Table-cell--alignLeft">
        <div class="src-views-Table-Cells-CampaignStatus-style--root">
          <span class="src-views-Table-Cells-CampaignStatus-style--statusText src-views-Table-Cells-CampaignStatus-style--running">Running</span>
          <span class="src-views-Table-Cells-CampaignStatus-style--playPauseButton Icon Icon--pause" data-reactid=".0.0.3.1.$6678103.$CampaignDisplayState.0.1"></span>
        </div>
      </td>
      <td>
        9 Nov
      </td>
      <td>
        29 Dec
      </td>
      <td>
        $149.45
        <span class="subtext">of $400.00</span>
      </td>
      <td>
        <span class="count-to" data-countto="37">0</span>%
        <div class="progress-bar">
          <div class="bar bg"></div>
          <div class="bar top"></div>
          <div class="marker" style="margin-left:60%"></div>
        </div>  
      </td>
      <td class="alignrt">
        5,238
      </td>
      <td class="alignrt">
        $0.49
      </td>
      <td class="alignrt">
        1.31%
      </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" />
      </td>  
      <td class="campaign-name">
        <a href="javascript:loadLevel('adgroup','down');">Life Stages - Keywords</a>
         <span class="subtext">
           Website clicks or conversions<br>
           <a href="javascript:loadLevel('campaign','down');" title="Campaign: Life Stages Coffee Campaign">Life Stages Coffee Campaign</a>
         </span>
      </td>
      <td class="Table-cell--alignLeft">
        <div class="src-views-Table-Cells-CampaignStatus-style--root">
          <span class="src-views-Table-Cells-CampaignStatus-style--statusText src-views-Table-Cells-CampaignStatus-style--running">Running</span>
          <span class="src-views-Table-Cells-CampaignStatus-style--playPauseButton Icon Icon--pause" data-reactid=".0.0.3.1.$6678103.$CampaignDisplayState.0.1"></span>
        </div>
      </td>
      <td>
        9 Nov
      </td>
      <td>
        29 Dec
      </td>
      <td>
        $209.45
        <span class="subtext">of $400.00</span>
      </td>
      <td>
        <span class="count-to" data-countto="52">0</span>%
        <div class="progress-bar">
          <div class="bar bg"></div>
          <div class="bar top"></div>
          <div class="marker" style="margin-left:60%"></div>
        </div>  
      </td>
      <td class="alignrt">
        7,283
      </td>
      <td class="alignrt">
        $0.09
      </td>
      <td class="alignrt">
        1.23%
      </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" />
      </td>  
      <td class="campaign-name">
        <a href="javascript:loadLevel('adgroup','down');">Life Stages - Behaviors</a>
         <span class="subtext">
           Website clicks or conversions<br>
           <a href="javascript:loadLevel('campaign','down');" title="Campaign: Life Stages Coffee Campaign">Life Stages Coffee Campaign</a>
         </span>
      </td>
      <td class="Table-cell--alignLeft">
        <div class="src-views-Table-Cells-CampaignStatus-style--root">
          <span class="src-views-Table-Cells-CampaignStatus-style--statusText src-views-Table-Cells-CampaignStatus-style--running">Running</span>
          <span class="src-views-Table-Cells-CampaignStatus-style--playPauseButton Icon Icon--pause" data-reactid=".0.0.3.1.$6678103.$CampaignDisplayState.0.1"></span>
        </div>
      </td>
      <td>
        9 Nov
      </td>
      <td>
        29 Dec
      </td>
      <td>
        $123.94
        <span class="subtext">of $400.00</span>
      </td>
      <td>
        <span class="count-to" data-countto="31">0</span>%
        <div class="progress-bar">
          <div class="bar bg"></div>
          <div class="bar top"></div>
          <div class="marker" style="margin-left:60%"></div>
        </div>  
      </td>
      <td class="alignrt">
        6,523
      </td>
      <td class="alignrt">
        $0.21
      </td>
      <td class="alignrt">
        0.43%
      </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" />
      </td>  
      <td class="campaign-name">
        <a href="javascript:loadLevel('adgroup','down');">Website Card Campaign - Handles</a>
         <span class="subtext">
           Website clicks or conversions<br>
           <a href="javascript:loadLevel('campaign','down');" title="Campaign: Website Card Campaign - page 64">Website Card Campaign - page 64</a>
         </span>
      </td>
      <td class="Table-cell--alignLeft">
        <div class="src-views-Table-Cells-CampaignStatus-style--root">
          <span class="src-views-Table-Cells-CampaignStatus-style--statusText src-views-Table-Cells-CampaignStatus-style--running">Running</span>
          <span class="src-views-Table-Cells-CampaignStatus-style--playPauseButton Icon Icon--pause" data-reactid=".0.0.3.1.$6678103.$CampaignDisplayState.0.1"></span>
        </div>
      </td>
      <td>
        1 Nov
      </td>
      <td>
        31 Dec
      </td>
      <td>
        $489.45
        <span class="subtext">of $600.00</span>
      </td>
      <td>
        <span class="count-to" data-countto="82">0</span>%
        <div class="progress-bar">
          <div class="bar bg"></div>
          <div class="bar top"></div>
          <div class="marker" style="margin-left:60%"></div>
        </div>  
      </td>
      <td class="alignrt">
        20,289
      </td>
      <td class="alignrt">
        $0.12
      </td>
      <td class="alignrt">
        2.41%
      </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" />
      </td>  
      <td class="campaign-name">
        <a href="javascript:loadLevel('adgroup','down');">Website Card Campaign - Keywords</a>
         <span class="subtext">
           Website clicks or conversions<br>
           <a href="javascript:loadLevel('campaign','down');" title="Campaign: Website Card Campaign - page 64">Website Card Campaign - page 64</a>
         </span>
      </td>
      <td class="Table-cell--alignLeft">
        <div class="src-views-Table-Cells-CampaignStatus-style--root">
          <span class="src-views-Table-Cells-CampaignStatus-style--statusText src-views-Table-Cells-CampaignStatus-style--running">Running</span>
          <span class="src-views-Table-Cells-CampaignStatus-style--playPauseButton Icon Icon--pause" data-reactid=".0.0.3.1.$6678103.$CampaignDisplayState.0.1"></span>
        </div>
      </td>
      <td>
        1 Nov
      </td>
      <td>
        31 Dec
      </td>
      <td>
        $349.22
        <span class="subtext">of $600.00</span>
      </td>
      <td>
        <span class="count-to" data-countto="58">0</span>%
        <div class="progress-bar">
          <div class="bar bg"></div>
          <div class="bar top"></div>
          <div class="marker" style="margin-left:60%"></div>
        </div>  
      </td>
      <td class="alignrt">
        14,289
      </td>
      <td class="alignrt">
        $0.28
      </td>
      <td class="alignrt">
        1.76%
      </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" />
      </td>  
      <td class="campaign-name">
        <a href="javascript:loadLevel('adgroup','down');">Website Card Campaign - Behaviors</a>
         <span class="subtext">
           Website clicks or conversions<br>
           <a href="javascript:loadLevel('campaign','down');" title="Campaign: Website Card Campaign - page 64">Website Card Campaign - page 64</a>
         </span>
      </td>
      <td class="Table-cell--alignLeft">
        <div class="src-views-Table-Cells-CampaignStatus-style--root">
          <span class="src-views-Table-Cells-CampaignStatus-style--statusText src-views-Table-Cells-CampaignStatus-style--running">Running</span>
          <span class="src-views-Table-Cells-CampaignStatus-style--playPauseButton Icon Icon--pause" data-reactid=".0.0.3.1.$6678103.$CampaignDisplayState.0.1"></span>
        </div>
      </td>
      <td>
        1 Nov
      </td>
      <td>
        31 Dec
      </td>
      <td>
        $219.56
        <span class="subtext">of $600.00</span>
      </td>
      <td>
        <span class="count-to" data-countto="37">0</span>%
        <div class="progress-bar">
          <div class="bar bg"></div>
          <div class="bar top"></div>
          <div class="marker" style="margin-left:60%"></div>
        </div>  
      </td>
      <td class="alignrt">
        12,289
      </td>
      <td class="alignrt">
        $0.19
      </td>
      <td class="alignrt">
        1.23%
      </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" />
      </td>  
      <td class="campaign-name">
        <a href="javascript:loadLevel('adgroup','down');">Retweet Promotion - Event</a>
         <span class="subtext">
           Tweet engagements<br>
           <a href="javascript:loadLevel('campaign','down');" title="Campaign: Retweet Promotion - Tweet Engagements Campaign 4th Quarter">Retweet Promotion - Tweet Engagements Campaign 4th Quarter</a>
         </span>
      </td>
      <td class="Table-cell--alignLeft">
        <div class="src-views-Table-Cells-CampaignStatus-style--root">
          <span class="src-views-Table-Cells-CampaignStatus-style--statusText src-views-Table-Cells-CampaignStatus-style--exhausted">Exhausted</span>
          <span class="src-views-Table-Cells-CampaignStatus-style--playPauseButton Icon Icon--pause" data-reactid=".0.0.3.1.$6678103.$CampaignDisplayState.0.1"></span>
        </div>
      </td>
      <td>
        1 Nov
      </td>
      <td>
        31 Dec
      </td>
      <td>
        $600.00
        <span class="subtext">of $600.00</span>
      </td>
      <td>
        <span class="count-to" data-countto="100">0</span>%
        <div class="progress-bar">
          <div class="bar bg"></div>
          <div class="bar top"></div>
          <div class="marker" style="margin-left:60%"></div>
        </div>  
      </td>
      <td class="alignrt">
        69,293
      </td>
      <td class="alignrt">
        $0.17
      </td>
      <td class="alignrt">
        0.88%
      </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" />
      </td>  
      <td class="campaign-name">
        <a href="javascript:loadLevel('adgroup','down');">Retweet Promotion - Trend</a>
         <span class="subtext">
           Tweet engagements<br>
           <a href="javascript:loadLevel('campaign','down');" title="Campaign: Retweet Promotion - Tweet Engagements Campaign 4th Quarter">Retweet Promotion - Tweet Engagements Campaign 4th Quarter</a>
         </span>
      </td>
      <td class="Table-cell--alignLeft">
        <div class="src-views-Table-Cells-CampaignStatus-style--root">
          <span class="src-views-Table-Cells-CampaignStatus-style--statusText src-views-Table-Cells-CampaignStatus-style--exhausted">Exhausted</span>
          <span class="src-views-Table-Cells-CampaignStatus-style--playPauseButton Icon Icon--pause" data-reactid=".0.0.3.1.$6678103.$CampaignDisplayState.0.1"></span>
        </div>
      </td>
      <td>
        1 Nov
      </td>
      <td>
        31 Dec
      </td>
      <td>
        $600.00
        <span class="subtext">of $600.00</span>
      </td>
      <td>
        <span class="count-to" data-countto="37">0</span>%
        <div class="progress-bar">
          <div class="bar bg"></div>
          <div class="bar top"></div>
          <div class="marker" style="margin-left:60%"></div>
        </div>  
      </td>
      <td class="alignrt">
        74,283
      </td>
      <td class="alignrt">
        $0.21
      </td>
      <td class="alignrt">
        0.93%
      </td>
    </tr>
  </tbody>
</table>