<div class="table-message">
  <div class="table-message-text">
    <h3>There are no matching campaigns for the selected criteria.</h3>
    <p>
      Try using different filters.
    </p>
  </div>
</div>