<script>
  setTimeout(
    function() {
      $("#loading-table").hide();
      $("#table-campaigns-load-summary,#table-campaigns-load-spend,#table-campaigns-load-imps").fadeTo(100, 0, function(){
        $("#table-campaigns-load-summary").html("Summary for 100 campaigns <span class='summary-total'></span>");
        $("#table-campaigns-load-spend").html("$17,328.25");
        $("#table-campaigns-load-imps").html("4,811,855");     
        $(this).fadeTo(100, 1);  
      });
    }, 2000);
  var header_bottom = $("#adsmgr-page-header").offset().top + $("#adsmgr-page-header").outerHeight();
  $(".Table").stickyTableHeaders({fixedOffset: header_bottom});
  $(".Table").checkboxes("range", true);
  $(".Table.line-items tr.parent-row").each(function(){
    var editing_markup = '<div class="edit-lineitem"><div class="edit-lineitem-icon"><span class="Icon Icon--cog"></span></div><ul class="Dropdown"><li class="Dropdown-menuItem"><a class="Dropdown-menuItemContent">Edit campaign</a></li><li class="Dropdown-menuItem"><a class="Dropdown-menuItemContent">Copy campaign</a></li><li class="Dropdown-menuItem"><a class="Dropdown-menuItemContent">Open in original dashboard &rarr;</a></li></ul></div>';
    if (!$(this).find("td:eq(0)").hasClass("checkcol-summary")) {
      $(this).find("td:eq(1)").append(editing_markup);
    }
  });
  $(".Table").resizableColumns();
  
  var parentrownum = 0;
  $(".parent-row").each(function(){
    if ($(this).find(".startdate:eq(0)").length > 0 && $(this).find(".enddate:eq(0)").length > 0) {
      var startDate = moment($(this).find(".startdate:eq(0)").data("startdate"));
      var endDate = moment($(this).find(".enddate:eq(0)").data("enddate"));
      var numdays = Math.floor((moment(endDate).diff(startDate) / 86400000) + 1);
      if (numdays >= 10) {
        var expand_rows = '<tr><td class="expand-row-content" colspan="10" data-parentrownum="' + parentrownum +'"><span>Show more</span> (showing 10/' + numdays + ')</td></tr>';
         $(this).after(expand_rows);
      }
      for(var date = moment(endDate); (-1 * date.diff(startDate)) <= 0; date.subtract(1, 'days')){
        var datetime = date.format("D MMM YYYY"); 
        $("#children-rows .datetime").html(datetime);
        $("#children-rows tbody:eq(0) tr").removeClass("hide");
        if (numdays > 10) {
          $("#children-rows tbody:eq(0) tr").addClass("hide");
        }
        $("#children-rows tbody:eq(0) tr").addClass("parentrownum-" + parentrownum);
        var childrow = $("#children-rows tbody:eq(0)").html();
        $(this).after(childrow);
        $("#children-rows tbody:eq(0) tr").removeClass("parentrownum-" + parentrownum);
        numdays--;
      } 
    }
    parentrownum++;
    });
    
    // Expand more rows 
    var expandcount = 0;
    $(document).on("click", ".expand-row-content span", function(event) {
      var parentrowtr = ".parentrownum-" + $(this).closest(".expand-row-content").data("parentrownum");
      $(this).closest(".expand-row-content").remove();
      $(parentrowtr).removeClass("hide");
      if (expandcount == 1) {
        if (confirm("Do you want to expand breakdowns for all dates?") == true) {
          $(".child-row.hide").removeClass("hide");
          $(".expand-row-content").remove();
        }
      }
      expandcount++;
    });
    
    // Expand and collapse hourly
    $(document).on("click", ".expand-subdata", function(event) {
      var date = $(this).siblings(".datetime").html();
      for (i = 24; i >= 9; i--) { 
        var datetime = '<span class="datetime-alt">' + date + '</span> ' + i + ':00'; 
        $("#hourly-rows .datetime").html(datetime);
        
        // Add a line on the last (first) row
        if (i == 24) {
          $("#hourly-rows .child-row").addClass("subdata-lastrow");
        } else {
          $("#hourly-rows .child-row").removeClass("subdata-lastrow");
        }
        
        var childrow = $("#hourly-rows tbody:eq(0)").html();
        $(this).closest(".child-row").addClass("is-showing-subdata").after(childrow);
      }
    });
    
    $(document).on("click", ".collapse-subdata", function(event) {
      $(".Table--breakdown tr").removeClass("is-showing-subdata");
      $(".Table--breakdown .child-row.subdata").remove();
    });
</script>
    
    
<!-- CHILDREN OBJECT -->
<table id="children-rows" style="display:none">
  <tbody>
    <!-- Children rows start -->
    <tr class="child-row">
      <td>&nbsp;</td>  
      <td class="facet"><span class="datetime main"><!-- fill me with the date --></span> <a class="expand-subdata">Show hourly</a><a class="collapse-subdata">Hide hourly</a></td>  
      <td>&nbsp;</td>  
      <td>&nbsp;</td>  
      <td>&nbsp;</td>  
      <td class="alignrt">$XX.XX</td>  
      <td>&nbsp;</td>  
      <td class="alignrt">
        XX,XXX
      </td>
      <td class="alignrt">
        $XX.XX
      </td>
      <td class="alignrt">
        X.XX%
      </td>
    </tr>
    <!-- Children rows end -->
  </tbody>  
</table>   

<table id="hourly-rows" style="display:none">
  <tbody>
    <!-- Children rows start -->
    <tr class="child-row subdata">
      <td>&nbsp;</td>  
      <td class="facet"><span class="datetime"><!-- fill me with the date --></span></td>  
      <td>&nbsp;</td>  
      <td>&nbsp;</td>  
      <td>&nbsp;</td>  
      <td class="alignrt">$YY.YY</td>  
      <td>&nbsp;</td>  
      <td class="alignrt">
        YY,YYY
      </td>
      <td class="alignrt">
        $YY.YY
      </td>
      <td class="alignrt">
        Y.YY%
      </td>
    </tr>
    <!-- Children rows end -->
  </tbody>  
</table>       

<table class="Table Table--breakdown stickyheader line-items" data-actionfooter="lineitem" data-object="campaign">
  <thead class="">
    <tr class="">
      <th class="checkcol">
        <input type="checkbox" />
      </th>
      <th class="talignleft" style="width:400px">
        Name
      </th>
      <th class="Table-sortableHeader is-desc Table-headerCell--alignLeft">
        Status
      </th>
      <th>
        Start date
      </th>
      <th>
        End Date
      </th>
      <th>
        Spend
      </th>
      <th style="min-width:120px">
        Today's pacing
      </th>
      <th class="alignrt">
        Impressions
      </th>
      <th class="alignrt">
        Cost per result
      </th>
      <th class="alignrt">
        Results rate
      </th>
    </tr>
    <tr class="summary-row">
      <td class="checkcol-summary">
        <div id="loading-table" class="Icon Icon--loadingSmall"></div>
      </td>  
      <td>
        <strong id="table-campaigns-load-summary">Loading summary for 100 items&hellip;</strong>
      </td>
      <td class="nodata">
        -
      </td>
      <td class="nodata">
        -
      </td>
      <td class="nodata">
        -
      </td>
      <td id="table-campaigns-load-spend">
        <div class="Icon Icon--loadingSmall"></div>
      </td>
      <td class="nodata">
        -
      </td>
      <td id="table-campaigns-load-imps" class="alignrt">
        <div class="Icon Icon--loadingSmall"></div>
      </td>
      <td class="nodata alignrt">
        -
      </td>
      <td class="nodata alignrt">
        -
      </td>
    </tr>
  </thead>
  <tbody>
    <tr class="parent-row">
      <td>
        <input type="checkbox" />
      </td>  
      <td class="campaign-name">
        <a href="javascript:loadLevel('campaign','down');">Life Stages Coffee Campaign</a>
         <span class="subtext">Website clicks or conversions</span>
      </td>
      <td class="Table-cell--alignLeft">
        <div class="src-views-Table-Cells-CampaignStatus-style--root">
          <span class="src-views-Table-Cells-CampaignStatus-style--statusText src-views-Table-Cells-CampaignStatus-style--running">Running</span>
          <span class="src-views-Table-Cells-CampaignStatus-style--playPauseButton Icon Icon--pause" data-reactid=".0.0.3.1.$6678103.$CampaignDisplayState.0.1"></span>
        </div>
      </td>
      <td class="startdate" data-startdate="2015-11-09">
        9 Nov
      </td>
      <td class="enddate" data-enddate="2015-12-29">
        29 Dec
      </td>
      <td>
        $649.45
        <span class="subtext">of $1,000.00</span>
      </td>
      <td>
        <span class="count-to" data-countto="65">0</span>%
        <div class="progress-bar">
          <div class="bar bg"></div>
          <div class="bar top"></div>
          <div class="marker" style="margin-left:60%"></div>
        </div>  
      </td>
      <td class="alignrt">
        50,289
      </td>
      <td class="alignrt">
        $0.13
        <span class="subtext">Cost per link click</span>
      </td>
      <td class="alignrt">
        1.41%
        <span class="subtext">Link click rate</span>
      </td>
    </tr>    
    <tr class="parent-row">
      <td>
        <input type="checkbox" />
      </td>  
      <td class="campaign-name">
        <a href="javascript:loadLevel('campaign','down');">Website Card Campaign - page 64</a>
         <span class="subtext">Website clicks or conversions</span>
      </td>
      <td class="Table-cell--alignLeft">
        <div class="src-views-Table-Cells-CampaignStatus-style--root">
          <span class="src-views-Table-Cells-CampaignStatus-style--statusText src-views-Table-Cells-CampaignStatus-style--running">Running</span>
          <span class="src-views-Table-Cells-CampaignStatus-style--playPauseButton Icon Icon--pause" data-reactid=".0.0.3.1.$6678103.$CampaignDisplayState.0.1"></span>
        </div>
      </td>
      <td class="startdate" data-startdate="2015-11-09">
        9 Nov
      </td>
      <td class="enddate nodata" data-enddate="2015-12-31">
        -
      </td>
      <td>
        $2,696.99
      </td>
      <td>
        <span class="count-to" data-countto="50">0</span>%
        <div class="progress-bar">
          <div class="bar bg"></div>
          <div class="bar top"></div>
          <div class="marker" style="margin-left:60%"></div>
        </div>  
      </td>
      <td class="alignrt">
        99,421
      </td>
      <td class="alignrt">
        $2.40
        <span class="subtext">Cost per link click</span>
      </td>
      <td class="alignrt">
        3.20%
        <span class="subtext">Link click rate</span>
      </td>
    </tr>
    <tr class="parent-row">
      <td>
        <input type="checkbox" />
      </td>  
      <td class="campaign-name">
        <a href="javascript:loadLevel('campaign','down');">Retweet Promotion - Tweet Engagements Campaign 4th Quarter</a>
         <span class="subtext">Tweet engagments</span>
      </td>
      <td class="Table-cell--alignLeft">
        <div class="src-views-Table-Cells-CampaignStatus-style--root">
          <span class="src-views-Table-Cells-CampaignStatus-style--statusText src-views-Table-Cells-CampaignStatus-style--running">Running</span>
          <span class="src-views-Table-Cells-CampaignStatus-style--playPauseButton Icon Icon--pause" data-reactid=".0.0.3.1.$6678103.$CampaignDisplayState.0.1"></span>
        </div>
      </td>
      <td class="startdate" data-startdate="2015-12-12">
        12 Dec
      </td>
      <td class="enddate" data-enddate="2015-12-31">
        8 Jan
      </td>
      <td>
        $0.00
        <span class="subtext">of $500.00</span>
      </td>
      <td class="nodata">
        -
      </td>
      <td class="nodata alignrt">
        -
      </td>
      <td class="nodata alignrt">
        -
      </td>
      <td class="nodata alignrt">
        -
      </td>
    </tr>
    <tr class="parent-row">
      <td>
        <input type="checkbox" />
      </td>  
      <td class="campaign-name">
        <a href="javascript:loadLevel('campaign','down');">App promotion to site visitors</a>
         <span class="subtext">App installs or re-engagments</span>
      </td>
      <td class="Table-cell--alignLeft">
        <div class="src-views-Table-Cells-CampaignStatus-style--root">
          <span class="src-views-Table-Cells-CampaignStatus-style--statusText src-views-Table-Cells-CampaignStatus-style--running">Running</span>
          <span class="src-views-Table-Cells-CampaignStatus-style--playPauseButton Icon Icon--pause" data-reactid=".0.0.3.1.$6678103.$CampaignDisplayState.0.1"></span>
        </div>
      </td>
      <td class="startdate" data-startdate="2015-10-31">
        27 Oct
      </td>
      <td class="enddate" data-enddate="2015-12-01">
        1 Dec
      </td>
      <td>
        $545.77
        <span class="subtext">of $800.00</span>
      </td>
      <td>
        <span class="count-to" data-countto="68">0</span>%
        <div class="progress-bar">
          <div class="bar bg"></div>
          <div class="bar top"></div>
          <div class="marker" style="margin-left:60%"></div>
        </div>  
      </td>
      <td class="alignrt">
        43,203
      </td>
      <td class="alignrt">
        $5.84
        <span class="subtext">Cost per engagement</span>
      </td>
      <td class="alignrt">
        1.68%
        <span class="subtext">Engagement rate</span>
      </td>
    </tr>
    <tr class="parent-row">
      <td>
        <input type="checkbox" />
      </td>  
      <td class="campaign-name">
        <a href="javascript:loadLevel('campaign','down');">Conversation Targeting Leads Campaign</a>
         <span class="subtext">Leads on Twitter</span>
      </td>
      <td class="Table-cell--alignLeft">
        <div class="src-views-Table-Cells-CampaignStatus-style--root">
          <span class="src-views-Table-Cells-CampaignStatus-style--statusText src-views-Table-Cells-CampaignStatus-style--running">Running</span>
          <span class="src-views-Table-Cells-CampaignStatus-style--playPauseButton Icon Icon--pause" data-reactid=".0.0.3.1.$6678103.$CampaignDisplayState.0.1"></span>
        </div>
      </td>
      <td class="startdate" data-startdate="2015-10-31">
        17 Oct
      </td>
      <td class="enddate" data-enddate="2015-11-10">
        10 Nov
      </td>
      <td>
        $1,000.00
        <span class="subtext">of $1,000.00</span>
      </td>
      <td>
        <span class="count-to" data-countto="100">0</span>%
        <div class="progress-bar">
          <div class="bar bg"></div>
          <div class="bar top"></div>
          <div class="marker" style="margin-left:60%"></div>
        </div>  
      </td>
      <td class="alignrt">
        80,292
      </td>
      <td class="alignrt">
        $1.29
        <span class="subtext">Cost per lead</span>
      </td>
      <td class="alignrt">
        2.41%
        <span class="subtext">Lead rate</span>
      </td>
    </tr>
    <tr class="parent-row">
      <td>
        <input type="checkbox" />
      </td>  
      <td class="campaign-name">
        <a href="javascript:loadLevel('campaign','down');">Vine Q3 2015 re-engagement Campaign</a>
         <span class="subtext">App installs or engagements on Twitter</span>
      </td>
      <td class="Table-cell--alignLeft">
        <div class="src-views-Table-Cells-CampaignStatus-style--root">
          <span class="src-views-Table-Cells-CampaignStatus-style--statusText src-views-Table-Cells-CampaignStatus-style--pending">Scheduled</span>
        </div>
        <span class="subtext">No tweets</span>
      </td>
      <td class="startdate" data-startdate="2015-10-31">
        5 Oct
      </td>
      <td class="enddate" data-enddate="2015-11-07">
        7 Nov
      </td>
      <td>
        $900.00
        <span class="subtext">of $900.00</span>
      </td>
      <td>
        <span class="count-to" data-countto="100">0</span>%
        <div class="progress-bar">
          <div class="bar bg"></div>
          <div class="bar top"></div>
          <div class="marker" style="margin-left:60%"></div>
        </div>  
      </td>
      <td class="alignrt">
        77,467
      </td>
      <td class="alignrt">
        $0.98
        <span class="subtext">Cost per app click</span>
      </td>
      <td class="alignrt">
        0.97%
        <span class="subtext">App clicks rate</span>
      </td>
    </tr>
    <tr class="parent-row">
      <td>
        <input type="checkbox" />
      </td>  
      <td class="campaign-name">
        <a href="javascript:loadLevel('campaign','down');">MLB Playoff Fan Video</a>
         <span class="subtext">Video Views</span>
      </td>
      <td class="Table-cell--alignLeft">
        <div class="src-views-Table-Cells-CampaignStatus-style--root">
          <span class="src-views-Table-Cells-CampaignStatus-style--statusText src-views-Table-Cells-CampaignStatus-style--pending">Scheduled</span>
        </div>
      </td>
      <td class="startdate" data-startdate="2015-10-31">
        16 Jun
      </td>
      <td class="nodata enddate" data-enddate="2015-12-31">
        -
      </td>
      <td>
        $0.00
      </td>
      <td class="nodata">
        - 
      </td>
      <td class="nodata  alignrt">
        - 
      </td>
      <td class="nodata  alignrt">
        - 
      </td>
      <td class="nodata  alignrt">
        - 
      </td>
    </tr>
    <!-- RINSE, REPEAT -->
    <tr class="parent-row">
      <td>
        <input type="checkbox" />
      </td>  
      <td class="campaign-name">
        <a href="javascript:loadLevel('campaign','down');">Life Stages Coffee Campaign</a>
         <span class="subtext">Followers</span>
      </td>
      <td class="Table-cell--alignLeft">
        <div class="src-views-Table-Cells-CampaignStatus-style--root">
          <span class="src-views-Table-Cells-CampaignStatus-style--statusText src-views-Table-Cells-CampaignStatus-style--pending">Scheduled</span>
        </div>
        <span class="subtext">No tweets</span>
      </td>
      <td class="startdate" data-startdate="2015-11-09">
        9 Nov
      </td>
      <td class="enddate" data-enddate="2015-12-29">
        29 Dec
      </td>
      <td>
        $649.45
        <span class="subtext">of $1,000.00</span>
      </td>
      <td class="nodata">
        - 
      </td>
      <td class="alignrt">
        50,289
      </td>
      <td class="alignrt">
        $0.13
        <span class="subtext">Cost per link click</span>
      </td>
      <td class="alignrt">
        1.41%
        <span class="subtext">Link click rate</span>
      </td>
    </tr>
    <tr class="parent-row">
      <td>
        <input type="checkbox" />
      </td>  
      <td class="campaign-name">
        <a href="javascript:loadLevel('campaign','down');">Website Card Campaign - page 64</a>
         <span class="subtext">Website clicks or conversions</span>
      </td>
      <td class="Table-cell--alignLeft">
        <div class="src-views-Table-Cells-CampaignStatus-style--root">
          <span class="src-views-Table-Cells-CampaignStatus-style--statusText src-views-Table-Cells-CampaignStatus-style--pending">Scheduled</span>
        </div>
        <span class="subtext">No tweets</span>
      </td>
      <td class="startdate" data-startdate="2015-11-09">
        9 Nov
      </td>
      <td class="nodata enddate" data-enddate="2015-12-31">
        -
      </td>
      <td>
        $2,696.99
      </td>
      <td class="nodata">
        -
      </td>
      <td class="alignrt">
        99,421
      </td>
      <td class="alignrt">
        $2.40
        <span class="subtext">Cost per link click</span>
      </td>
      <td class="alignrt">
        3.20%
        <span class="subtext">Link click rate</span>
      </td>
    </tr>
    <tr class="parent-row">
      <td>
        <input type="checkbox" />
      </td>  
      <td class="campaign-name">
        <a href="javascript:loadLevel('campaign','down');">Retweet Promotion - Tweet Engagements Campaign 4th Quarter</a>
         <span class="subtext">Tweet engagments</span>
      </td>
      <td class="Table-cell--alignLeft">
        <div class="src-views-Table-Cells-CampaignStatus-style--root">
          <span class="src-views-Table-Cells-CampaignStatus-style--statusText src-views-Table-Cells-CampaignStatus-style--pending">Scheduled</span>
        </div>
        <span class="subtext">No tweets</span>
      </td>
      <td class="startdate" data-startdate="2015-12-12">
        12 Dec
      </td>
      <td class="enddate" data-enddate="2015-12-31">
        8 Jan
      </td>
      <td>
        $0.00
        <span class="subtext">of $500.00</span>
      </td>
      <td class="nodata">
        -
      </td>
      <td class="nodata alignrt">
        -
      </td>
      <td class="nodata  alignrt">
        -
      </td>
      <td class="nodata  alignrt">
        -
      </td>
    </tr>
    <tr class="parent-row">
      <td>
        <input type="checkbox" />
      </td>  
      <td class="campaign-name">
        <a href="javascript:loadLevel('campaign','down');">App promotion to site visitors</a>
         <span class="subtext">App installs or re-engagments</span>
      </td>
      <td class="Table-cell--alignLeft">
        <div class="src-views-Table-Cells-CampaignStatus-style--root">
          <span class="src-views-Table-Cells-CampaignStatus-style--statusText src-views-Table-Cells-CampaignStatus-style--paused">Paused</span>
          <span class="src-views-Table-Cells-CampaignStatus-style--playPauseButton Icon Icon--pause" data-reactid=".0.0.3.1.$6678103.$CampaignDisplayState.0.1"></span>
        </div>
      </td>
      <td class="startdate" data-startdate="2015-10-27">
        27 Oct
      </td>
      <td class="enddate" data-enddate="2015-12-01">
        1 Dec
      </td>
      <td>
        $545.77
        <span class="subtext">of $800.00</span>
      </td>
      <td class="nodata">
        - 
      </td>
      <td class="alignrt">
        43,203
      </td>
      <td class="alignrt">
        $5.84
        <span class="subtext">Cost per engagement</span>
      </td>
      <td class="alignrt">
        1.68%
        <span class="subtext">Engagement rate</span>
      </td>
    </tr>
    <tr class="parent-row">
      <td>
        <input type="checkbox" />
      </td>  
      <td class="campaign-name">
        <a href="javascript:loadLevel('campaign','down');">Conversation Targeting Leads Campaign</a>
         <span class="subtext">Leads on Twitter</span>
      </td>
      <td class="Table-cell--alignLeft">
        <div class="src-views-Table-Cells-CampaignStatus-style--root">
          <span class="src-views-Table-Cells-CampaignStatus-style--statusText src-views-Table-Cells-CampaignStatus-style--exhausted">Exhausted</span>
          <span class="src-views-Table-Cells-CampaignStatus-style--playPauseButton Icon Icon--pause" data-reactid=".0.0.3.1.$6678103.$CampaignDisplayState.0.1"></span>
        </div>
      </td>
      <td class="startdate" data-startdate="2015-10-31">
        17 Oct
      </td>
      <td class="enddate" data-enddate="2015-11-10">
        10 Nov
      </td>
      <td>
        $1,000.00
        <span class="subtext">of $1,000.00</span>
      </td>
      <td class="nodata">
        - 
      </td>
      <td class="alignrt">
        80,292
      </td>
      <td class="alignrt">
        $1.29
        <span class="subtext">Cost per lead</span>
      </td>
      <td class="alignrt">
        2.41%
        <span class="subtext">Lead rate</span>
      </td>
    </tr>
    <tr class="parent-row">
      <td>
        <input type="checkbox" />
      </td>  
      <td class="campaign-name">
        <a href="javascript:loadLevel('campaign','down');">Vine Q3 2015 re-engagement Campaign</a>
         <span class="subtext">App installs or engagements on Twitter</span>
      </td>
      <td class="Table-cell--alignLeft">
        <div class="src-views-Table-Cells-CampaignStatus-style--root">
          <span class="src-views-Table-Cells-CampaignStatus-style--statusText src-views-Table-Cells-CampaignStatus-style--exhausted">Exhausted</span>
          <span class="src-views-Table-Cells-CampaignStatus-style--playPauseButton Icon Icon--pause" data-reactid=".0.0.3.1.$6678103.$CampaignDisplayState.0.1"></span>
        </div>
      </td>
      <td class="startdate" data-startdate="2015-10-31">
        5 Oct
      </td>
      <td class="enddate" data-enddate="2015-11-07">
        7 Nov
      </td>
      <td>
        $900.00
        <span class="subtext">of $900.00</span>
      </td>
      <td class="nodata">
        - 
      </td>
      <td class="alignrt">
        77,467
      </td>
      <td class="alignrt">
        $0.98
        <span class="subtext">Cost per app click</span>
      </td>
      <td class="alignrt">
        0.97%
        <span class="subtext">App clicks rate</span>
      </td>
    </tr>
    <tr class="parent-row">
      <td>
        <input type="checkbox" />
      </td>  
      <td class="campaign-name">
        <a href="javascript:loadLevel('campaign','down');">MLB Playoff Fan Video</a>
         <span class="subtext">Video Views</span>
      </td>
      <td class="Table-cell--alignLeft">
        <div class="src-views-Table-Cells-CampaignStatus-style--root">
          <span class="src-views-Table-Cells-CampaignStatus-style--statusText src-views-Table-Cells-CampaignStatus-style--expired">Expired</span>
          <span class="src-views-Table-Cells-CampaignStatus-style--playPauseButton Icon Icon--pause" data-reactid=".0.0.3.1.$6678103.$CampaignDisplayState.0.1"></span>
        </div>
      </td>
      <td class="startdate" data-startdate="2015-10-31">
        16 Jun
      </td>
      <td class="nodata enddate" data-enddate="2015-12-31">
        -
      </td>
      <td>
        $0.00
      </td>
      <td class="nodata">
        - 
      </td>
      <td class="nodata  alignrt">
        - 
      </td>
      <td class="nodata  alignrt">
        - 
      </td>
      <td class="nodata  alignrt">
        - 
      </td>
    </tr>
    <!-- RINSE, REPEAT -->
    <tr class="parent-row">
      <td>
        <input type="checkbox" />
      </td>  
      <td class="campaign-name">
        <a href="javascript:loadLevel('campaign','down');">Life Stages Coffee Campaign</a>
         <span class="subtext">Followers</span>
      </td>
      <td class="Table-cell--alignLeft">
        <div class="src-views-Table-Cells-CampaignStatus-style--root">
          <span class="src-views-Table-Cells-CampaignStatus-style--statusText src-views-Table-Cells-CampaignStatus-style--archived">Archived</span>
        </div>
      </td>
      <td class="startdate" data-startdate="2015-11-09">
        9 Nov
      </td>
      <td class="enddate" data-enddate="2015-11-29">
        29 Dec
      </td>
      <td>
        $649.45
        <span class="subtext">of $1,000.00</span>
      </td>
      <td class="nodata">
        - 
      </td>
      <td class="alignrt">
        50,289
      </td>
      <td class="alignrt">
        $0.13
        <span class="subtext">Cost per link click</span>
      </td>
      <td class="alignrt">
        1.41%
        <span class="subtext">Link click rate</span>
      </td>
    </tr>
    <tr class="parent-row">
      <td>
        <input type="checkbox" />
      </td>  
      <td class="campaign-name">
        <a href="javascript:loadLevel('campaign','down');">Website Card Campaign - page 64</a>
         <span class="subtext">Website clicks or conversions</span>
      </td>
      <td class="Table-cell--alignLeft">
        <div class="src-views-Table-Cells-CampaignStatus-style--root">
          <span class="src-views-Table-Cells-CampaignStatus-style--statusText src-views-Table-Cells-CampaignStatus-style--archived">Archived</span>
        </div>
      </td>
      <td class="startdate" data-startdate="2015-10-31">
        9 Nov
      </td>
      <td class="nodata enddate" data-enddate="2015-12-31">
        -
      </td>
      <td>
        $2,696.99
      </td>
      <td class="nodata">
        -
      </td>
      <td class="alignrt">
        99,421
      </td>
      <td class="alignrt">
        $2.40
        <span class="subtext">Cost per link click</span>
      </td>
      <td class="alignrt">
        3.20%
        <span class="subtext">Link click rate</span>
      </td>
    </tr>
    <tr class="parent-row">
      <td>
        <input type="checkbox" />
      </td>  
      <td class="campaign-name">
        <a href="javascript:loadLevel('campaign','down');">Retweet Promotion - Tweet Engagements Campaign 4th Quarter</a>
         <span class="subtext">Tweet engagments</span>
      </td>
      <td class="Table-cell--alignLeft">
        <div class="src-views-Table-Cells-CampaignStatus-style--root">
          <span class="src-views-Table-Cells-CampaignStatus-style--statusText src-views-Table-Cells-CampaignStatus-style--archived">Archived</span>
        </div>
      </td>
      <td class="startdate" data-startdate="2015-12-12">
        12 Dec
      </td>
      <td class="enddate" data-enddate="2015-12-31">
        8 Jan
      </td>
      <td>
        $0.00
        <span class="subtext">of $500.00</span>
      </td>
      <td class="nodata">
        -
      </td>
      <td class="nodata alignrt">
        -
      </td>
      <td class="nodata alignrt">
        -
      </td>
      <td class="nodata alignrt">
        -
      </td>
    </tr>
    <tr class="parent-row">
      <td>
        <input type="checkbox" />
      </td>  
      <td class="campaign-name">
        <a href="javascript:loadLevel('campaign','down');">App promotion to site visitors</a>
         <span class="subtext">App installs or re-engagments</span>
      </td>
      <td class="Table-cell--alignLeft">
        <div class="src-views-Table-Cells-CampaignStatus-style--root">
          <span class="src-views-Table-Cells-CampaignStatus-style--statusText src-views-Table-Cells-CampaignStatus-style--archived">Archived</span>
        </div>
      </td>
      <td class="startdate" data-startdate="2015-10-31">
        27 Oct
      </td>
      <td class="enddate" data-enddate="2015-12-01">
        1 Dec
      </td>
      <td>
        $545.77
        <span class="subtext">of $800.00</span>
      </td>
      <td class="nodata">
        - 
      </td>
      <td class="alignrt">
        43,203
      </td>
      <td class="alignrt">
        $5.84
        <span class="subtext">Cost per engagement</span>
      </td>
      <td class="alignrt">
        1.68%
        <span class="subtext">Engagement rate</span>
      </td>
    </tr>
    <tr class="parent-row">
      <td>
        <input type="checkbox" />
      </td>  
      <td class="campaign-name">
        <a href="javascript:loadLevel('campaign','down');">Conversation Targeting Leads Campaign</a>
         <span class="subtext">Leads on Twitter</span>
      </td>
      <td class="Table-cell--alignLeft">
        <div class="src-views-Table-Cells-CampaignStatus-style--root">
          <span class="src-views-Table-Cells-CampaignStatus-style--statusText src-views-Table-Cells-CampaignStatus-style--archived">Archived</span>
        </div>
      </td>
      <td class="startdate" data-startdate="2015-10-31">
        17 Oct
      </td>
      <td class="enddate" data-enddate="2015-11-10">
        10 Nov
      </td>
      <td>
        $1,000.00
        <span class="subtext">of $1,000.00</span>
      </td>
      <td class="nodata">
        - 
      </td>
      <td class="alignrt">
        80,292
      </td>
      <td class="alignrt">
        $1.29
        <span class="subtext">Cost per lead</span>
      </td>
      <td class="alignrt">
        2.41%
        <span class="subtext">Lead rate</span>
      </td>
    </tr>
    <tr class="parent-row">
      <td>
        <input type="checkbox" />
      </td>  
      <td class="campaign-name">
        <a href="javascript:loadLevel('campaign','down');">Vine Q3 2015 re-engagement Campaign</a>
         <span class="subtext">App installs or engagements on Twitter</span>
      </td>
      <td class="Table-cell--alignLeft">
        <div class="src-views-Table-Cells-CampaignStatus-style--root">
          <span class="src-views-Table-Cells-CampaignStatus-style--statusText src-views-Table-Cells-CampaignStatus-style--archived">Archived</span>
        </div>
      </td>
      <td class="startdate" data-startdate="2015-10-31">
        5 Oct
      </td>
      <td class="enddate" data-enddate="2015-11-07">
        7 Nov
      </td>
      <td>
        $900.00
        <span class="subtext">of $900.00</span>
      </td>
      <td class="nodata">
        - 
      </td>
      <td class="alignrt">
        77,467
      </td>
      <td class="alignrt">
        $0.98
        <span class="subtext">Cost per app click</span>
      </td>
      <td class="alignrt">
        0.97%
        <span class="subtext">App clicks rate</span>
      </td>
    </tr>
    <tr class="parent-row">
      <td>
        <input type="checkbox" />
      </td>  
      <td class="campaign-name">
        <a href="javascript:loadLevel('campaign','down');">MLB Playoff Fan Video</a>
         <span class="subtext">Video Views</span>
      </td>
      <td class="Table-cell--alignLeft">
        <div class="src-views-Table-Cells-CampaignStatus-style--root">
          <span class="src-views-Table-Cells-CampaignStatus-style--statusText src-views-Table-Cells-CampaignStatus-style--archived">Archived</span>
        </div>
      </td>
      <td class="startdate" data-startdate="2015-10-31">
        16 Jun
      </td>
      <td class="nodata enddate" data-enddate="2015-12-31">
        -
      </td>
      <td>
        $0.00
      </td>
      <td class="nodata">
        - 
      </td>
      <td class="nodata alignrt">
        - 
      </td>
      <td class="nodata alignrt">
        - 
      </td>
      <td class="nodata alignrt">
        - 
      </td>
    </tr>
  </tbody>
</table>