<script>
  setTimeout(
    function() {
      $("#loading-table").hide();
      $("#table-fundingsources-load-summary,#table-fundingsources-load-spend,#table-fundingsources-load-imps").fadeTo(100, 0, function(){
        $("#table-fundingsources-load-summary").html("Summary for 4 funding sources <span class='summary-total'></span>");
        $("#table-fundingsources-load-spend").html("$17,328.25");
        $("#table-fundingsources-load-imps").html("4,811,855");     
        $(this).fadeTo(100, 1);  
      });
    }, 2000);
  var header_bottom = $("#adsmgr-page-header").offset().top + $("#adsmgr-page-header").outerHeight();
  $(".Table").stickyTableHeaders({fixedOffset: header_bottom});
  $(".Table").checkboxes("range", true);
  $(".Table").resizableColumns({
    minWidth: 5
  });
</script>

<table class="Table Table--striped stickyheader line-items tooltips-hover Table--resizable" data-actionfooter="lineitem" data-object="campaign">
  <thead class="">
    <tr class="">
      <th class="checkcol">
        <input type="checkbox" />
      </th>
      <th class="Table-sortableHeader Table-headerCell--alignLeft" width="320">
        Name <span class="Icon Icon--featherTooltipCue"></span>
        <div class="Tooltip Tooltip--top Tooltip--hover" style="top:-28px;left:-72px;">  
          <div class="Tooltip-triangle">    
            <div class="Tooltip-triangleOuter"></div>    
            <div class="Tooltip-triangleInner"></div>  
          </div>  
          <div class="Tooltip-inner">
            <span class="Tooltip-close Icon Icon--close Icon--smallest" aria-hidden="true"></span>
            <div class="Tooltip-content">The name of the item</div>  
          </div>
        </div>
      </th>
      <th class="Table-sortableHeader is-desc Table-headerCell--alignLeft">
        Status <span class="Icon Icon--featherTooltipCue"></span>
        <div class="Tooltip Tooltip--top Tooltip--hover" style="top:-28px;left:-69px;">  
          <div class="Tooltip-triangle">    
            <div class="Tooltip-triangleOuter"></div>    
            <div class="Tooltip-triangleInner"></div>  
          </div>  
          <div class="Tooltip-inner">
            <span class="Tooltip-close Icon Icon--close Icon--smallest" aria-hidden="true"></span>
            <div class="Tooltip-content">The status of the item</div>  
          </div>
        </div>
      </th>
      <th class="Table-sortableHeader Table-headerCell--alignLeft">
        Start date <span class="Icon Icon--featherTooltipCue"></span>
        <div class="Tooltip Tooltip--top Tooltip--hover" style="top:-28px;left:-50px;">  
          <div class="Tooltip-triangle">    
            <div class="Tooltip-triangleOuter"></div>    
            <div class="Tooltip-triangleInner"></div>  
          </div>  
          <div class="Tooltip-inner">
            <span class="Tooltip-close Icon Icon--close Icon--smallest" aria-hidden="true"></span>
            <div class="Tooltip-content">The date the item starts</div>  
          </div>
        </div>
      </th>
      <th class="Table-sortableHeader Table-headerCell--alignLeft">
        End date <span class="Icon Icon--featherTooltipCue"></span>
        <div class="Tooltip Tooltip--top Tooltip--hover" style="top:-28px;left:-55px;">  
          <div class="Tooltip-triangle">    
            <div class="Tooltip-triangleOuter"></div>    
            <div class="Tooltip-triangleInner"></div>  
          </div>  
          <div class="Tooltip-inner">
            <span class="Tooltip-close Icon Icon--close Icon--smallest" aria-hidden="true"></span>
            <div class="Tooltip-content">The date the item ends</div>  
          </div>
        </div>
      </th>
      <th class="Table-sortableHeader Table-headerCell--alignLeft">
        Spend <span class="Icon Icon--featherTooltipCue"></span>
        <div class="Tooltip Tooltip--top Tooltip--hover" style="top:-28px;left:-69px;">  
          <div class="Tooltip-triangle">    
            <div class="Tooltip-triangleOuter"></div>    
            <div class="Tooltip-triangleInner"></div>  
          </div>  
          <div class="Tooltip-inner">
            <span class="Tooltip-close Icon Icon--close Icon--smallest" aria-hidden="true"></span>
            <div class="Tooltip-content">How much the the item has spent</div>  
          </div>
        </div>
      </th>
      <th class="Table-sortableHeader Table-headerCell--alignLeft">
        Today's pacing <span class="Icon Icon--featherTooltipCue"></span>
        <div class="Tooltip Tooltip--top Tooltip--hover" style="top:-45px;left:-21px;">  
          <div class="Tooltip-triangle">    
            <div class="Tooltip-triangleOuter"></div>    
            <div class="Tooltip-triangleInner"></div>  
          </div>  
          <div class="Tooltip-inner">
            <span class="Tooltip-close Icon Icon--close Icon--smallest" aria-hidden="true"></span>
            <div class="Tooltip-content">How much of your daily budget has been spent today</div>  
          </div>
        </div>
      </th>
      <th class="Table-sortableHeader Table-headerCell--alignRight alignrt">
        <span class="Icon Icon--featherTooltipCue"></span> Impressions 
        <div class="Tooltip Tooltip--top Tooltip--hover" style="top:-28px;right:-35px;">  
          <div class="Tooltip-triangle">    
            <div class="Tooltip-triangleOuter"></div>    
            <div class="Tooltip-triangleInner"></div>  
          </div>  
          <div class="Tooltip-inner">
            <span class="Tooltip-close Icon Icon--close Icon--smallest" aria-hidden="true"></span>
            <div class="Tooltip-content">The number of impressions served</div>  
          </div>
        </div>
      </th>
      <th class="Table-sortableHeader Table-headerCell--alignRight alignrt">
        <span class="Icon Icon--featherTooltipCue"></span> Cost per result
        <div class="Tooltip Tooltip--top Tooltip--hover" style="top:-28px;right:-21px;">  
          <div class="Tooltip-triangle">    
            <div class="Tooltip-triangleOuter"></div>    
            <div class="Tooltip-triangleInner"></div>  
          </div>  
          <div class="Tooltip-inner">
            <span class="Tooltip-close Icon Icon--close Icon--smallest" aria-hidden="true"></span>
            <div class="Tooltip-content">The average cost per result</div>  
          </div>
        </div>
      </th>
      <th class="Table-sortableHeader Table-headerCell--alignRight alignrt">
        <span class="Icon Icon--featherTooltipCue"></span> Results rate
        <div class="Tooltip Tooltip--topLeft Tooltip--hover" style="top:-28px;right:64px;">  
          <div class="Tooltip-triangle">    
            <div class="Tooltip-triangleOuter"></div>    
            <div class="Tooltip-triangleInner"></div>  
          </div>  
          <div class="Tooltip-inner">
            <span class="Tooltip-close Icon Icon--close Icon--smallest" aria-hidden="true"></span>
            <div class="Tooltip-content">Results divided by impressions</div>  
          </div>
        </div>
      </th>
    </tr>
    <tr class="summary-row">
      <td class="checkcol-summary">
        <div id="loading-table" class="Icon Icon--loadingSmall"></div>
      </td>  
      <td>
        <strong id="table-fundingsources-load-summary">Loading summary for 4 items&hellip;</strong>
      </td>
      <td class="nodata">
        -
      </td>
      <td class="nodata">
        -
      </td>
      <td class="nodata">
        -
      </td>
      <td id="table-fundingsources-load-spend">
        <div class="Icon Icon--loadingSmall"></div>
      </td>
      <td class="nodata">
        -
      </td>
      <td id="table-fundingsources-load-imps" class="alignrt">
        <div class="Icon Icon--loadingSmall"></div>
      </td>
      <td class="alignrt nodata">
        -
      </td>
      <td class="alignrt nodata">
        -
      </td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <input type="checkbox" />
      </td>  
      <td class="campaign-name">
        <a href="javascript:loadLevel('fundingsource','down');">Barista-Bar-Q3-2016 (T123456)</a>
      </td>
      <td class="Table-cell--alignLeft">
        <div class="src-views-Table-Cells-CampaignStatus-style--root">
          <span class="src-views-Table-Cells-CampaignStatus-style--statusText src-views-Table-Cells-CampaignStatus-style--running">Active</span>
        </div>
      </td>
      <td>
        9 Nov
      </td>
      <td>
        29 Dec
      </td>
      <td>
        $4,892.21
      </td>
      <td>
        <span class="count-to" data-countto="49">0</span>%
      </td>
      <td class="alignrt">
        273,205
      </td>
      <td class="alignrt nodata">
        -
      </td>
      <td class="alignrt nodata">
        -
      </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" />
      </td>  
      <td class="campaign-name">
        <a href="javascript:loadLevel('fundingsource','down');">Barista-Bar-Q2-2016 (T234567)</a>
      </td>
      <td class="Table-cell--alignLeft">
        <div class="src-views-Table-Cells-CampaignStatus-style--root">
          <span class="src-views-Table-Cells-CampaignStatus-style--statusText src-views-Table-Cells-CampaignStatus-style--running">Active</span>
        </div>
      </td>
      <td>
        9 Nov
      </td>
      <td>
        31 Dec
      </td>
      <td>
        $12,436.04
      </td>
      <td>
        <span class="count-to" data-countto="50">0</span>%
      </td>
      <td class="alignrt">
        4,538,650
      </td>
      <td class="alignrt nodata">
        -
      </td>
      <td class="alignrt nodata">
        -
      </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" />
      </td>  
      <td class="campaign-name">
        <a href="javascript:loadLevel('fundingsource','down');"> Tweets in profile campaigns</a>
      </td>
      <td class="Table-cell--alignLeft">
        <div class="src-views-Table-Cells-CampaignStatus-style--root">
          <span class="src-views-Table-Cells-CampaignStatus-style--statusText src-views-Table-Cells-CampaignStatus-style--running">Normal</span>
        </div>
      </td>
      <td>
        9 Nov
      </td>
      <td class="nodata">
        -
      </td>
      <td>
        $0.00
      </td>
      <td>
        <span class="count-to" data-countto="0">0</span>%
      </td>
      <td class="alignrt">
        0
      </td>
      <td class="nodata alignrt">
        -
      </td>
      <td class="nodata alignrt">
        -
      </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" />
      </td>  
      <td class="campaign-name">
        <a href="javascript:loadLevel('fundingsource','down');"> Credit/debit card</a>
      </td>
      <td class="Table-cell--alignLeft">
        <div class="src-views-Table-Cells-CampaignStatus-style--root">
          <span class="src-views-Table-Cells-CampaignStatus-style--statusText src-views-Table-Cells-CampaignStatus-style--running">Normal</span>
        </div>
      </td>
      <td>
        9 Nov
      </td>
      <td class="nodata">
        -
      </td>
      <td>
        $0.00
      </td>
      <td>
        <span class="count-to" data-countto="0">0</span>%  
      </td>
      <td class="alignrt">
        0
      </td>
      <td class="nodata alignrt">
        -
      </td>
      <td class="nodata alignrt">
        -
      </td>
    </tr>
  </tbody>
</table>