<table class="Table">
  <thead>
    <tr>
      <th>Filter reason</th>
      <th>% potential impressions lost</th>
      <th>Potential impressions lost</th>
      <th>Recommended action</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>
        Lineitem brand tpm app not whitelisted
        <span class="subtext">A vastly compelling description of what this filter reason actually means</span>
      </td>
      <td>XX.X%</td>
      <td>&lt;XXX,XXX&gt;</td>
      <td>Increase bid to $4.34</td>
    </tr>
    <tr>
      <td>
        Lineitem brand tpm app not whitelisted
        <span class="subtext">A vastly compelling description of what this filter reason actually means</span>
      </td>
      <td>XX.X%</td>
      <td>&lt;XXX,XXX&gt;</td>
      <td>Increase bid to $4.34</td>
    </tr>
    <tr>
      <td>
        Lineitem brand tpm app not whitelisted
        <span class="subtext">A vastly compelling description of what this filter reason actually means</span>
      </td>
      <td>XX.X%</td>
      <td>&lt;XXX,XXX&gt;</td>
      <td>Increase bid to $4.34</td>
    </tr>
    <tr>
      <td>
        Lineitem brand tpm app not whitelisted
        <span class="subtext">A vastly compelling description of what this filter reason actually means</span>
      </td>
      <td>XX.X%</td>
      <td>&lt;XXX,XXX&gt;</td>
      <td>Increase bid to $4.34</td>
    </tr>
    <tr>
      <td>
        Lineitem brand tpm app not whitelisted
        <span class="subtext">A vastly compelling description of what this filter reason actually means</span>
      </td>
      <td>XX.X%</td>
      <td>&lt;XXX,XXX&gt;</td>
      <td>Increase bid to $4.34</td>
    </tr>
    <tr>
      <td>
        Lineitem brand tpm app not whitelisted
        <span class="subtext">A vastly compelling description of what this filter reason actually means</span>
      </td>
      <td>XX.X%</td>
      <td>&lt;XXX,XXX&gt;</td>
      <td>Increase bid to $4.34</td>
    </tr>
    <tr>
      <td>
        Lineitem brand tpm app not whitelisted
        <span class="subtext">A vastly compelling description of what this filter reason actually means</span>
      </td>
      <td>XX.X%</td>
      <td>&lt;XXX,XXX&gt;</td>
      <td>Increase bid to $4.34</td>
    </tr>
    <tr>
      <td>
        Lineitem brand tpm app not whitelisted
        <span class="subtext">A vastly compelling description of what this filter reason actually means</span>
      </td>
      <td>XX.X%</td>
      <td>&lt;XXX,XXX&gt;</td>
      <td>Increase bid to $4.34</td>
    </tr>
  </tbody>
</table>