<script>
  $( document ).ready(function() {
    $("#adsmgr-audience").load("audience-locations.html");
  });
  
  $("#globalSearchBoxWrapper").hide();
</script>
<div class="adsmgr-col col-left">
  <ul class="adsmgr-leftnav">
    <li class="selected audience" id="audience-gender" data-loadcontent="audience-locations.html">Location</li>
    <li id="audience-gender" data-loadcontent="audience-gender.html">Gender</li>
    <li id="audience-language" data-loadcontent="audience-language.html">Language</li>
    <li id="audience-platform" data-loadcontent="audience-platform.html">Platform</li>
    <li id="audience-interests" data-loadcontent="audience-age.html">Age</li>
  </ul>  
</div>
<div id="adsmgr-audience">
<!-- Load audience -->
</div>